[2014-01-20 23:21] luveti opened #1 "Application windows don't adjust position according to the desktop width/height"
The app window doesn't go back into view when I drag it offscreen, then change the size of the browser window. It just stays hidden until i resize the browser window again. This could be a big problem if your logging back into a session with a different sized monitor, and one of your windows/applications is completely off the screen

[2014-01-21 15:24] #1 closed, assigned to andersevenrud

[2014-04-29 14:29] pintman opened #3 "Icons missing"
It seems the icons are missing in the repository. The folder themes/default/icons/16x16 is empty but php-webserver.php relies on it.

[2014-04-29 14:51] #3 closed, assigned to nobody

[2014-05-20 05:54] jpacora opened #5 "Use express instead native HTTP.js module"
Why not use Express instead native HTTP module? With express, its more easy to understand your code :)

[2014-05-30 14:27] howardroark2018 opened #6 "An awesome effort!"
Nice project, I must say. Is this project using any specific java script framework as such? I mean, like for example DoJo Framework?

   Also, as much as I could find out, the previous version was MIT licensed, which is really awesome! Is the 2.0 version also MIT??

Thanks & Keep it up!!

Anime.sh

[2014-06-21 18:10] loretoparisi opened #7 "Main Menu's Items Stay Selected"
On

Chrome Version 35.0.1916.153 / MacOS 10.9.2

as soon as some Menu item has been selected and digging with new windows, coming back to the Menu, will show all menu items selected.
This will disappear when opening new windows.

[2014-07-09 21:08] #6 closed, assigned to nobody

[2014-07-09 21:09] #7 closed, assigned to nobody

[2014-07-09 21:09] #5 closed, assigned to nobody

[2014-07-30 10:10] adamjackiw opened #8 "Advertisement Cannot be Clicked"
I haven't investigated it thoroughly but it's being overlapped by something. Changing the z-index on #OSjsAds from 1 to 2 fixes the problem.

[2014-07-30 11:54] #8 closed, assigned to nobody

[2014-11-05 18:38] andersevenrud opened #9 "[VFS] Google Drive Implementation"
The VFS Module is in place and is mostly complete, except for these missing features and/or bugs.
GoogleDrive does not have the traditional folder-file structure and instead uses Labels. This is an attempt to emulate the former.
- [x] Read
- [x] Write
- [x] Upload
- [x] Download
- [x] Scandir
- [x] Delete
- [x] Copy from/between OS.js
- [x] Copy from/between GoogleDrive
- [x] Some translations are

[2014-11-05 18:40] andersevenrud opened #10 "[VFS] Other Google Drive Implementation Features"
These features needs to be added (See #9 for more):
- [ ] Add support for trash
- [ ] Add support to recover from trash
- [ ] Add support for modifying permissions
- [ ] Add support for modifying properties
- [ ] Add support for comments
- [ ] Add support for revisioning

[2014-11-05 18:41] andersevenrud opened #11 "[Server] Node.js Server"
Some features are still missing from the Node.js backend:

- [x] Add User/Sessions in Core API
- [x] Core Extension via config
- [x] Add missing "curl" API call support
- [x] Needs a cleanup
- [x] Add the same VFS security checks as in PHP server
- [x] Needs "example" handler
- [x]  Buffered file downloads/reads

[2014-11-05 18:43] andersevenrud opened #12 "Code Documentation"
**The old description was removed**

The current goal is to rework the documentation into JSDoc.

When this is done; full *ctags* support is available. Which is pretty cool as it makes autocompletion of the entire OS.js API avaialable in most editors/IDEs :)

Branch: https://github.com/os-js/OS.js/tree/jsdoc

**The entire codebase was already documented, this issue is just for the rewriting of syn

[2014-11-05 18:51] andersevenrud opened #13 "[Dialogs] Dialog Refactoring"
These dialogs needs some refactoring:
* [ ] File

Also these features needs to be looked at again:
* [x] Buttons

*This would require a few changes to the implementations of StandardDialog... which is quite a few*

- [x] src/javascript/dialogs/alert.js
- [x] src/javascript/dialogs/applicationchooser.js
- [x] src/javascript/dialogs/color.js
- [x] src/javascript/dialogs/confirm.js
- [x] src/javascri

[2014-11-05 18:58] andersevenrud opened #14 "Core Translations"
OS.js is lacking in the Translation department. There is a separate issue for Applications: #18

[Full instructions on Wiki](https://github.com/andersevenrud/OS.js-v2/wiki/Join-the-translation-team)

**NEEDS UPDATE AFTER 1 JAN 2015**

## In progress

- [x] English (en_EN)
- [x] Norwegian (no_NO) @andersevenrud
- [x] German (de_DE) @danielang
- [x] French (fr_FR) @emersion
- [x] Russian (ru_RU) @Fa

[2014-11-05 19:06] andersevenrud opened #15 "Core Features, Packages and Themes"
Issue for core features and default packages

Related issues:
- Questions, submissions, discussions and suggestions (#49)
- Translations (#18)
- ~~Next-Generation UI (#136)~~
- Node.js Server (#11)

## Server

## Client

## CoreWM

- [ ] Custom keyboard binding shortcuts
- [x] Rewrite panel configuration Kudos @RyanRiffle
- [ ] Finish multiple panel implementation
- [x] ~~Finish panel item setting

[2014-11-05 19:08] andersevenrud opened #16 "Windows with iframes block certain events"
Using an IFrame in a window blocks some events, like mousemove when moving a window -- it blocks and locks the movment.

A simple fix for this would be to simply create a transparent window overlay on top-zindex when unfocused. (needs DnD support)

Where it occurs:
- Writer

[2014-11-05 20:15] andersevenrud opened #17 "[Dialogs] Unclear error messages in ErrorDialog"
In some cases users are using the bugreport utility to report normal error messages. This is probably caused by confusion regarding the texts in the standard error dialog. Change this to be a lot clearer.

An example would be the Chat applications. If the user has not configured the app correctly an error will appear, but it says it "may be a bug"... which is not the case.

Possible causes:
- The

[2014-11-05 21:35] #16 closed, assigned to nobody

[2014-11-05 21:44] andersevenrud opened #18 "Translations"
For anyone that wants to do translations, read this first:

https://manual.os-js.org/v3/guide/translate/

Then comment on this issue if you want to join the translation team :nerd_face:

---

**This section will be updated as translations are added**

Core translations are located in `@osjs/client` within the folder `src/locales/`.

All packages ending with `-application` has a `metadata.json` fil

[2014-11-05 21:48] andersevenrud opened #19 "[Themes] Default themes and implementation"
Planned changes for themes:
- [ ] ~~Rewrite LESS variables. It's a bit messy right now and I don't like the names of the variables either. This can all be generalized quite a bit. Would also minimize the actual use of custom CSS in the theme files. **Started on this March 1st**~~ #136

These are the included and planned themes:

* [x] Basic
* [x] Dark
* [x] Flat
* [x] Uncomplicated
* [x] Frosty Mi

[2014-11-06 21:25] andersevenrud opened #23 "[Core] Detect default language for non-english speaking users"
Some users might not know the English language very well. Maybe add language detection (very easily done by checking navigator object) for users outside English-speaking areas ?
- [x] Add this detection function to Utils namespace
- [x] Run detection pre-init and set a global in Locales namepace

[2014-11-06 21:40] andersevenrud opened #24 "Find some testers"
I have no testers to check for bugs and missing features :( Some people have said they wanted to do it, but have never actually got back to me after sending instructions etc.

This issue is for locating and maybe improving the way I try to find people willing to do this. Is it too scary, overwhelming or maybe something is unclear !?

No qualifications needed. Just someone who can test the online d

[2014-11-06 22:00] andersevenrud opened #25 "Documentation"
Main issue for Documentation of OS.js.

## Homepage

This is the main repository: https://github.com/andersevenrud/os.js.org

## Current

- [x] [Homepage](http://os.js.org/)
- [x] [Installation Documentation](https://github.com/andersevenrud/OS.js-v2/blob/master/INSTALL.md)
- [x] [Client API Documentation](http://os.js.org/doc/client/)
- [x] [Server API Documentation](http://os.js.org/doc/server/)

[2014-11-06 22:19] andersevenrud opened #26 "Hall of Fame"
This issue is for maintaining the [Hall of Fame](https://github.com/andersevenrud/OS.js-v2/wiki/Hall-of-Fame)

[2014-11-06 22:49] andersevenrud opened #28 "[VFS] Dropbox"
- [x] Read
- [x] Write
- [x] Upload
- [x] Download
- [x] Scandir
- [x] Delete
- [x] Fileinfo
- [x] Copy from/between OS.js
- [x] Copy from/between GoogleDrive
- [x] Translations for error messages etc
- [x] Notification Icon so user can revoke/sign out (Just like GoogleDrive has)
- [x] Authentication
- [x] Search/Find function
- [x] `freeSpace()` support

[2014-11-07 14:45] andersevenrud opened #29 "[Extensions] Broadway implementation"
This is something I have been thinking about for a long time and should be pretty straight forward now that Wayland/Broadway project is in full swing.
- [x] Create a new Package of type `extension` called _Broadway_
- [x] Re-create the broadway.js script in my own style
- [x] Create a new `Window` class of type `BroadwayWindow`
- [x] Implement full keyboard event handling
- [x] Implement full mous

[2014-11-09 01:27] #10 closed, assigned to nobody

[2014-11-09 02:11] andersevenrud opened #30 "UTF encoding in file transfer"
Ups. I messed up here somewhere and just found out Oo

The problem seems to be on the server-side since client always writes with correct encoding (that's a relief)

[2014-11-09 14:20] #30 closed, assigned to andersevenrud

[2014-11-09 15:47] #23 closed, assigned to nobody

[2014-11-09 15:57] #17 closed, assigned to andersevenrud

[2014-11-10 16:02] andersevenrud opened #32 "Firefox launch problems"
Firefox is having trouble starting up... seems like the onload event is not triggering. Stuck on the loading spinner -- no messages!

Refresh fixes it ?!

[2014-11-10 16:14] #32 closed, assigned to nobody

[2014-11-10 17:07] andersevenrud opened #33 "Firefox Developer Edition - Flex not working properly ?!"
Not sure if this is a OS.js bug or a Firefox bug yet, but Flex does not seem to work propery.
You can see the errors on:
- Panel clock
- FileManager Paned View

[2014-11-10 18:50] #33 closed, assigned to nobody

[2014-11-12 18:25] andersevenrud opened #34 "[Core] WebSocket alternative to AJAX"
I already know this works because I have experimented with it in the past, but decided to remove it because of the way it was implemented (codebase is much better to work on now :). This mode wil only be available in Node backend.

This needs to be re-done

- [x] Add *connection* to `build.json`
- [ ] Create new abstraction in `server.js`
- [ ] Split out to `connections/http.js`
- [ ] Split out to

[2014-12-17 19:11] rbarros opened #37 "Have you thought of using LESS or SASS ?"

[2014-12-18 15:09] #37 closed, assigned to nobody

[2014-12-22 17:24] CtrlC-Root opened #38 "[Backend] Python?"
I know a lot of people, myself included, that would prefer to avoid PHP and Node anywhere in our deployments if at all possible. Would anyone other than me be interested in a Python server backend?

[2014-12-26 20:00] andersevenrud opened #40 "[VFS] Google Drive"
This was split out from #9
- [x] Basic VFS abstraction (like scandir, read write etc)
- [x] Add support for trash
- [x] Add support to recover from trash
- [x] Add support to empty trash
- [ ] Implement Trash into FileView
- [ ] Add support for modifying permissions
- [ ] Add support for modifying properties
- [ ] Add support for comments
- [ ] Add support for revisioning
- [ ] Support for multipl

[2014-12-26 20:03] #26 closed, assigned to andersevenrud

[2014-12-29 18:32] andersevenrud opened #41 "[VFS] Uploading non-unicode text files"
Uploading (ex) ANSI-encoded text files will not work well. Example is Windows using Notepad.

[2014-12-29 18:59] #9 closed, assigned to andersevenrud

[2014-12-31 00:40] #41 closed, assigned to andersevenrud

[2014-12-31 20:52] andersevenrud opened #42 "[Helpers] Windows Live API"
Add support for *Windows Live API*.

- [x] Add to build.json
- [x] Provide Helper Module
- [x] Login via Popup
- [x] Scope loading
- [x] Localization

[2014-12-31 20:53] andersevenrud opened #43 "[VFS] Microsoft OneDrive"
With the implementation of _Windows Live API_ (#42) support for OneDrive is possible

**THIS IS EXPERIMENTAL BUT WORKING**

**[Apparently SkyDrive does not support MIME, but we can get around this](https://social.msdn.microsoft.com/Forums/onedrive/en-US/076703d3-a7de-4195-b191-1db9fdb04b32/how-to-get-the-mimetype-of-a-file-in-skydrive?forum=messengerconnect)**

**[Also, there seems to be no way of

[2015-01-01 19:24] #42 closed

[2015-01-03 19:18] andersevenrud opened #44 "[Dialogs] FileDialog sets default directory on error"
How to reproduce:

* Open file save dialog
* Go to a directory (not default)
* If an error occurs when saving, try save again
* Now it will check default directory

[2015-01-04 00:45] andersevenrud opened #45 "[Core] Move some functions out of Handler"
These functions can be moved into `API` instead for convenience:

* `Handler::getIcon()`
* `Handler::getThemeCSS()`
* `Handler::getThemeResource()`
* `Handler::getApplicationResource()`

[2015-01-04 00:58] #45 closed

[2015-01-04 21:34] #44 closed

[2015-01-04 23:14] RyanRiffle opened #46 "[Application] Word Processor (Poe)"
I am not trying to advertise myself or my project, but I think OS.js would be a great home for my web based word processor. It may need reworked some to conform to the project however, you can view the [demo](http://ryanriffle.github.io/Poe/demo/app.html). Any thoughts on the idea would be great.

[2015-01-04 23:40] christopherdumas commented on #46
Your word processor looks awesome!

[2015-01-05 00:36] andersevenrud commented on #46
@RyanRiffle That looks awesome! Gotta go to bed now, but I will clone this tomorrow and have a go at it :)

[2015-01-05 14:02] RyanRiffle commented on #46
Awesome! Thanks. I havent got a chance to look hard at the application api to see how it can be integrated better, but I believe it would not be too bad

[2015-01-05 22:15] andersevenrud opened #47 "[Dialogs] FileDialog - Progress indicator for all VFS modules"
Currently, upload progress is only for uploads on OS.js deployed servers. Ever since *alpha46* VFS modules all support this, but is not implemented in any way.

**NOTE** When copying from different sources (internal module => external module) VFS will first copy the file into memory then upload to destination. In these cases we would have to split the progress in two parts

[2015-01-05 22:25] RyanRiffle commented on #34
Thoughts on using Socket.io? It provides both through one interface.

[2015-01-05 22:32] christopherdumas commented on #34
+1 Socket.IO I used it in a chatting application that I built for fun. Very nice API.

[2015-01-05 23:08] andersevenrud commented on #34
@RyanRiffle I was thinking of (ws)[https://github.com/einaros/ws], but have not decided yet. From what I can gather this is the fastest and slimmest module of them all. It lacks support for fallback, but in this case it does not matter. I have tried quite a few of the alternatives, and Socket.IO is the second in my list... unless someone convinces me otherwise ;)

[2015-01-05 23:25] andersevenrud opened #48 "OS.js Logo Suggestions"
A collection of logos and suggestions from users. If you have any input or suggestions, add them here :D

[2015-01-05 23:25] andersevenrud commented on #48
*utuxia* on reddit sendt me [this](https://www.dropbox.com/sh/2rb9mdclhx0zr6p/AABO74WA1HUPVpCYQBJYlaADa?dl=0) one:

!(preview)[https://photos-3.dropbox.com/t/2/AAD9gLF1Dli_N8Da6792_ZDcCcZ9HaiHuVDSCoiAg7LAjQ/12/338122115/png/32x32/3/1420506000/0/2/logo-2.png/CIOrnaEBIAEoASgC/SJAJ4JZtQXTKp6nU3XDHQPR_HmSiawe_miNWbPOY9YQ?size=1600x1200)

[2015-01-05 23:38] RyanRiffle commented on #34
The main reason I suggested Socket.IO was, in my opinion, that it would make the api code clear and concise. From what I gather from ws is that it is just a websocket implementation. Socket.IO has ajax polling and websockets allowing for one object prototype to handle both without having to provide two separate implementations for all api calls. Granted I have not done much research on ws aside fr

[2015-01-05 23:43] andersevenrud commented on #34
@RyanRiffle That was the *fallback* i was talking about. In this case it does not matter because OS.js will use the appropriate one. (API::call() is the abstraction function which will detect based on configuration and/or compability depending on how the user built OS.js)

[2015-01-05 23:46] andersevenrud commented on #34
@RyanRiffle I was not very clear on that... API::call() is the function which is called everywhere in the code to communicate with the server process. This function is abstract and will either use the connection method that has been configured by the deployer. The configuration supports: ajax, websocket and automatic

[2015-01-05 23:53] andersevenrud commented on #34
@RyanRiffle The main reason I'm looking at *ws* is that it looks to be really lightweight and will not introduce anything redundant. I already have a AJAX-connection handler and I really just need a raw websocket implementation. I do not care about support for older browsers and client libraries (which is mostly used because of backward compability) so this seems like a good choice.

[2015-01-05 23:54] RyanRiffle commented on #34
Ohh I understand now. I am still parsing through the projects code, I must not have understood completely. That would not be too bad then. Sorry about that.

[2015-01-05 23:59] andersevenrud opened #49 "[Misc] Questions, submissions, discussions and suggestions"
This is an issue for general discussion and problem sovling.  You can also post your submissions here if you're not into pull requests and such.

**Join the official [chat room](https://gitter.im/andersevenrud/OS.js-v2) on Gitter :)**

# FAQ

First, look through the documentation and see if you can find anything that might help you :)

- https://github.com/andersevenrud/OS.js-v2/blob/master/INSTAL

[2015-01-06 00:00] andersevenrud commented on #34
@RyanRiffle No worries. I appreciate the input. It has been hard to get any input from the public; and to start a discussion is even harder. So, if you have anything on your mind about this project let me hear it :) If you have any questions at all regarding how OS.js works on a low level (like exactly this) i just opened up issue #49

[2015-01-06 00:08] RyanRiffle commented on #49
@andersevenrud First what is the directory structure? Is API intended to be 'subclassed' or is it more on the procedural level, and is there a client and server implementation of each api?

[2015-01-06 00:09] RyanRiffle commented on #49
@andersevenrud I would really love to get started working on the project. (I actually just started basically the same thing until I found this)

[2015-01-06 00:16] andersevenrud commented on #49
@RyanRiffle It's pretty simple. You have:

* `src/javascript` The thing you load in your browser. Split up into appropriate subfolders
* `src/server-php` PHP Server implementation
* `src/server-node` Node Server implementation

The *server* part of OS.js is extremely simple. You pretty much just have to serve the css and js files and have support for calling some sort of API. In this case it is VF

[2015-01-06 00:20] andersevenrud commented on #49
@RyanRiffle To further go into *serving files*. Currently OS.js does this with HTTP, including the Virtual File System (downloading and uploading of files in browser. Like using REST). This is probably completely obvious since it's served via HTML, but I thought I should mention it.

[2015-01-06 00:24] RyanRiffle commented on #49
@andersevenrud Thanks! I am looking over the code now, if I have any questions I'll ask. I might have a few :smile:

[2015-01-06 00:31] andersevenrud commented on #49
@RyanRiffle In case you have not figured it out, look at [this](https://github.com/andersevenrud/OS.js-v2/wiki/Installation-and-Configuration#building-and-distributions) wiki document that explains the difference between the `dist` directories. Using `dist-dev` is pretty much required if you're going in there with a debugger in your browser to get a feel of things.

Looking forward to any question

[2015-01-06 00:37] RyanRiffle commented on #49
@andersevenrud What is the primary goal of OS.js? Is it to be interfaced with virtual machine, just use the user's dropbox, drive, etc, a desktop environment for X11 or even all of the above?

[2015-01-06 00:46] andersevenrud commented on #49
@RyanRiffle All of the above :) It has a pretty long history but has evolved to do all of this. After the introduction of *Broadway* (#29) you can run this as an X11 environment or even use it as remote desktop in your browser (ala VLC). Not to toot my own horn, but I think that is pretty cool.

[2015-01-06 00:49] RyanRiffle commented on #49
@andersevenrud That is pretty amazing. I plan on helping as much as I can, but starting January 20th I will be unable to access a computer for a minimum of two months, but I will come back. This is something I have wanted to do for a while now.

[2015-01-06 00:52] christopherdumas commented on #48
yes i see the artifact.

[2015-01-06 00:59] andersevenrud commented on #49
@RyanRiffle I wrote *VLC* in the last comment, but I meant **VNC** (corrected). This is something I started experimenting with as a teenager (IE5 *shudders*), but browser tech was not just there yet (. So for me; this is pretty exiting for me too :) Just take your time -- I'll be here (unless death himself has me on his list) :smile:

[2015-01-06 01:15] andersevenrud commented on #46
@RyanRiffle  I've had a quick look at this (source-code).

To make this fit into OS.js the "right way" one would have to:

* Make it possible to hook in custom functions for loading/saving files (XHR)
* Detach toolbar from the editor and use OS.js provided GUI and add appropriate callbacks
* Remove global onload handler and instead provide (ex) `Poe.init()` instead

Thoughts ?

[2015-01-06 01:34] andersevenrud opened #50 "[Core] Move GUI::getFileIcon() to API namespace"
As title says

[2015-01-06 01:36] andersevenrud opened #51 "[Core] Move handler's classes into Helper namespace"
The `OSjs::Handler` namespace is currently populated with the handler helper classes. These should be moved into `OSjs::Helpers` namespace instead. Also make these singletons!

[2015-01-06 03:57] MrSchism commented on #46
Guess my other post didn't stick.

I was going to suggest cannibalizing parts of Etherpad, but this fits the use case far better.

I'm going to fiddle with Poe a bit.  There are a few features I'm going to attempt to add/fix (No promises; my JS skills aren't great).

[2015-01-06 16:49] RyanRiffle commented on #46
@andersevenrud
* Opening and loading of files is still something that needs to be done almost completely in Poe, so loading/saving is still open for any kind of setup.
* The toolbar should be easy to move over, since all it does is hook up the buttons to simple functions that use Poe.TextCursor to modify the document.
* The Poe.init() is a good idea.
* Fonts however I am wondering. Poe.FontManager

[2015-01-06 18:33] andersevenrud commented on #46
@RyanRiffle

[code]

Good. OS.js has internal methods for handling this and it would be best to do it this way (think saving on the cloud etc)

Dynamic toolbars is no problem if it is possible to provide the appropriate messaging and callback functions :)

This is correct, OS.js just has a list of web-fonts by name. It can also refer to custom fonts, but all the magic is in CSS's @font-face. Would

[2015-01-06 18:36] andersevenrud commented on #46
@RyanRiffle ops. A tiny mistake in the last code example. Correction:

[code]

[2015-01-06 21:23] #50 closed

[2015-01-07 00:13] MrSchism commented on #46
Depending on how it goes (I'm just now picking up coffeescript), I may try to translate parts of it to js.  I've got a new term of courses starting on the 12th and I'll probably need something to do while sitting around on campus.

[2015-01-07 00:29] RyanRiffle commented on #46
@andersevenrud I am working on it.

[2015-01-07 03:26] RyanRiffle commented on #46
@andersevenrud I need a way to get a move event from the window in order for the caret in the editor to work correctly. Any way that is easily possible? I do not see a hook for that. Also is there a method for getting the window's z-index, I might be missing it. It looks like there is a getNextZindex but that is hidden inside the scope of Windows.js

[2015-01-07 15:10] andersevenrud commented on #46
@RyanRiffle Thanks for that comment. I seem to never have had any use for that, but it is pretty obvoius someone else would. Pull the latest changes and you will be ready to go

[code]

[2015-01-07 15:11] andersevenrud commented on #46
@RyanRiffle If you used `./obt create-package Poe` you should have a template ready for use in `src/packages/Poe` with all you need

[2015-01-07 15:55] RyanRiffle commented on #46
@andersevenrud I already have a window showing up with the editor, I am setting up the toolbar at the moment. Thanks for all your help.

[2015-01-07 16:00] andersevenrud commented on #46
@RyanRiffle Nice. If you have any comments or suggestions on the application creation part of things feel free to leave them in #49. I know stuff is lacking in the documentation department, but looking at other applications might give you an idea. Also, if you look at fex. *Textpad*: that application uses the helper class `DefaultApplication` (`src/helpers/default-application.js`) as it's base ins

[2015-01-07 16:08] RyanRiffle commented on #46
Yea, I have been using Writer as a reference, since it has a toolbar. Other than that setting up the application is pretty straightforward. I plan on requesting pull requests on your code once I am done doing this with more documentation in the code.

[2015-01-07 16:51] andersevenrud commented on #46
@RyanRiffle Cool. Looking forward to that :smile:

[2015-01-07 17:06] RyanRiffle commented on #49
@andersevenrud What are you thoughts on a toolbar dropdown? I do not see one. The only thing is see that might be a problem is that toolbar.js just handles an object of (title, icon, and toggleable) and puts them in a <ul> then hooks up the event callbacks. It looks to me that if toolbar handled objects of the prototype OSjs.GUI._Input the toolbar would be more versatile and abstract away the dom

[2015-01-07 17:55] andersevenrud commented on #49
@RyanRiffle Actually, you can add whatever you want to the toolbar. Again... my bad on the documentation here.

[code]

[2015-01-07 17:58] RyanRiffle commented on #49
I see. Thank you. I need to look a little harder :smile:

[2015-01-07 18:05] andersevenrud commented on #49
@RyanRiffle Thank you for this. So many people have contacted me saying they want to (and will) create some apps, but then it goes totally silent. Either my code is too scary, ugly or way to undocumented. AFAIK I'm using relatively well known JS patterns and try to be as explicit as possible. It may be a combination of all the above :p Getting to my point: This really helps me make changes that ma

[2015-01-07 19:57] RyanRiffle commented on #49
@andersevenrud Not a problem. The documentation is a little of a throw off. My question is what doc generator do you use or want to use on the project (for when I start trying to help add some more documentation)?

[2015-01-07 20:14] andersevenrud commented on #49
@RyanRiffle Basically, there is none. I want to wait unti I have gotten some feedback so I can solidify the API and base code. I don't like re-writing docs -- it's a mess (Frequently occur at work)!

I have not desided what generator to use yet. To be honest, I don't like any of the ones I have tried. If you know of a good one, let me know. In the past I have just rolled my own.

[2015-01-07 20:20] RyanRiffle commented on #49
@andersevenrud I just looked and I am really not impressed with any either. Poe uses codo, very simple and crude but effective, but it is only for coffeescript.

[2015-01-07 21:10] RyanRiffle opened #53 "Move _Input, _DataView, and GUIElement into their own files"
They are the basis of the gui, and I can see why they are in gui.js but having them in their own files reduces the clutter, and makes the code easier to parse. It also helps that all other constructor prototypes are in their own file so following suit makes it easier for someone just getting started finding what they are looking for. GUIElement maybe not so much.

[2015-01-07 21:11] andersevenrud commented on #49
@RyanRiffle I just commited some docu for 'core.js'. If you look at it I have added some very simple comments that I can easily prase with a script. I might go that way

[2015-01-07 21:20] andersevenrud commented on #53
You're right. I think I will keep the base class `GUIElement` in there along with `createDraggable` and `createDroppable`. I was thinking about moving these functions to the `OSjs.API` namespace also. I have moved all the other GUI functions in there (like getIcon,getThemeResource etc).

What do you think ? Should I add all the helper functions into there as well ? That way 'gui.js' can be renamed

[2015-01-07 21:22] andersevenrud commented on #49
@RyanRiffle You probably know this, but to get an overview over the entire API, just open your JavaScript console in the browser and type in "OSjs" and press enter. From there you can see the entire API tree. When you enter a class just expand the "prototype" leaf to see all the class methods

[2015-01-07 21:26] RyanRiffle commented on #49
@andersevenrud Yea I know. Thanks anyway

[2015-01-07 21:29] RyanRiffle commented on #53
I think that would work out better. It is always a good idea to have each class in its own file. The helper functions in OSjs.API namespace and renaming gui.js. Alsoit would also be a good idea to divide the API into more namespaces. The process helpers like launch, kill, getProcess, getProcesses etc. could be in API.Process and so on and so forth.

[2015-01-07 21:42] andersevenrud opened #54 "Subdivide OSjs.API namespace"
**MOVED TO #49**

@RyanRiffle mentioned in #53

I think this is a really good idea. This way we could have:

[code]

Input ?

Refactor is easy:

[code]

[2015-01-07 21:42] andersevenrud commented on #53
That is a really good idea actually. Opened #54

[2015-01-07 21:47] RyanRiffle commented on #46
@andersevenrud What would you think of being added as a collaborator on Poe? As the readme says I am going to be gone for a few months and I would like for someone to be able to accept pull requests and what not in the event someone does help out, instead of thinking the project is completely dead

[2015-01-07 22:02] #53 closed

[2015-01-07 22:03] andersevenrud commented on #53
@RyanRiffle Just patched this in. Namespaces all updated :smile:

[2015-01-07 22:03] andersevenrud commented on #46
@RyanRiffle Sure thing, man :)

[2015-01-07 22:04] RyanRiffle commented on #46
@andersevenrud Thanks :)

[2015-01-07 22:13] RyanRiffle commented on #54
Sounds great to me. Also maybe provide an api directory inside javascript. Then say for OSjs.GUI provide src/javascript/API/gui.js which would hold all OSjs.GUI.* functions

That way they are easy to relate from the loaded scripts e.g. using developer tools and the source code.

[2015-01-07 22:17] andersevenrud commented on #54
These functions are so small that I think it would be more appropriate to rather create `api.js` with all said functions, and leave `core.js` for the base classes and protected global events etc (that cannot be called via API)

[2015-01-07 22:22] RyanRiffle commented on #54
That sounds good also.

[2015-01-07 22:58] andersevenrud opened #55 "[Core] Split up core.js file"
Currently it contains all base classes and API functions. It would be nice to split these to:

* `api,js` *API methods*
* `application.js` *class*
* `service.js` *class*
* `dialog.js` *class*
* Move current `dialog.js` to `dialogs/_default.js` *class*
* Move init, signout, shutdown into API ?

This would involve getting rid of some 'global' variables (look at the top of core.js). These are shared

[2015-01-08 00:44] andersevenrud opened #56 "[VFS] Abort if file is to big upon upload in client"
Currently the internal uploads are checked on the server if they are too big. This is mostly a PHP thing, but it would be nice to detect this before upload occurs to prevent long loading times and then just get an error in your face.

Should be np

[2015-01-08 01:47] RyanRiffle commented on #49
Is GUI.Select meant to not show the currently selected value? Even with an option having the "selected" attribute it does not show any value.

[2015-01-08 14:38] andersevenrud commented on #49
@RyanRiffle Not sure I understand. GUI.Select.setValue() ?

[2015-01-08 15:09] RyanRiffle commented on #49
No value is show. <a href="http://tinypic.com?ref=kbdr29" target="_blank"><img src="http://i60.tinypic.com/kbdr29.png" border="0" alt="Image and video hosting by TinyPic"></a> Select.setValue() would be nice if it returned a boolean value also. Looking at the dom in inspector no item has the selected attribute. Even setting the selected attribute no value is shown in the dropdown.

[2015-01-08 15:12] andersevenrud commented on #49
I am not using the DOM attribute, but rather "selectedIndex" property. Example code:
You're using:

[code]

[2015-01-08 15:15] RyanRiffle commented on #49
Yes,
[code]

[2015-01-08 15:21] andersevenrud commented on #49
Maybe it is because it has not been added to DOM at that moment? Kinda puzzled here.

Try:
[code]

[2015-01-08 15:22] andersevenrud commented on #49
Where `window` is a OS.js Windows and not the global

[2015-01-08 15:24] RyanRiffle commented on #49
I have that. I just omitted it. It is in the DOM, it is in the picture. And toolbar.render() is called before even the loop that adds the items.

[2015-01-08 15:25] andersevenrud commented on #49
How does it look inside of the <select>. Does it have <option>s ?

[2015-01-08 15:26] andersevenrud commented on #49
How does it look inside of the `<select>`. Does it have `<option>`s ?

[2015-01-08 15:27] RyanRiffle commented on #49
Yes options are there, that is why I tried to set the selected attribute on one of them. Im puzzled

[2015-01-08 15:27] andersevenrud commented on #49
I'm going to try this for myself now. Hang on!

[2015-01-08 15:31] RyanRiffle commented on #49
[Link to my source](https://github.com/RyanRiffle/Poe/blob/master/coffee/OSjs/Toolbar.coffee)

[2015-01-08 15:33] andersevenrud commented on #49
Lol. It's because the outer container for GUISelect is too small.

My test:

[code]

And then in CSS
[code]

[2015-01-08 15:34] RyanRiffle commented on #49
I wondered about that :) Good that it is all figured out.

[2015-01-08 15:36] andersevenrud commented on #49
I should maybe enforce some rules on minimum sizes of all GUI Elements

[2015-01-08 15:37] RyanRiffle commented on #49
Yea that would work.

[2015-01-08 22:33] andersevenrud commented on #12
@RyanRiffle As you can see above I have started on the documentation. Just thought I would give you a heads' up if you were going to check out the VFS (some minor changes also, but for the better)

[2015-01-08 22:57] RyanRiffle commented on #12
Awesome Thanks! I will check it out.

[2015-01-10 23:46] andersevenrud commented on #12
@RyanRiffle I have created a simple parser for the code documentation. Not anywhere near finished, but it's a good start. What do you think ? :)

http://andersevenrud.github.io/OS.js-v2/documentation/

[2015-01-11 01:43] RyanRiffle commented on #12
@andersevenrud Honestly it is a major relief just to have the function declarations easy to find, even if they do not have a description. It's looking good. I still need to try and help some with that. I'll look tomorrow, its bed time for me.

[2015-01-11 01:49] andersevenrud commented on #12
@RyanRiffle Yeah. It really does make a huge difference!

I just uploaded the latest generation of docs, so check it out tomorrow. It looks a bit better now and texts should be a lot clearer :smile:

Same here, man. Way past my bedtime, hehe.

[2015-01-12 21:09] andersevenrud commented on #48
A guy at work made this for me. I think it looks teh balls!

![Logo](https://raw.githubusercontent.com/andersevenrud/OS.js-v2/master/doc/logo-horizontal.png)

![Logo](https://raw.githubusercontent.com/andersevenrud/OS.js-v2/master/doc/logo.png)

Sources is in the repo -- just commited!

[2015-01-12 23:00] MrSchism commented on #48
I like it!

We should change the toolbox icon in on the panel to be the "gem" of the logo.

[2015-01-12 23:00] andersevenrud commented on #48
@MrSchism That is a very good idea. Thanks :+1:

[2015-01-12 23:18] andersevenrud commented on #48
@MrSchism It has now been added. I might have to experiment with the colors to make it contrast nicely with the panel :smile:

[2015-01-12 23:34] andersevenrud commented on #48
@MrSchism The homepage has also been updated. Check it out! :)

http://andersevenrud.github.io/OS.js-v2/

[2015-01-12 23:36] MrSchism commented on #48
Maybe wrap it in a cream circle... or make the logo off-white with a bar-colored circle.  That way, if someone makes the panel transparent or white, it still shows.

[2015-01-12 23:38] andersevenrud commented on #48
@MrSchism Something like that may work. I'll look more at it tomorrow :)

[2015-01-13 00:18] MrSchism opened #58 "[CoreWM] Panel color/transparency in settings"
Panel is currently set to a static color.  Making this able to be customized would be really nice.  It would complicate things for the logo ("start" button).

[2015-01-13 00:26] andersevenrud commented on #58
This should be no problem at all. Thanks!

[2015-01-13 00:26] MrSchism commented on #15
@rlamana made a great HTML5/CSS/JS window manager called [Ventus](https://github.com/rlamana/Ventus).  He also made a nifty project called "[Terminusjs](https://github.com/rlamana/Terminus)") which might be worth taking a gander at.

Terminus could probably work really well with OS.js

[2015-01-13 00:35] andersevenrud commented on #15
@MrSchism Yeah, I saw Ventus some time ago.

I actually made a shell for the previous OS.js version that worked pretty well, but the code was pretty bad. Terminusjs seems really nice and could be included for sure. Maybe I should create a tutorial on how I would go ahead and do it ? That could be a nice reference for anyone that wants to get started on app development. The new homepage could reall

[2015-01-13 01:08] MrSchism commented on #15
Which other ones were you looking at?

Personally, I'd be happy with an extremely limited set of commands.  Too many commands... or too much complexity in the commands... could potentially slow the system and/or potentially increase security concerns.

[2015-01-13 14:12] andersevenrud commented on #15
@MrSchism
For example this one: https://github.com/liftoff/GateOne

The commands in this case will be a wrapper for the API functions

That is nothing to worry about. Nothing will slow down even if there was a million of them :)

And about the security, the only place where this can be of a concern is the Virtual Filesystem (for example if they break out of the system and read/modify system files)

[2015-01-14 18:54] andersevenrud commented on #58
@MrSchism Just commited some changes that will allow you to change both the background and opacity of panel :smile:

[2015-01-14 18:54] #58 closed

[2015-01-14 19:05] #56 closed

[2015-01-15 23:18] andersevenrud commented on #48
Closing for now. If something else arrives, I will reopen

[2015-01-15 23:18] #48 closed

[2015-01-18 20:09] andersevenrud commented on #13
I'm closing this for now and splitting up into a separate issue later

[2015-01-18 20:09] #13 closed

[2015-01-19 00:05] #55 closed

[2015-01-19 00:43] andersevenrud opened #59 "Move some API functions"
These functions need to be moved

- [ ] `OSjs.API.getWMInstance() => OSjs.Core.getWindowManager()`
- [ ] `OSjs.API.getHandlerInstance() => OSjs.Core.getHandler()`
- [ ] `OSjs.API.getAnimDuration() => WindowManager::getAnimDuration()`
- [ ] `OSjs.API.getWindowSpace() => WindowManager::getWindowSpace()`

[2015-01-19 01:00] #59 closed

[2015-01-19 23:51] andersevenrud opened #60 "[API] Rename dialogs from "FooDialog" to "Foo""
Currently the namespace is a bit redundant. You have to do `Dialogs.AlertDialog`. `Dialogs.Alert` is much nicer!

[2015-01-19 23:54] andersevenrud commented on #60
A giant derp on my part. Documentation headers are wrong!

[2015-01-19 23:54] #60 closed

[2015-01-22 16:15] PewienTyp commented on #49
Hi all.
Its posible to make start menu (Touch friendly) like this?
![](http://i.imgur.com/ZpNsM9h.png)

[2015-01-22 16:36] andersevenrud opened #61 "[CoreWM] New touch-friendly application menu"
The current application menu is kinda boring, and small.

User @PewienTyp in #49 reminded me of this.

[2015-01-22 16:36] andersevenrud commented on #49
@PewienTyp Sure. I can do that :smile: Just opened an issue for this: #61

[2015-01-22 18:26] andersevenrud commented on #61
Would something like this work ? Or is it missing something ? :smile:

![Screenshot](http://i.imgur.com/IlCSlh8.png)

[2015-01-22 18:40] PewienTyp commented on #61
with this arrow it would be perfectly
![](http://i.imgur.com/UTCG7ef.png)

[2015-01-22 18:54] PewienTyp commented on #49
when i run os.js in chromium/nw.js on ubuntu and debian after 5 seconds system lagg and crash. I don't know why. Works only in firefox.

[2015-01-22 19:07] PewienTyp opened #62 "Scroolbar"
Example http://jsfiddle.net/7p9d9om8/

[code]

[2015-01-22 19:42] andersevenrud commented on #61
@PewienTyp The arrow has been added.

![Screenshot](http://i.imgur.com/almnM0i.png)

Test it here: http://osjsv2.0o.no

[2015-01-22 19:56] andersevenrud commented on #62
This is already implemented :)

[2015-01-22 20:10] andersevenrud commented on #49
Maybe a bug ? Sounds like a memory leak! I had similar problems with semalt.com in Linux/Chromium!

[2015-01-22 20:10] andersevenrud commented on #49
Chrome bug I mean

[2015-01-22 21:19] #62 closed

[2015-01-22 21:29] andersevenrud commented on #49
@PewienTyp Just tested latest Chromium on Ubuntu 14. No problems here :/

[2015-01-22 21:33] PewienTyp commented on #49
Maybe my testung pc was crazy :)

[2015-01-22 21:37] andersevenrud commented on #49
@PewienTyp Yeah. I've experienced something similar a couple of times, but never found out why. To me it feels like a memory leak or a corruption caused by Webkit (this one time everything just froze and a buzzing sound came out of my speakers... like when a game crashes). If it occurs again, maybe you could take a look in syslog to see if any errors occured and paste it here ? Just if you can and

[2015-01-22 23:45] MrSchism commented on #61
It's not working on the demo yet... but the demo looks brilliant.

[2015-01-22 23:50] MrSchism opened #63 "[CoreWM] Customization of panel foreground color(s)"
Inspired by the update to #58.

Now that we can adjust the panel, the font color for the clock/button is incapable of being read at some colors.  A setting to make this customized might be nice.

![image](https://cloud.githubusercontent.com/assets/3085862/5867252/91e6fb14-a267-11e4-98a1-3f686ae3751a.png)

[2015-01-22 23:51] andersevenrud commented on #61
@MrSchism Yeah. I just realized it does not look as I intended. Chrome Device Emulator fooled me again :/ Will have to look more into it tomorrow. Thanks!

[2015-01-22 23:58] andersevenrud commented on #63
@MrSchism Thanks. I will add the option to invert the color (like on the iconview. It will use the background-color and invert it for max contrast) in combination with a custom color.

This really made me think that the Settings application needs some improvement. It's starting to fill up and looks very untidy (and possible "scary" or hard to use/read/understand). If you have any suggestions on th

[2015-01-23 00:23] MrSchism commented on #49
I'll give this a run through the ringer tonight.  If I can spot an issue with it, I'll open an issue.  Might be worth trying with gremlins.js

[2015-01-23 00:39] MrSchism commented on #63
We could move the opacity slider into the color selector for the panel to give some more room on the main settings page.

From there, we could either put a settings button next to the Panel Items box where you can select fonts OR you could add a box for button font colors with a checkbox in it for "dynamic font contrast" (or something to that effect) to allow it to automatically contrast.

[2015-01-23 00:46] MrSchism commented on #61
I stand corrected.  It's there, but not by default on my device.  I enabled it and it works.  Mea culpa.

On an aside, the arrow (and subsequently the menu) should come down a bit.  We may want add this to the documentation as optional.

[2015-01-23 01:16] MrSchism commented on #12
I'm looking forward to this being flushed out because I just went to fix a minor typographical error and couldn't even find the element it's in (or the bug itself) in source.

Bug, by the way, is on the GUITest > DnD screen where it says "Drag and drop **[an]** element"

[2015-01-23 11:37] andersevenrud commented on #12
@MrSchism What do you mean?

GUITest is an application and can be found in src/packages.

[2015-01-23 11:41] andersevenrud commented on #61
@MrSchism I removed the default settings as soon as you commented on it. I think I will make the "arrow" center on the button.

[2015-01-23 11:45] andersevenrud commented on #63
@MrSchism I was thinking more of a total rehault of the settings interface, but maybe there's not much we need to change here. Maybe it's best to simply split up the Panels tab into two: "Panel Items" and "Panel Style" ?

[2015-01-23 11:54] andersevenrud commented on #12
@MrSchism Also, "GUITest" is an external package in https://github.com/andersevenrud/OS.js-v2-expermiments

[2015-01-23 13:37] PewienTyp commented on #49
Please add fadeIn effect to notifications

[2015-01-23 13:49] andersevenrud opened #64 "[CoreWM] Animations/Effects for all elements"
Currently only Windows have the fade-in/out effect. This should also be applied to Menus and desktop notifications

[2015-01-23 13:49] andersevenrud commented on #49
@PewienTyp Thanks! Created new issue: #64

[2015-01-23 18:17] PewienTyp commented on #49
Its possible to make login screen with sessions?

[2015-01-23 18:35] andersevenrud commented on #49
@PewienTyp Yes. There is an example included for this :smile:

[code]

http://andersevenrud.github.io/OS.js-v2/doc/tutorials/create-handler.html

[2015-01-23 18:36] andersevenrud commented on #64
@PewienTyp This has now been added to the latest commit :smile:

[2015-01-23 18:36] #64 closed

[2015-01-23 18:45] andersevenrud commented on #49
@PewienTyp Ops. I had not pushed the latest changes to the tutorial. It has been updated

http://andersevenrud.github.io/OS.js-v2/doc/tutorials/create-handler.html

[2015-01-23 19:03] MrSchism commented on #61
Yeah, center and a bit lower (as to show most of the emblem) would probably look best.  We can screw around with this setting as much as needed.

[2015-01-23 19:11] MrSchism commented on #63
Looking at what we've got going here as compared to other, similar settings, splitting the Panels tab into two should work.  You could do a total overhaul if you'd like, but for now we can go simple and use the simpler version as a baseline from which to create the new UI.

The overhaul would take a while to produce and release.

Personally, I don't think an overhaul would be needed, but a unified

[2015-01-23 19:19] MrSchism commented on #12
Noted and fixed in a PR. (andersevenrud/OS.js-v2-expermiments#1)

[2015-01-23 19:50] andersevenrud opened #65 "[Settings] Redesign settings application"
Way to much clutter and text. Wasted space and air. It needs a redesign!

[2015-01-23 19:50] andersevenrud commented on #63
@MrSchism Well. A total overhault will only take me a few hours... and I got lots to burn this weekend ;) I will look into it and maybe do some mockups to see what looks the best. If you have any ideas or maybe some screenshots or something -- feel free to leave them in #65

[2015-01-23 20:05] MrSchism commented on #65
I do like our current settings, but the following should be considered:

Some of buttons aren't exactly easy to use on a touch interface.  Maybe a toggle to switch it to a touch-based interface would be beneficial. Going all-touch got Windows and Ubuntu into some hot water; it's best to learn from that.

We might be able to cannibalize from the settings page in Xubuntu.  It organizes settings into

[2015-01-23 20:13] andersevenrud opened #66 "[GUI] Toggleable switch"
Like the ones on iOS and Android.

[2015-01-23 20:16] MrSchism commented on #66
I assume that you mean to toggle between desktop and touch?

[2015-01-23 20:18] andersevenrud commented on #65
@MrSchism Yeah. I mainly focus on the desktop experience here, since it makes more sense. But because of laptops with touch and big-sized phablets it would be nice to at least make it easier to use in those cases.

Xfce was the inspiration of CoreWM (It has been my primary DE since early 2000), so I've thought of making it more like the settings page you mentioned (Xubuntu), but I would really lik

[2015-01-23 20:20] andersevenrud commented on #66
@MrSchism I was thinking more of this:

![Screenshot](http://369ua4hadd83hd6wi2pza696.wpengine.netdna-cdn.com/wp-content/uploads/2014/05/toggle-switch-2.png)

[2015-01-23 20:26] MrSchism commented on #65
Have all of the settings down the side, tabs in the main window?  That could work.

[2015-01-23 20:43] kwadroke opened #67 "Typo in Vagrantfile"
Line 31 in the current Vagrantfile has a typo for running npm to install packages. This causes issues with the themes css producing error 404s and not rendering the screen properly.

current: `nmp install`
should be: `npm install`

[2015-01-23 20:49] andersevenrud commented on #65
@MrSchism Just created a quick app for testing. Something like this probably

![Screenshot](http://i.imgur.com/e5Ejcur.png)

[2015-01-23 20:52] #67 closed

[2015-01-23 20:52] andersevenrud commented on #67
@kwadroke Thanks, man!

[2015-01-23 20:57] PewienTyp commented on #49
Desktop needs draggable (this will be good http://gridster.net/) icons and menu to make folders and shortcut like normal desktop. Widows need snap to corner function.

[2015-01-23 21:06] andersevenrud opened #68 "[CoreWM] Window snapping when dragging windows"
Add support for snapping of windows when they reach corners (Like Windows). Also make it snap to other windows ?

**TO REALLY NOTICE THIS, SET SNAPPING TO 10px+. THIS IS NOT FINISHED AND PIXEL-PERFECT YET**

- [x] Snapping to corners
- [x] Snapping to windows
- [x] Snapping settings item
- [x] Pixel-perfect snapping (Use the *outer* size of Window... basically the DOM rect)
- [x] Window snapping n

[2015-01-23 21:07] andersevenrud commented on #49
@PewienTyp You can enable desktop icon view in Settings. This supports dragging files etc. into it to create shortcuts. Come to think of it I should enable it by default (which I just did in latest commit).

You can snap windows to corners using keyboard shortcuts `ALT + ARROW-KEYS`, but I can add support for it with movment: issue #68

[2015-01-23 21:14] PewienTyp commented on #49
I enable icon view, but icons not sortable .

[2015-01-23 21:15] andersevenrud commented on #49
@PewienTyp At the moment they are not. I will add this on the TODO list for the future.

[2015-01-23 21:18] andersevenrud opened #69 "[CoreWM] Sortable Desktop IconView"
As @PewienTyp mentioned in #49, the IconView is not sortable and does not behave very grid-like.

This can be very easily solved by modifying `src/packages/default/CoreWM/iconview.js` a bit more. It is an extension of `OSjs.GUI.IconView`, so it should be easy enough.

[2015-01-23 21:30] andersevenrud commented on #38
@CtrlC-Root I've started on the documentation of the server-side of OS.js. If there is anything you would like to see in there (like if you have any questions, that would be great) -- let me know! :smile:

http://andersevenrud.github.io/OS.js-v2/doc/server/

[2015-01-23 21:32] CtrlC-Root commented on #38
@andersevenrud That would be really great. I took a brief look at implement a Python backend and had to put it down for now because of other commitments. It's not very clear to me 1) where you configure OS.js to use a specific backend, 2) what kind of API the backend should present. I mean, I can take educated guesses at it from the code I've looked at but it would be great if that was documented.

[2015-01-23 21:34] CtrlC-Root commented on #38
@andersevenrud Now that documentation is up, I'll take another crack at writing a Python backend.

[2015-01-23 21:42] andersevenrud commented on #38
@CtrlC-Root

1) You don't configure it, you start your server of choice (see `INSTALL.md` "Setting up a server" section)

2) Now that I have documented the basic communication between Client and Server, an educated guess should do it. (The only docs missing is the VFS functions actually).

But I feel the current documentation is not dense enough and a bit unclear (It was so friggin late when I wro

[2015-01-23 22:34] andersevenrud commented on #38
@CtrlC-Root Just updated the page with a bit more information ;)

[2015-01-24 00:09] MrSchism commented on #65
Yes!

[2015-01-24 00:11] MrSchism commented on #68
I'd like to see an 8-directional snap.  Drag to corner to take up the corner, drag to side (or top/bottom) to take up that half of screen.

That way, apps could take half or a quarter of the screen.

[2015-01-24 00:12] MrSchism commented on #49
Could not reproduce the memory leak.

[2015-01-24 00:37] andersevenrud commented on #49
@MrSchism

Yeah. This can either be a deep bug in webkit or simply a memory corruption. Fun fact: Cosmic radiation can actually cause bugs like these :P

[2015-01-24 20:05] andersevenrud commented on #65
@MrSchism I have commited a new Settings application. Looks much better (to me).

Now I just need to create those toggle switches and we're good to go :)

![Screenshot](http://i.imgur.com/Xwb9IhX.png)

http://osjsv2.0o.no/

[2015-01-24 21:18] andersevenrud commented on #66
@MrSchism I've added this gui element in the latest commit. The Settings application use it now:)

![Screenshot](http://i.imgur.com/80hrDhD.png)

[2015-01-24 21:18] #66 closed

[2015-01-24 21:18] andersevenrud commented on #65
GUISwitch was added in #66

[2015-01-24 21:18] #65 closed

[2015-01-24 21:31] andersevenrud opened #70 "[Settings] Crashes browsers on iOS (iPad)"
Launching the settings application seems to crash all browsers on iOS. iPad Retina (2014).

- All other applications work just fine.
- There are no problems on Android
- Compressing/Minimizing sources does not help
- Removing CSS3 animations does not help

Possible causes:
- Memory exhausted
- CSS painting bug

*I actually got it to run once, so the above must be the cause*

Possible fix: Instead

[2015-01-24 23:28] christopherdumas opened #71 "Why is there an advertisement on the screen of the online demo?"
It's pretty aweful. And no, I don't have malware. This is on my iPad and Mac.

[2015-01-24 23:43] andersevenrud commented on #71
@christopherdumas Better now ? ;)

[2015-01-24 23:43] #71 closed

[2015-01-25 00:03] andersevenrud commented on #70
Yeah... This was f-ing stupid. Apparently resizing a input[type=checkbox] like this crashes on all iOS browsers. **W T F**

[code]

[2015-01-25 00:03] #70 closed

[2015-01-25 21:35] andersevenrud commented on #63
@MrSchism You can now customize foreground color in panel as well :) Just look at how ugly I can make it!

![Screenshot](http://i.imgur.com/0GLV0nD.jpg)

[2015-01-25 21:35] #63 closed

[2015-01-25 21:49] MrSchism commented on #63
Awesome!

[2015-01-26 04:56] zqqq opened #74 "[GUI] ListView resize column bug(s)"
listview.js line 250

[code]

[2015-01-26 13:41] andersevenrud commented on #74
@zqqq Thanks. I think I might have been slightly intoxicated when writing that. I uncovered a completely separate bug related to this that needs to be fixed first for this to work (Invisible columns are counted and that makes **i < (l-1)** always true)

I am going to look into the column resize some more because it does not behave nicely. Like when you resize the "MIME" column in File Manager the

[2015-01-26 21:46] andersevenrud opened #75 "[GUI] Grid-based GUI Using Flex Boxes"
In the latest commit I have added a prototype for flexible layout creation with Vertical and Horizontal boxes. This eases development of applications significantly because the user would not have to focus at css :smile: This is all good stuff!

![Screenshot](http://i.imgur.com/7Cx29Lx.png)

**Look ma' no CSS!**

- [x] VBox
- [x] HBox
- [x] Ensure compability

[2015-01-27 23:02] andersevenrud commented on #18
@zqqq Can you look translating the default applications ? Just like you did with *Settings* :smile:

[2015-01-27 23:06] andersevenrud commented on #18
@zqqq Sorry. I meant just like you did with the core. You can find what files in the description

[2015-01-29 21:20] andersevenrud commented on #68
@MrSchism @PewienTyp You can now snap windows to corners. In the **Settings** application, enable it under *Desktop* :)

[2015-01-29 22:44] MrSchism commented on #68
Not sure if it's desired behavior, but on Firefox 34.0.5, it doesn't *snap* to corner, but it just stops during the drag towards the corner.  It's definitely an improvement, though.

I tried on Chrome (40.0.2214.93) and encountered what may be a bug (I couldn't move windows at all).  I'll be checking again in a bit; this is a campus computer I'm using.

[2015-01-29 23:04] andersevenrud commented on #68
@MrSchism Yeah. The snapping size was to small. I've added so you can adjust it in Settings instead of on/off switch. Try at 20px, then you will definately notice it. (And yeah, there is a bug in the slider. It is not stepping correctly, but works)

Are you using the Device Emuliator? I have noticed that bug there. It is because I have not made correct bindings for window events yet and Chrome can

[2015-01-29 23:31] MrSchism commented on #68
I'm not using a device emulator; I just opened it up in Chrome browser and it wouldn't move.  The window seemed to gray out like I clicked a background object, but the text in the window highlighted (settings, specifically).

[2015-01-30 18:57] andersevenrud commented on #68
@MrSchism Was it by any chance on the demo site ? It caches all the scripts, so maybe your browser did not update at first try.

[2015-01-30 22:12] andersevenrud commented on #68
@MrSchism @PewienTyp Also implemented snapping to Windows now :smile:

[2015-01-30 22:14] andersevenrud opened #78 "[GUI] Slider stepping not working properly"
Slider snapping > 1 does not work properly.

I was a little to quick in the implementation of this and it obiously does not behave properly. This is mostly due to that it pulls DOM dimensions upon events and depending on the window the dimensions are not in the power of two, this causes wrong values

[2015-02-02 16:36] #74 closed

[2015-02-06 22:33] #78 closed

[2015-02-07 19:25] andersevenrud commented on #68
Works much better now!

[2015-02-07 19:25] #68 closed

[2015-02-07 23:09] andersevenrud opened #79 "[Themes] New theme customization handling"
In the latest commit I-ve separated theme resource into: styles, icons, sounds and fonts. This way the user can customize in any way they want.

Currently, there is no support for adding/setting custom icons and sounds in the UI.

- [x] Add sound themes to `build.json`
- [x] Add icon themes to `build.json`
- [x] Add fonts to `build.json`
- [x] Automatically bake in fonts to theme css (LESS)
- [x]

[2015-02-08 09:42] MrSchism commented on #68
Much better.

[2015-02-08 19:43] andersevenrud commented on #79
Now done... sweet! :smile:

[2015-02-08 19:43] #79 closed

[2015-02-09 03:42] zhouyijiaren opened #80 "运行应用失败 'ApplicationRTCGroupVideo'. 你的浏览器支持: getUserMedia"
运行应用失败 'ApplicationRTCGroupVideo'. 你的浏览器支持: getUserMedia

[2015-02-09 13:05] andersevenrud commented on #80
I dont't think your browser supports WebRTC, sorry!

[2015-02-09 13:05] #80 closed

[2015-02-20 23:38] andersevenrud opened #81 "Package and application submissions"
Do you have an application (or another type of package) you want to share with the world?

Place a comment below with the following format and I will add them to the official Wiki and [App Store](https://github.com/andersevenrud/OS.js-v2/commit/664f2de8b718a7fca7ad0332cc7455f3ca56c95d) :smile:

[code]

**I will make this easier in the future!**

[2015-02-21 12:51] PewienTyp opened #82 "[Themes] Frosty Mint (w/Windows glass-like effect)"
A github user found this nice Windows minty theme that I really like. I've gone ahead and create it and named it "Frosty Mint". It is considered experimental! The glass effect is applied via *CoreWM*

Uses html2canvas to emulate the glass-like effect you get in (ex) Windows 7.

**Demo:** http://osjsv2.0o.no
**Video:** https://www.youtube.com/watch?v=9paj_BfgnaE
**Screenshot:** http://i.imgur.com/O

[2015-02-21 12:53] andersevenrud commented on #82
That looks pretty sweet! I would have to look into on how to make this "glass" effect correctly.

I really like the Green/White combo

[2015-02-21 12:55] PewienTyp commented on #82
I like green and transparency too :smile:

[2015-02-21 13:05] PewienTyp commented on #82
Glass effect is maybe opacity:0.x and blur. Little demo: http://jsfiddle.net/8d99vj96/

[2015-02-21 13:11] andersevenrud commented on #82
Something like that, yeah.

I will experiment a bit with it. I'll get back to you after I-ve had my lunch :smile:

[2015-02-21 13:57] andersevenrud commented on #82
Unfortunately I cannot get the frosting/glass effect to work. It seems it requires an actual Image and does not work at all with colors and will not blur DOM contents :(

[Screenshot](http://i.imgur.com/JQoz3qz.jpg)

[2015-02-21 13:59] PewienTyp commented on #82
Can you make this demo public?

[2015-02-21 14:15] PewienTyp commented on #82
I found something like os.js http://altaica.altervista.org but os.js is better.

[2015-02-21 14:23] andersevenrud commented on #82
That looks like "Clouddesk". It is a closed-source enterprise type Cloud Desktop. There are quite a few more of them, but from what I've seen, most of them are not under active development.

Still. Thanks ;)

[2015-02-21 14:23] andersevenrud commented on #82
Yes, I will push this as soon as it is ready for mainstream. I have not finished the colors, paddings, buttons etc.

[2015-02-21 16:57] andersevenrud commented on #82
@PewienTyp I have found a way to achieve the glass/blur effect with DOM elements.

I create a PNG "screenshot" of the document with [html2canvas](https://github.com/niklasvh/html2canvas), then take the section that lies under the window and clip and insert it into the window top with CSS blur. I'm working on a implementation ;)

[2015-02-21 17:06] PewienTyp commented on #82
Or you can try with this: http://blurjs.com/

[2015-02-21 17:08] andersevenrud commented on #82
That library only blurs images just like CSS does, so it won't work in this case. I need support for blurring DOM elements, and with html2canvas you can emulate this somewhat

[2015-02-21 17:30] andersevenrud commented on #82
@PewienTyp And voila, it works :smile:

Only thing missing that it updates when you move the window around.

![Screenshot](http://i.imgur.com/bL6OCbx.png)

[2015-02-21 17:30] PewienTyp commented on #82
Very Nice :)

[2015-02-21 18:09] andersevenrud commented on #82
@PewienTyp Done some testing with blurring in the DOM and I'm afraid it is way to slow in the current state (and my computer is pretty good). Guess we'll have to wait for a hardware accelerated feature for this :/

However, just making it work with the background works quite well.

[2015-02-21 18:15] andersevenrud commented on #82
@PewienTyp It sure looks nice with DOM blurring though .... sigh!

![Screenshot](http://i.imgur.com/1Rmhwiz.png)

[2015-02-21 18:20] andersevenrud commented on #82
@PewienTyp As you can see here, without DOM blurring it looks kinda weird:

![Screenshot](http://i.imgur.com/rZ9h1ow.png)

[2015-02-21 20:44] andersevenrud commented on #82
@PewienTyp Sorry for all the spam, but I actually improved the DOM blurring. Check it out... only a few more improvments, and I think it might actually work :P

Video of it in action: https://www.youtube.com/watch?v=9paj_BfgnaE

[2015-02-21 21:03] PewienTyp commented on #82
Now it's time for right-click menu. I think it will be easy

[2015-02-21 21:12] andersevenrud commented on #82
It already works just like the windows, so essentialy done

[2015-02-21 22:58] andersevenrud commented on #82
@PewienTyp I have made it available on the demo-site for testing. Please note that it is a bit quirky and can have bad performance (depending on your system)... also has a couple of bugs.

But hey... it works! I will add a theme option to enable/disable the DOM blur effect later

[2015-02-21 23:56] MrSchism commented on #82
It looks awesome!

What's the OS/WM for the first original screenshot, @PewienTyp ?

[2015-02-22 11:48] PewienTyp commented on #82
It's only a concept from http://solmiler.deviantart.com/art/Windows-10-UI-Concept-502337159

[2015-02-23 08:59] MrSchism commented on #82
There's a strange bug on this theme...I'm opening another issue to report it.

[2015-02-23 09:08] MrSchism opened #83 "Frosty Mint Theme "Ghost panel" artifact"
This bug, visible in the top-left corner shows a panel behind the frost when one shouldn't be there.
![image](https://cloud.githubusercontent.com/assets/3085862/6325082/b66b66f2-bb10-11e4-817a-a29db128faa3.png)

This can be replicated in a few simple steps.

1.  Open Settings
2.  Move panel to bottom
3.  Change theme to something other than Frosty Mint (and save)
4.  Change theme to Frosty Mint.
5

[2015-02-23 13:47] andersevenrud commented on #83
This is obviously a problem with the frost not updating when you move the panel.

Thanks, man. I'll fix this

[2015-02-23 18:03] #83 closed

[2015-02-23 18:03] andersevenrud commented on #83
@MrSchism Should be fixed now :smile:

[2015-02-23 18:04] andersevenrud commented on #83
@MrSchism And from your screenshot I see it-s using the wrong font. It's because I changed the name of the font in the previous release. Just FYI

[2015-02-25 15:28] PewienTyp commented on #49
New Suggestion: workspaces

[2015-02-25 15:31] andersevenrud commented on #49
@PewienTyp Sure. This could be implemented somewhat easily. I-ll add it to the list :)

[2015-02-25 21:25] seemikehack opened #84 "Cannot save document created in writer"

[2015-02-25 21:34] andersevenrud commented on #84
@seemikehack Are you sure ? I just tested this and there are no problems here.

Did you get an error message?

[2015-02-26 21:46] MrSchism commented on #84
If you hit enter, it does spit a bug.

    TypeError: undefined is not a function
    at FileDialog.onInputEnter (http://osjsv2.0o.no/osjs.js:13380:10)
    at $input._addGUIElement.OSjs.GUI.Text.onKeyPress (http://osjsv2.0o.no/osjs.js:13114:16)
    at HTMLInputElement.<anonymous> (http://osjsv2.0o.no/osjs.js:9508:27)

You can save by clicking.

[2015-02-26 21:48] #84 closed

[2015-02-26 21:49] andersevenrud commented on #84
@MrSchism Thanks, mate! Fixed :)

Don't know how the hell I could have missed that one.

[2015-02-26 21:49] andersevenrud commented on #84
@seemikehack Thanks for the report. Fixed now

[2015-02-26 21:56] MrSchism opened #85 "Live Demo allows persistent saves"
Currently the version you have live allows for saving files.  While this is useful to an end user, in a demonstration (like what's live), it's somewhat cluttered.  In fact, it's starting to look like an public FTP server.

**I'm opening this for discussion on how to handle cleaning up while not crippling the user experience in the demonstration.**

My suggestion would be to create a script that ru

[2015-02-26 21:59] MrSchism commented on #84
Honestly, if you were busy, I probably would have fixed it myself later this evening.

[2015-02-26 22:00] andersevenrud commented on #85
Yeah. This was a major problem in the previous version. And in fact, I had a security hole there that allowed someone to root my server and start keylogging and all that jazz. Luckily it was just a VM i had, so I wiped it.

First thing that comes to mind is simply to truncate the folders after a certain period and maybe sync them with some "demo data".

[2015-02-26 22:02] MrSchism commented on #85
Maybe a "DeepFreeze" mode where it's wiped on logout and instate some sort of demo login?

[2015-02-26 22:02] andersevenrud commented on #84
@MrSchism If I knew that, I would have let you, hehe. I was actually doing some coding already, so it took me only a few secs :) This was some leftovers from a refactor I did... looks like I missed one line! I sould really look at unit testing for this.

[2015-02-26 22:05] andersevenrud commented on #85
Previously I used the handler that displays a login form. But I did some analytics, and it turns out users did not like that at all and I had a bounce-rate of over 80%. Now it's under 5%. I can get that... because I want to see the demo **right now**, not go through a login/registration layer.

[2015-02-26 22:08] andersevenrud commented on #85
I'm actually not quite sure how to handle this. Because some users may put something up there to show a friend or something... and I don't want that to go away at the wrong time. So maybe doing a wipe every X days or something is the best ? I don't know. What did you mean by "DeepFreeze" btw ?

[2015-02-26 22:35] MrSchism commented on #85
Okay, so a wipe every X days might work well, but then you have to consider some of the issues anonymous FTP systems have encountered in the past... including the potential sharing of illegal files.

I figured login pages might be an issue.

Nightly wiping may be too quick.  Automatic deletion after 3 days, maybe?

Regarding "DeepFreeze", [check this page for details](http://en.wikipedia.org/wiki/

[2015-02-26 22:40] andersevenrud commented on #85
Aha.

Another option is to keep only files that are X amount of hours old, and truncate the list down to a certain number of files. Like just sort them by modification time and cut it out at a certain spot? Thoughts ?

[2015-02-26 23:17] MrSchism commented on #85
The way I'm reading that means that a file could be kept alive indefinitely by simply modifying it every few hours.

Also, for clarity, did you mean keep files that "are x hours" old, or "are less than x hours old"?  Otherwise, it would mean that only the first few people would be able to create a file without it spontaneously dying.

[2015-02-26 23:25] andersevenrud commented on #85
Yeah. Don't know if that's optimal. I actually don't have any stats on how often people create new files instead of updating old ones. Maybe using creation timestamp makes more sense.

Ops, yes.

[2015-02-26 23:29] MrSchism opened #86 "[VFS] File Locking"
We need a file locking mechanism.  In testing Writer, I opened a document in two browsers and followed this procedure:

1. Open OS.js/Writer in Firefox
2. Open OS.js/Writer in Chrome
3. Save file in Firefox
4. Open in Chrome
5. Edit in Firefox (and save).
6. Save in Chrome.

There is no notice provided to Chrome that the document has been updated or is even opened.  The end result is that it gets

[2015-02-26 23:37] andersevenrud commented on #86
The VFS storage module used by default does not have such a thing. It's just a pure proxy for the system filesystem commands.

My thoughts on options:

1. Create a purely virtual filesystem module that operates in a database and stores files in a blob-tree.
2. Configuring the server (Linux and BSD both have utilities for this), then make OS.js report *file open* and *file close* requests to the AP

[2015-02-26 23:42] andersevenrud commented on #86
Also, I see this as less of a problem in an actual production environment. Users cannot touch eachother files, and you'd be warned if opening another session that you might experience some boo boo-s.

[2015-02-26 23:42] MrSchism commented on #85
Yeah, I think 24-72 hours old would be more than enough time to show something to someone.

If you/we work on a way of automatically cleaning up from within OS.js, adding an "admin scripts" or "scheduled tasks" page to the non-demo version's "settings" page might be useful.

That way, anyone running this could select what directory to cull and how frequently the culling would occur.

Also, I'm not

[2015-02-26 23:47] MrSchism commented on #86
True, until you get to directories holding shared resources (typically music or video, but occasionally documents).

I think that the third option is probably best.

[2015-02-26 23:55] andersevenrud commented on #85
I was thinking of just making a cron-job that does a simple bash script. I'll add it to the repo, of course. That way it is separated entirely from the server process. Maybe adding a cron-editor or something could be done, but that would be more of an general server administration tool. (Actually this is what OS.js started as... to configure web-servers at work etc.)

Sure. I would really like to

[2015-02-26 23:56] andersevenrud commented on #86
Where ? If you can replecate this, please open an issue.

[2015-02-26 23:58] andersevenrud commented on #86
There is a shared "folder" in OS.js already. I'm thinking about disabling it by default and leaving it as an option.

[2015-02-27 00:00] MrSchism commented on #86
Regarding the Undefined MIMEtype, it happened on step 4 occasionally, in either home or shared.

Regarding the shared folder, if we get a lock set up, it should resolve the issue entirely.  Better to have a functional feature people might not need than a broken one people might want.

[2015-02-27 00:08] andersevenrud commented on #86
Note to self: There is no actual way of knowing when OS.js "closes" a file since it does not stream the files or stuff like that. The actual application would have to report when it closes or changes the open file, and as a fall-back have a timeout (so after that it becomes a *first served, first get* kind of thing)

[2015-02-27 00:11] MrSchism commented on #85
Alrighty.  I'll be opening a ticket here in a moment.

Yeah, essentially I was thinking of an interface to schedule and manage cron jobs for people who might need a GUI-only experience.  I'll throw together a mockup.

[2015-02-27 01:19] MrSchism opened #87 "[GUI] Refactor _DataView, IconView, TreeView, ListView and FileView"
This came up in #85. The current implementation is not very pretty and could use a refactor.

~~The original thought was to refactor the entire DataView and their implementations, but I looked through it and did a small evaluation. The thing that needs a refactor the most is the FileView. The events are really messy.~~

Author: I later decided this all needs a rewrite... which is a prettu huge tas

[2015-02-28 21:07] andersevenrud opened #88 "[Application] FileManager selectable columns in FileView"
@MrSchism Was the one suggesting this.

Since 0b7fb2b819 the server sends creation/modification timestamps. It would be nice to implement column switching in the Menu.

- [x] Implement into FileView
- [x] Add new menu entry
- [x] Add toggle function
- [ ] Make menu entries look like a checkbox
- [ ] Store selection(s) in settings
- [ ] Also implement in File Dialog
- #87

[2015-02-28 22:01] andersevenrud commented on #88
@MrSchism It's not finished, but you can now actually display creation/modification timestamp in the File Manager (accessable through *View* menu). It's not quite finished... but, hey, it works :P

[2015-03-15 13:12] michal4132 commented on #81
Author: michal4132 <michal.b2000@onet.pl>
Name: Wolfenstein 3D
Description: Port of https://github.com/loadx/html5-wolfenstein3D
Version: 0.1
Download: http://michal4132.tk/os.js/wolf3d-repo0.1.zip

[2015-03-15 22:26] andersevenrud commented on #81
@michal4132 Did you test this ? I'm afraid your implementation does not work at all. To make Wolfensten3D work in an application you will have to either load it via an Iframe or make a custom loader to make it boot.

I can take a look at it tomorrow and create a working application out of it (I got it running pretty easily here, but have to customize some of the code to make it load resources from

[2015-03-15 23:12] andersevenrud commented on #81
@michal4132 I have created a working application and it's up on http://osjsv2.0o.no/ (Only tested with chrome).

You can view the application code here:

https://github.com/andersevenrud/OS.js-v2-expermiments/blob/master/Wolfenstein3D/main.js

And the required changes to the actual game to make it work in an iframe:

https://github.com/andersevenrud/html5-wolfenstein3D/commit/dfaec0d3664edcc31c9ee

[2015-03-15 23:39] andersevenrud opened #89 "[GUI] Add IFrame Element"
This came up in #81 and should be implemented so users does noes not have to write custom code just to get all the iframe quirks working.

Example implementation:
[code]

[code]

[2015-03-16 12:40] michal4132 commented on #81
Can i mount /var/www (my folder with websites) in OS.js

[2015-03-16 12:43] andersevenrud commented on #81
@michal4132

Yes ?!

[2015-03-16 13:50] andersevenrud opened #90 "[VFS] Support for adding external directories into the VFS"
@michal4132 Wanted to add a folder from his Ubuntu installation to OS.js, but there is no obvious way to do this.

I would simply have done this:

`mount --bind /folder/i/want/in/osjs /path/to/osjs/vfs/home/demo/folder-name`

but it may not be optimal for all users. So it would be nice if you could simply add a path to a configuration file and it automagically showed up in OS.js.

## Solution

1.

[2015-03-16 23:02] michal4132 opened #91 "[Application] Music Player shows the audio type is not supported"
Changed by @andersevenrud

There is a bug in the audioplayer that throws an error when you try to open a file when it is already launched.

How to replicate:
- Open File Manager
- Open a MP3 file
- Try opening another MP3 file

Original message from @michal4132

[2015-03-16 23:08] andersevenrud commented on #91
@michal4132 What browser are you using ?

I just tested this in latest Firefox and Chrome (Windows) on my computer without any problems.

https://en.wikipedia.org/wiki/HTML5_Audio#Supported_audio_coding_formats

If you can give me the MP3's i can test them here. Maybe there is some compability issue that I am unaware of.

[2015-03-16 23:21] michal4132 commented on #91
This error shows only when file be open while Music Player plays

[2015-03-16 23:32] andersevenrud commented on #91
@michal4132 Yes, I understand that, but without knowing *what file* and *what browser* you are using I cannot do anything about this. So if you could provide me this information, I can look more into it:

- Browser name and version
- Operating System
- Link to the MP3 files

[2015-03-16 23:34] andersevenrud commented on #91
@michal4132 Sorry! I just found out what you mean. I tried opening an MP3 in the audio player, then try to open another one and the error was displayed.

Thanks, i will fix this! :)

[2015-03-17 21:39] andersevenrud commented on #91
This has been fixed. Thanks :smile:

[2015-03-17 21:39] #91 closed

[2015-04-22 22:31] 1j01 opened #92 "[CoreWM] Misspelled word in Application menu"
In the applications menu, it says "Unkown" instead of "Unknown"

[2015-04-22 22:32] andersevenrud commented on #92
Ops! Thanks :)

[2015-04-23 15:46] khoaakt opened #93 "Unable to build OS.jsv2 at makefile"
I did follow the instructions but at the makefile build, i met the following error:
C:\Users\khoaa\Desktop\OS>make
rm -f dist/themes.json ||:
rm -f dist/packages.json ||:
rm -f dist-dev/packages.json ||:
rm -f dist/osjs.* ||:
rm -rf dist/packages/* ||:
rm -rf dist/themes/* ||:
\033[1;35mBuilding OS.js Configurations\033[0m
(src/tools/obt config)
undefined:83
      "vfsdir": "C:\Users\khoaa\Desktop

[2015-04-23 15:54] andersevenrud commented on #93
It appears you are running Windows. It is not supported at this moment (because of some of the dependencies). Sorry :/ Your best bet is a Virtual Machine to use as a server.

FYI: Support for Windows is coming. I just have been way to busy lately to make it work

[2015-04-23 15:56] andersevenrud commented on #93
Also, it tells you what is wrong. It's a syntax error in the config file at this line:

maybe it's the backward slash causing problems

[2015-04-23 15:59] khoaakt commented on #93
thanks for reply :+1:

[2015-04-23 15:59] #93 closed

[2015-04-23 16:03] andersevenrud opened #94 "Windows Server/Deployment Support"
Windows is now supported on NTFS filesystems since they sort-of support symlinks.

What can be done to fix this:
- [x] obt/grunt support and compability
- [x] dist-dev
- [x] ~~Add a script to solve symlinks to NTFS links (then remove the hack in place)~~
- [x] Paths seems to be f-ed up in the server (example: try to change wallpaper)
- [x] Add documentation
- [x] Node support
- [x] PHP Support
- [

[2015-04-23 16:03] andersevenrud commented on #93
No problem. I can send you a message when the Windows support is complete if you want :)

Created an issue for it: Support for Windows Servers #94

[2015-04-24 19:30] #92 closed

[2015-04-24 21:14] andersevenrud commented on #94
@khoaakt I have made some updated to a separate branch (called *windows*) so OS.js is able to run on Windows.

If you-re not afraid of using the command-line, please give it a go :)

[2015-04-24 21:31] andersevenrud opened #95 "[Build] Support for server-less install"
This is something that OS.js initially had. Somewhere along the road I started building all the files (before this I worked just on *huge* files without any automation) and things changed.

Now, it's fully possible to do this, but VFS will be unavailable. I'm considering making this a feature on the home-page rather than including build files in this repo.

It would be cool to just have a zip file

[2015-04-24 21:53] andersevenrud opened #96 "[Build] Use Grunt as a build system to replace obt"
Currently, OS.js uses a custom made build system (**obt**), which works fine. However, it's not modularized and takes some time for newcomers to customize. It's also kind of ugly.

Grunt is made for the jobs *obt* already does, but much nicer and trusted by dozens.

Functions:
- [x] Build *core* files
- [x] Build *themes*
- [x] Build *packages*
- [x] Build *config* files
- [x] Compress dist
- [x]

[2015-04-25 09:00] khoaakt commented on #94
oh, thank @andersevenrud .Maybe I should wait a while for it to be fully supported

[2015-04-25 22:27] andersevenrud commented on #96
This is pretty much done. Updating docs!

[2015-04-25 23:21] andersevenrud commented on #94
In issue #96 I moved over to Grunt as a build system. While doing this I updated compability for the master branch so one can actually build OS.js on Windows.

*So far it only works on 'dist' (production build), but that is enough to at least be able to test it*

**Instructions:**

- Install 'node' and 'npm' through official installer
- Run 'cmd' as Admin to install dependencies
  -  `npm install

[2015-04-26 09:18] khoaakt commented on #94
Excellent :), I have build it successfully on windows server.

[2015-04-26 09:22] andersevenrud commented on #94
@khoaakt Very nice to hear! :) I have some more updated coming in later today that should fix the rest of the problems.

[2015-04-26 09:43] khoaakt opened #97 "Support for other HTML5 apps (Firefox OS etc.)"
Can you port the HTML5 app into OS.js like Symbiose OS? not only that it can port the software running on Linux on the server and open it on the web os.

[2015-04-26 09:55] andersevenrud commented on #97
You can already run Linux applications on OS.js with Broadway (#29).

But HTML5 applications should be pretty easy to get going. I'll have a look at it.

Thanks :)

[2015-04-26 12:11] andersevenrud commented on #97
Done some research and it looks like Firefox Marketplace implementation should be pretty easy to do :)

That's pretty exciting, and I'll get right on doing some testing!

[2015-04-26 12:15] khoaakt commented on #97
Good job, I expect that will have a right direction for os.js :)

[2015-04-26 12:56] #97 closed

[2015-04-26 13:00] andersevenrud opened #98 "[Applications] Firefox Marketplace App support"
@khoaakt initiated this.

I've done some reasearch and am currently writing an early prototype of the OS.js API.

**I think this is broken as of late. Maybe they changed some rules and now will always have to be loaded by proxy ?!**

- [x] Firefox Marketplace API Helper
  - [x] Listing of Marketplace
  - [x] Searching
  - [x] Launching
  - [ ] Support for installable apps (not only hosted ones)
-

[2015-04-26 13:37] andersevenrud commented on #98
It's now actually possible to launch an application by id. There are quite a few things that needs to be sourted out though.

[code]

[2015-04-26 14:22] andersevenrud commented on #98
You can now run hosted packages (mostly games apparently) via the Settings application, which now has Firefox Marketplace integration.

A little screenshot:
![Screenshot](http://i.imgur.com/ca3E2Kf.jpg)

@khoaakt Starting to take shape now :)

[2015-04-26 14:47] khoaakt commented on #98
:/ You're so fast, code in just 1 day :P. I think you should make an app store that display images of the software

[2015-04-26 14:49] khoaakt commented on #98
oh...I forgot it :/, did you have any api, ide,... etc to supporting programming OS.js platform

[2015-04-26 14:54] andersevenrud commented on #98
@khoaakt When you got the right tools and documentation available, things go really fast! :)

Yes, I will create a dedicated application that displays it in a nice way. Right now this is just a temporary solution, like you described.

There is no need for a custom IDE since OS.js runs purely on javascript (it's better to let developers use their own tools), I started working with an application de

[2015-04-26 16:43] andersevenrud commented on #98
Added standalone *Firefox Marketplace* application with preview.

Screenshot:
![screenshot](http://i.imgur.com/Ael8EYb.png)

@khoaakt ;)

[2015-04-26 17:03] khoaakt commented on #95
oh, that is like i think. Because the install into server is so HARD for beginners 😈. just extract file and run like symboise

[2015-04-26 17:18] andersevenrud commented on #95
@khoaakt I think most of the people that actually want to set up OS.js for themselves at least have some experience setting up a server. And doing it is actually really easy with the automated installer (and only takes a few commands to do manually. All of which are documented) ;)

*But*, this will make sure we have **everyone** covered... so even grandma could do it! ;)

One big downside of using

[2015-04-26 17:20] khoaakt commented on #98
congratulations, your os.js finally had a app store(or not 😆). Good job!

[2015-04-26 17:28] khoaakt commented on #95
The hard is some hosting doesn't allow user use the ternimal xD, but i know the automatic install is easy 😊. Do you know eyeOS? i think you can do the install like that. i have a question: what is the user-password manager in os.js? database or xml?

[2015-04-26 17:31] andersevenrud opened #99 "Official App Store"
OS.js got support for user-installable applications a while back.

You can install official packages from the *Settings* application. There is no packages here yet though, because there is no site to submitt packages to.

The closest thing currently, is this issue: *Package and application submissions* #81

Here is the package list: http://andersevenrud.github.io/OS.js-v2/store/packages.json

The

[2015-04-26 17:32] andersevenrud commented on #98
Actually, OS.js recently got an App Store too (in Settings application), but is in very early development (see: #99). I will have too look at that too :P

But this is really nice too.

Thanks! :smile:

[2015-04-26 17:32] andersevenrud commented on #98
@khoaakt Actually, OS.js recently got an App Store too (in Settings application), but is in very early development (see: #99). I will have too look at that too :P

But this is really nice too.

Thanks! :smile:

[2015-04-26 17:39] andersevenrud commented on #95
You're right. I forgot that not everyone runs Linux or have Virtual Machines available :package:

I looked at eyeOS some time ago, but as far as I know they changed the license entirely and source is no longer available. There is an OSS version of it, but is quite old. Never tried installing it.

By default there is no password managment, but includes a module for connecting it up to whatever you

[2015-04-26 17:41] andersevenrud commented on #95
@khoaakt

You're right. I forgot that not everyone runs Linux or have Virtual Machines available :p (But now it runs on Windows too... so problem is kinda solved)

I looked at eyeOS some time ago, but as far as I know they changed the license entirely and source is no longer available. There is an OSS version of it, but is quite old. Never tried installing it.

By default there is no password mana

[2015-04-26 17:42] andersevenrud commented on #95
@khoaakt

Aha! Just looked at the source. I know what you mean now. An installer that runs in the browser. Sure, that could be done :)

[2015-04-26 17:49] khoaakt commented on #95
;) I think i can install os.js to my hosting. Nah... i'm going to sleep 😪

[2015-04-26 21:50] andersevenrud commented on #95
@khoaakt OS.js now supports running from file:// ;)

[2015-04-27 06:23] khoaakt commented on #95
@andersevenrud,
Wait..., How about the "installer that runs in the browser"? Do you have planned yet?

[2015-04-27 07:23] khoaakt commented on #97
Wait...

[2015-04-27 12:42] khoaakt opened #100 "Some features OS.jsv2 need :)"
**This issue has been moved to #49**

- [ ] MusicPlayer: Volume adjustment
- [ ] FileManager: Back/Forward navigation etc.
- [ ] Spreadsheet Application
- [ ] Presentation Application
- [ ] Move Appstore from settings to dedicated App
- [ ] Widgets and/or a Dockbar
- [ ] "New File" in context menus for FileView(s)
- [ ] Cut/Copy/Paste files (is actually in development)
- [ ] Application filtering/

[2015-04-27 12:59] andersevenrud commented on #100
It's techically just a music player. If I ever create a "Media Player", this will  be one of the features

Yeah. I want this too :)

You're thinking about the icon view ? I really should add "new file" in context. Thanks.

I started implementation of this in FileManager. Will finish it some day ;)

If you know about a good presentation and/or spreadsheet library then add it there. I won't go throu

[2015-04-27 13:10] khoaakt commented on #100
oh, i have a bad bug :P. The media player can't seek music when music name have Hieroglyphs.
Like this:
![image](https://cloud.githubusercontent.com/assets/6000592/7348168/6c8a7470-ed19-11e4-9681-0faad124c0fc.png)

[2015-04-27 13:11] andersevenrud commented on #100
This is not a bug. It says "seek unavailable in format" which means **the browser** cannot do it ;)

[2015-04-27 13:11] andersevenrud commented on #100
E.g: It is a problem with the file

[2015-04-27 13:13] khoaakt commented on #100
okay, but this one:
![image](https://cloud.githubusercontent.com/assets/6000592/7348199/b837d034-ed19-11e4-8751-a61a2dcd7f0d.png)
I rename the first file and here it is
![image](https://cloud.githubusercontent.com/assets/6000592/7348214/ccd0a192-ed19-11e4-8c74-254da6d71ae9.png)

[2015-04-27 13:21] andersevenrud commented on #95
@khoaakt I will have a look at it, yes.

[2015-04-27 13:29] andersevenrud commented on #100
How did you get that error ? I just visited your server (with the address you left ther) and when I double-clicked the file I got no error. Did you do something else ?

I downloaded the mp3 file to my computer just in case. It might be nice to have for testing.

[2015-04-27 13:31] andersevenrud commented on #95
Now I see... you tried to rename or move the file ?

[2015-04-27 13:32] khoaakt commented on #100
a ha! i missed that ^_^~. You need add dockbar, gadget feature to OS.js
Like this:
![image](https://cloud.githubusercontent.com/assets/6000592/7348501/61f3dbd4-ed1c-11e4-9531-ece7ba357799.png)

[2015-04-27 13:33] andersevenrud commented on #100
Now I see... you tried to rename or move the file ?

[2015-04-27 13:34] andersevenrud commented on #100
Don't know if it *needs* it, but it might be cool to have:)

[2015-04-27 13:37] khoaakt commented on #100
don't you see ;), windows have bar(you can pin app to launch it), ubuntu have sidebar,...
And search app feature too~!

[2015-04-27 13:38] khoaakt commented on #100
Yeah, i tried to rename file but it loading a min and display error.

[2015-04-27 13:40] andersevenrud commented on #100
@khoaakt I have never used gadgets and fancy bars on my computer. I only have a background image and terminals, hehe. So I am not a big fan. But I will have a look at it :)

Sure. This could be done, but will have to be placed in the "Touch Menu" (you can change it in Settings)

[2015-04-27 13:43] khoaakt commented on #100
And in future, OS.js will be like Chrome OS, Firefox OS,.. . This will be compile to a linux kernel and run in mobile, tv, laptop,...

[2015-04-27 13:45] andersevenrud commented on #100
You can run it like that already, but is not really the goal of OS.js.

https://github.com/andersevenrud/OS.js-v2/blob/master/INSTALL.md#x11

[2015-04-27 13:47] khoaakt commented on #100
I'm sorry :(, i can't support to programming OS.js because i interested at .NET language but i can tell some way to go for OS.js

[2015-04-27 13:49] andersevenrud commented on #100
You could always learn a bit of JavaScript and join in on the fun! ;)

Thanks for the suggestions  (i took the freedom to change your post description so it is a bit clearer) :)

[2015-04-27 13:51] khoaakt commented on #100
*haha*, because i'm Vietnamese then i'm not good at English :)

[2015-04-27 14:15] khoaakt commented on #100
Hump... something not right :P. OS.js isn't have any terminal :lol

[2015-04-27 14:25] andersevenrud commented on #100
That's because I don't see the point to be honest. Who wants to use the web browser to type in commands ?! hehe :P

I have a Terminal client sitting here that I never added to the source-code ready for use though. Maybe I should add it to the "experimental" repository

[2015-04-27 14:47] khoaakt commented on #100
i have an idea! put terminal in setting, user can turn on/off it :tada:

[2015-04-27 14:51] andersevenrud commented on #100
@khoaakt No need. You can just build OS.js without the package (or simply disable it in manifest). Making an option in Settings is kinda redundant

[2015-04-27 14:56] khoaakt commented on #100
If you plan OS.js that run in touch screen, make a visual keyboard :)

[2015-04-27 15:05] andersevenrud commented on #100
Don't they already have that ? At least my touch devices do :P

[2015-04-27 15:11] khoaakt commented on #100
A Update? Did OS.js have a update ?(I means OS.js update, it's download update file from server and  pack directly into OS core)

[2015-04-27 15:12] andersevenrud commented on #100
Sorry, I don't understand what you mean.

You have to update OS.js manually, either by `git pull` when running from source or unpack a fresh zip from github (overwrite old files).

[2015-04-27 15:13] khoaakt commented on #100
oh, it just like Windows Update :P

[2015-04-27 15:17] andersevenrud commented on #100
git and distribution packages are much better in my opinion. I could maybe add update function to the web installer we talked about, but not inside OS.js.

[2015-04-27 15:20] khoaakt commented on #100
oh ! That is nice idea ;). An update from outside os is more useful. But you need have a admin account to access the admin system control

[2015-04-28 15:43] khoaakt commented on #100
I'm not interested at code in OS.js :(. Please convert some apps i post to OS.js @andersevenrud
(Note: this package contains app i posted but i made it. I'm collecting it from internet :P)
Link: http://khoaakt.w.pw/file/App.zip
... And we need a web browser app, i'll post it later :)

[2015-04-30 08:51] khoaakt commented on #100
Take a look at this:
![image](https://cloud.githubusercontent.com/assets/6000592/7409443/c3ef2510-ef50-11e4-88a5-438bc729343e.png)

[2015-04-30 13:47] khoaakt commented on #81
Author: khoaakt khoaakt@gmail.com
Name: Google Map
Description: Made from Google API
Version: 0.1
Download: http://khoaakt.w.pw/file/GoogleMap.zip

[2015-04-30 16:07] andersevenrud commented on #81
@khoaakt Added the package to https://github.com/andersevenrud/OS.js-v2-expermiments .

You should really configure your editor/IDE to use UNIX newlines and UTF-8 formatted text. These were: "ASCII text, with CRLF line terminators". No big deal, but I have to convert these manually.

What is "bm-apps" btw ? It looks like some code taken from a library, but I do not see any license or about informa

[2015-04-30 16:48] khoaakt commented on #81
its google api, i take code on internet and mod it

-----Original Message-----
From: "Anders Evenrud" <notifications@github.com>
Sent: ‎30/‎04/‎2015 11:07 CH
To: "andersevenrud/OS.js-v2" <OS.js-v2@noreply.github.com>
Cc: "Nguyễn Anh Khoa" <khoaakt@gmail.com>
Subject: Re: [OS.js-v2] Package and application submissions (#81)

@khoaakt Added the package to https://github.com/andersevenrud/OS.js-v2-ex

[2015-04-30 16:49] khoaakt commented on #81
but i didn't remember how i take that because that was on my computer

-----Original Message-----
From: "Anders Evenrud" <notifications@github.com>
Sent: ‎30/‎04/‎2015 11:07 CH
To: "andersevenrud/OS.js-v2" <OS.js-v2@noreply.github.com>
Cc: "Nguyễn Anh Khoa" <khoaakt@gmail.com>
Subject: Re: [OS.js-v2] Package and application submissions (#81)

@khoaakt Added the package to https://github.com/anders

[2015-04-30 17:31] andersevenrud commented on #81
Okay. Because if it's 3rd party code I must add a comment with the license most likely. I will check it out. Thanks!

[2015-04-30 17:47] khoaakt commented on #81
Author: khoaakt khoaakt@gmail.com
Name: Calendar
Description: Made by me :)
Version: 0.1
Download: http://khoaakt.w.pw/file/Calendar.zip

[2015-04-30 18:04] #89 closed

[2015-04-30 18:06] andersevenrud commented on #81
@khoaakt I added the IFrame GUI Element (#89). So now it is much easier to create these applications. Look at the updated code here :) https://github.com/andersevenrud/OS.js-v2-expermiments/blob/master/GoogleMaps/main.js

[2015-04-30 18:12] andersevenrud commented on #81
I moved all the packages here https://github.com/andersevenrud/OS.js-v2-Submissions

These does not qualify as official applications as of now since they are IFrame based and does not use any of the internal APIs.

[2015-04-30 18:28] khoaakt commented on #81
ok, because OS.js had no IDE for app devlopment then i can't code it (i can't understand how to design in OS.js) @andersevenrud

[2015-04-30 18:33] andersevenrud commented on #81
Really ? But, if you made these applications you just submitted, then certainly you will be able to code for OS.js. It just uses basic JavaScript fundamentals, the DOM and some CSS (which is how you "design" stuff). There is also a ton of GUI Elements and Functions to use. It is all documented here: http://andersevenrud.github.io/OS.js-v2/doc/client/

[2015-04-30 18:34] andersevenrud commented on #81
@khoaakt Never mind my previous comment. I just looked at the code you submitted some more. This is simply some 3rd party example code, right ? :)

[2015-04-30 18:35] khoaakt commented on #81
yeah, "Copy and Paste are two achievements that scientists recommended"?

[2015-04-30 18:36] andersevenrud commented on #81
Hehe. Right ;)

[2015-04-30 18:37] khoaakt commented on #81
Nevermind that :P

[2015-05-01 04:39] khoaakt commented on #100
hey @andersevenrud, do OS.js have a is-online function? If not, add that to API. That need to dev some app that need internet to run ;)

[2015-05-01 13:33] andersevenrud commented on #100
@khoaakt Yes it has. You can test it by disabling internet access. A message will be disaplayed warning you

[2015-05-01 16:42] khoaakt commented on #100
do you think add a web browser is a bad idea? i think it need because os.js will run in a linux-kernel without node

[2015-05-01 16:45] andersevenrud commented on #100
To create a web-browser application you would have to set up a proxy, or else it will not work because of the Same-Orgin Policy. It does not make much sence to have it in a browser-deployed environment, but it may be useful for running in X11/Standalone. However, this is on the bottom of the priority list.

[2015-05-01 17:12] khoaakt commented on #100
really? if need, i will create a web browser for os.js. Let me do that :-)

[2015-05-01 17:31] MrSchism commented on #100
Looks like I should weigh in here (sorry about going dark).

As for a dock, that might be nice, but I'd put that really low on priority.  You can move the current panel to the bottom to replicate the traditional desktop paradigm.

Regarding a slideshow, I'd like to see a front end developed for dzslides (which would probably be easiest to implement in os.js).

[2015-05-01 18:32] andersevenrud commented on #100
@khoaakt I won't stop you ;)

[2015-05-01 18:40] andersevenrud commented on #100
@MrSchism I've been away for a while too. Had to take a break. I started having serious *tetris syndrome* symptoms because of too much coding, hehe :p

Yeah, something like that could be cool. I have not checked into any of these types of apps before, because I've never had any use for them. There's proabably a few to choose from. Know any more worth looking at ?

I'm going to focus getting the la

[2015-05-01 19:36] khoaakt commented on #100
@andersevenrud Do Application IDE done yet? In this time, IDE is need for develop! Please add that to OS.js as soon as possible ;)

[2015-05-01 19:51] khoaakt commented on #100
@MrSchism The OS.js dock probably will be in the left/right screen ;)

[2015-05-01 21:04] andersevenrud commented on #100
@khoaakt No. And to be perfecltly honest, I won't look at it any time soon (Look at the issue tracker... it's full of stuff undone). I suggest you rather start to learn some fundamental JavaScript and CSS. That is all that is required (only the very basics are required). Actually... all you have to know is how to create an object and insert it into the dom and apply styling through CSS.

Here is s

[2015-05-01 22:58] MrSchism commented on #100
When it comes to slide decks, dzslides is probably the easiest to use and implement.  Issue is it would require an editor.  Shouldn't be hard because each slide is a section in a single HTML file.  Should just have to insert tags and render everything inside those tags in the javascript editor.

I know that's how things like the blackboard educational system works:
![screenshot from 2015-05-01 18

[2015-05-01 23:17] andersevenrud commented on #100
@MrSchism Cool. Just googled around, and it seems some of the slide libraries with editors are premium/paid stuff. So it would be cool to have this as a free service. Hosting is no problem.

[2015-05-01 23:33] MrSchism commented on #100
Prezzi is a paid slide deck; impress.js is a free alternative, but complicated.  DZSlides is free and single file.  The editor above could probably be recreated easily and new slides just have to have a <slide> tag put in.  Might be a minimal side job, but shouldn't be impossible.

[2015-05-02 15:08] khoaakt commented on #100
@andersevenrud I'm going to learn Javascript ^_^!
P/S: Just kidding, no one can alive when code 18h/day :P

[2015-05-02 15:36] andersevenrud commented on #90
It is now possible to add mountpoints.

## src/conf/110-frontend.json

[code]

## src/conf/120-backend.json

[code]

## Apply

`grunt config`

[2015-05-02 15:37] #90 closed

[2015-05-02 22:13] andersevenrud commented on #100
@khoaakt @MrSchism I'm merging this with #49

[2015-05-02 22:13] #100 closed

[2015-05-02 22:45] andersevenrud commented on #38
@CtrlC-Root I am closing this issue because of a cleanup. If you're still working on this; let me know and I will open it again :)

[2015-05-02 22:45] #38 closed

[2015-05-02 23:22] andersevenrud commented on #54
Moved to #49

[2015-05-02 23:22] #54 closed

[2015-05-03 04:15] MrSchism commented on #49
From #100: We can use the slide deck 'dzslides' to create slides.  We just need a javascript text editor that produces HTML.  A good example of this is the blackboard education platform.
![blackboard](https://cloud.githubusercontent.com/assets/3085862/7443261/b2035742-f10b-11e4-8383-f50243f56d23.png)

It uses this UI to create HTML formatted written content in a WYSIWYG editor.  [TinyMCE](http://w

[2015-05-13 06:35] livep2000 opened #101 "this should be self"
at javascript/handlers/example/handler.js
[code]

should be

[code]

Imre

[2015-05-13 08:18] livep2000 opened #102 "Another small bugg"
At /src/javascript/handlers/example/handler.js

[code]
Should be:

[code]

Else the logged on user is undefined

Imre

[2015-05-13 08:49] MrSchism commented on #102
I'm not seeing that; I'm seeing result.userData on line 99.

[2015-05-13 09:24] livep2000 commented on #102
sorry, typo. you are absolute correct.

imre

[2015-05-13 09:31] MrSchism commented on #102
Since JavaScript isn't my strongest language (that's actually why I took an interest in this; best way to learn is to dive in: sink or swim) does that change it to being okay or does the line still need to be changed?

[2015-05-13 09:41] livep2000 commented on #102
Well, I am writing a accounting system for the node server.
And took the example handler from the php based server.

Found a few other flaws also, be carefull!
The node server was marked with 'work in progress'.
Maybe the node server need to be altered,
instead the handler code.

imre

[2015-05-13 09:55] andersevenrud commented on #101
You're right. Looks like some changes has been overwritten. Will fix.

[2015-05-13 10:32] MrSchism commented on #101
Alrighty.  I was just going to run a pull request.  I was waiting for input on #102 before hand, though.

Two birds with one pull and whatnot.

[2015-05-13 10:49] MrSchism commented on #102
The Node server is still very much a work in progress.

[2015-05-13 10:50] MrSchism commented on #102
From what I can tell, the Node server is still very much an unstable work-in-progress.

@andersevenrud should this bit of code be changed or is it more of a server issue?

[2015-05-13 10:59] andersevenrud commented on #102
@MrSchism
I just see change X to Y without reasoning. I think he has an error in his implementation because the code seems correct:

- https://github.com/andersevenrud/OS.js-v2/blob/master/src/server-php/handlers/example/handler.php#L71
- https://github.com/andersevenrud/OS.js-v2/blob/master/src/javascript/handlers/example/handler.js#L99

[2015-05-13 10:59] #102 closed

[2015-05-13 11:00] andersevenrud commented on #101
@MrSchism
Sure, you could do it :) I just closed #102

[2015-05-13 11:51] #101 closed

[2015-05-13 20:05] livep2000 commented on #102
Confirmed that the code is correct.

In the php server is becomes clear that login returns an Object (as json)

result.userSettings
result.userData

In the lacking example handler for node I returned only userData.

Imre

[2015-05-13 20:12] andersevenrud commented on #102
Yes, there is not an example node handler (yet). I've been working on this entirely alone and I guess I forgot it :/ I will make one

[2015-05-13 20:27] andersevenrud commented on #102
This issue is continued here: #11

[2015-05-14 06:20] livep2000 opened #104 "doSetLocale(l) receives wrong format"
Morning,

(in OS.js-v2/src/javascript/api.js, line 244)

Sorry to be the little PITA. :)

String l in this function receives the value 'nl'.
It wants 'nl_NL' and switches to default locale. ( en_EN )

To proof this is the case, did a dirty patch:
[code]

Wich is working. I think the OSjs.API.getLocale should return the proper format?

Imre

[2015-05-14 07:47] livep2000 commented on #49
Some one ever made a config file for Nginx?
So i don't have to re invent the wheel.

Imre

[2015-05-14 12:01] andersevenrud commented on #49
@livep2000 I don't think anyone has run it on nginx yet, at least nobody has provided a config file for this.,

[2015-05-14 15:42] andersevenrud commented on #49
@livep2000 Latest commit 54edb1488c88847f464b7fa33be40b99029b79c4 now has nginx configuration included.

https://github.com/andersevenrud/OS.js-v2/blob/master/INSTALL.md#php5-on-nginx

[2015-05-14 15:44] livep2000 commented on #49
Wow, youre fast.

Thanks...

Imre

[2015-05-14 15:45] andersevenrud commented on #49
That's what she said ;) (I have very bad taste in jokes... sorry!)

But yeah, I do a shitload of server/VMs and web stuff at work, so I know my way around :)

[2015-05-14 16:14] #104 closed

[2015-05-14 16:15] andersevenrud commented on #104
@livep2000

This was actually solved by fixing up the global locale getter function. Thanks :)

https://github.com/andersevenrud/OS.js-v2/blob/master/src/javascript/utils.js#L450

[2015-05-14 16:53] livep2000 commented on #104
Thanks to you, my customers now read Dutch :)

[2015-05-14 17:23] andersevenrud opened #105 "[API] Privileges via Groups"
OS.js definately needs privilege support via groups. This is easily doable via the Handler.

It basically only needs to throw an Exception when calling certain functions server-side.

**Demo handler will make all users have FULL PRIVILEGES**

Groups:
[code]

## Frontend
- [x] Hide packages that you do not have privileges to
- [x] Add more user information in *Settings* application

## PHP
- [x] Im

[2015-05-14 18:07] andersevenrud commented on #105
@livep2000 It's on its way ;) It works in the PHP server now at least.

[2015-05-14 18:19] andersevenrud commented on #105
@khoaakt Just letting you know that I've started on this ;)

[2015-05-14 19:32] andersevenrud commented on #105
That was easier than I first thought... The ground-work is there now :)

[2015-05-15 00:57] khoaakt commented on #105
@andersevenrud Good job ;), but don't hurry because it will waste time for bug fixes

[2015-05-15 02:53] livep2000 opened #106 "Dead symbolic link in dist-dev"
In dist-dev there is an config.js linking to nothing.

Sorry for posting such a minor issue.

Imre

Addition: Am i right: in dist-dev the symbolic links to osjs.css and osjs.js are missing ?

[2015-05-15 03:53] khoaakt commented on #49
Add some features: Shortcut in desktop, create Desktop Workspace, show date in bar, Touch Menu must have tab that categorized software :)

[2015-05-15 07:18] livep2000 commented on #105
@andersevenrud : love ye !

Got a custom handler running now, accessing my own userdatabase.
With use of the new nginx configuration file.

I'll wait a bit before I translate my sites usergroups to your privilege template.
But looks good so far!

Imre

[2015-05-15 08:12] #106 closed

[2015-05-15 08:13] andersevenrud commented on #106
You're right. Missed that one :)

[2015-05-15 08:13] andersevenrud commented on #106
Addition: Am i right: in dist-dev the symbolic links to osjs.css and osjs.js are missing ?

These are missing because you have not run `grunt core`

[2015-05-15 08:25] andersevenrud commented on #49
@khoaakt

This can be solved easily. Adding to the list

I already have this in a branch, but not tested yet. Will look more into it (already on list)

It really should be configurable.

Already there. Check the Settings application :)

[2015-05-15 09:27] livep2000 opened #107 "Autosave settings."
If navigating away from the page without logging out:

Usersettings are lost.
Is it possible to save just before closing? Becease accidental navigating away happens very easy. (Browsing usually not involve saving your work)

imre

[2015-05-15 09:29] andersevenrud commented on #107
Since you cannot reliably do asyncronous calls when a page unloads (they get cancelled), no.

But you can interrupt it and show a warning message with yes/no button. Ex: "Are you sure you want to quit? All unsaved settings and applications data will be lost"

[2015-05-15 09:52] livep2000 commented on #107
Thought so..... When interupting is reliable,
the question could be ''wanne save your session?'

Imre

[2015-05-15 09:56] andersevenrud commented on #107
As I said, you cannot do asyncronous calls on page unload. It cannot ask you to save the session. It would have to warn you that you will loose it if not clicking "Cancel" and quit properly (with the log out button).

[2015-05-15 19:59] andersevenrud commented on #107
@livep2000

How to enable warning message.

- Alternative 1: Set `ShowQuitWarning` to `true` in *src/conf/110-frontend.json* (not recommended as this file might be overwritten by updates)
- Alternative 2: Set up a custom config, example *src/conf/999-custom.json* with:
[code]

Then run `grunt config` and restart OS.js. You should now see an error when closing/reloading without using the Quit butto

[2015-05-15 19:59] #107 closed

[2015-05-15 20:00] andersevenrud commented on #105
@khoaakt I have no issues marked as *bug*. And have not recieved a bug-request in ages. ;)

[2015-05-16 17:07] andersevenrud commented on #96
Will clean this up whenever I'm updating something. Just want to close this issuse.

[2015-05-17 13:44] andersevenrud commented on #94
WAMP stack is now supported and working.

[2015-05-17 16:53] livep2000 opened #108 "Install a zip from shared folder not working"
Install a zip file from a home folder works perfectly.

But not from te shared folder. The packages.json is not updated and in the packages folder
an incorrect structure apears, like:

home:// packages/chat/chat/<package files>

If installed from the homefolder itself or the test from the store its is like this:

home:// packages/chat/<package files>

Imre

[2015-05-17 16:59] andersevenrud commented on #108
Have you simply thought of not having a root dir in the zip ? ;)

[2015-05-17 21:45] andersevenrud commented on #108
Oh, now I understand. I will have a look

[2015-05-18 04:51] livep2000 commented on #108
Using zip.js, maybe important beceause i saw that Java is an option too.

Imre

[2015-05-18 04:57] livep2000 opened #109 "Other vs unknown category."
It seems i'm responsible for the little buggy's.

A package, that is not registred in one of the known categories, always comes in category 'unknown'.
Following parts of the script, i saw that there is also a category 'Other'.

1. Wouldn't it be nicer if all unknown comes in Other?
2. How about creating a new categorie if unknown?

Imre

[2015-05-18 05:21] MrSchism commented on #109
Installing to Other would work, but only if the category could be changed and the menu would reflect it without a session restart.

For it to install into a new category, that would require the categories to be populated from a survey of all listed categories in packages.  This might not be the best way because a maintainer may change the name of a category; giving that arbitrary control of your i

[2015-05-18 07:12] livep2000 commented on #108
Sorry, found more inconsistent behaviour.

Reproduce:
1. Wipe my home folder.
2. Wipe my settings & groups data from the mysql table.
3. Login with the php handler.

What happens:
1. The handler is creating the home folder.
2. In the javascript console this error:
FShome:///Packages/packages.json 404 (Not Found)

Now install test from your resopitory:
3. Test is not to find in the menu or the proc

[2015-05-18 12:43] andersevenrud commented on #108
So, basically, the problem is that the "Packages" folder is missing ?!

Why hide it ? :)

Deleting the folder will suffice, but yeah, an uninstall button makes sense.

[2015-05-18 13:54] livep2000 commented on #108
Hey Anders,

Hidden user packages and 'uninstall' user packages.

Try to look at it from a real-live production enviroment.
I, as the owner of a website want to give the users what they need. (What i think they need)

For example a read only folder with custom packages, the user can install and use, or remove as they want so.

Users, if you got more then a few, do dumb things, like removing files

[2015-05-18 14:10] andersevenrud commented on #108
Yes, it is.

Read-only will not allow you to install any packages. I don't think turning it off/on when installing/uninistalling is a good idea... it pretty much defeats the purpose and will lead to more potential errors.

I could make the packages folder a dotfile and add a warning if you try to remove/modify any files.

I still don't understand what you mean. I have to check this out myself.

[2015-05-18 14:18] andersevenrud commented on #109
There is no "other" category. I think you might looked at the icon name ;)

This category list was lifted straight from GTK/Gnome.

[code]

Do you mean replacing the label with "Other" instead of "Unknown" ? It might be prettier

I don't think I will support any custom-defined categories. Mostly because of locale reasons.

[2015-05-18 16:12] livep2000 commented on #108
Yes, I understand the complexity with all of this. Going to try te be more clear.

A read only folder:

A folder that can hold things like uninstalled packages, wallpappers to choose from, etc.
If a user want to install, the package it is installed in a hidden folder inside the home.

On this way, the owner of the site can provide optional functions to the users. The codemirror package for example

[2015-05-18 16:26] livep2000 commented on #109
Okay, cannot find the parts where i saw 'other'.... it was late :)

Imre

[2015-05-18 16:26] #109 closed

[2015-05-18 16:50] livep2000 commented on #108
Test 1: Installing Test.zip from the "App store".
Result: May'be it was ment this way, de Test.zip is copied to the home folder and can be installed frome there.

Test 2: Installing a package from the home folder. Copied "RTCGroupVideo.zip" into the folder.
Result: Works great !

Test 3: Install from 'shared' folder. Copied "Chat.zip" into the folder.
Result: Complete confusion, WTF, this is worki

[2015-05-18 16:50] #108 closed

[2015-05-18 17:06] andersevenrud commented on #108
Then a simple *dotfile* would suffice :)

I have a much easier way of solving this. I'll just add a "EnabledPackages" array to the user settings storage and add toggles in the "Settings" application. This will simply hold a list of system installed packages you want to use (By default is empty, which means "all").

Also, this can be solved with the recent implementation of groups!

Having all of t

[2015-05-18 17:07] andersevenrud commented on #108
Well... Glad to see it works. But if you had problems with this, it might be intermittent. Keep a look out for it again. I will also try to reproduce it :)

[2015-05-18 17:08] andersevenrud commented on #109
If you come by it, notify me. Maybe I made a mistake somewhere (It is very, very likely) :P

[2015-05-18 17:11] andersevenrud commented on #108
I just added some of the things that came up here in #49. Feel free to comment there if I missed something

[2015-05-18 17:13] andersevenrud commented on #109
That is actually a good thing. I love me some issues :)

[2015-05-18 17:21] MrSchism commented on #109
And more reasonable.  Either 'Other' or 'Misc.' would be a better option.

[2015-05-18 17:43] andersevenrud commented on #109
Continued in #49

[2015-05-18 18:03] andersevenrud commented on #49
@livep2000

I have now moved user installed packages to `home:///.packages`. Pull the latest commit and do `gunt config`, then regenerate metadata in settings application.

I have also added a toggle to FileManager so you can show/hide them (by default FileManager will not show them), however File dialogs will! I will add this as a global setting soon :)

[2015-05-18 18:10] andersevenrud commented on #109
@livep2000 You are correct... you saw "Other" somewhere. It looks like I actually thought of this one time but somehow forgot it :smile: Nice catch! It's been merged

https://github.com/andersevenrud/OS.js-v2/pull/110

[2015-05-18 18:23] andersevenrud commented on #81
Deprecating this issue in favour of #49

[2015-05-18 18:23] #81 closed

[2015-05-19 04:27] livep2000 commented on #49
Super! so a file or folder, starting with a period, will be hidden by default?

Thats a nice solution to prevent the dumb from doing dumb.

Found a simple and logical solution for a custom 'market place'.
A subfolder in public, with readonly for nxing.....

Imre

[2015-05-19 10:47] andersevenrud commented on #49
@livep2000

You can read more about dotfiles here: http://en.wikipedia.org/wiki/Hidden_file_and_hidden_directory :)

Not exactly sure what you mean by this.

[2015-05-19 11:58] livep2000 commented on #49
Well, to provide packages publically.
Of course in the folder public.

But, then a user can delete, alter or replace them.
Beceause i use nginx it has read-write permissions for nginx.
By setting that (sub) folder read only (in linux), the api.php cannot change files.

Imre

[2015-05-19 12:12] andersevenrud commented on #49
Like, shared between all users ? I think adding some sort of $PATH global variable is a better way to do it. Just like every OS does... so you can define what paths have "executables".

Because of potential security issues I will not however be adding the public storage path there. Imagine someone installs a public package designed to hijack let's say an application you have to enter your password

[2015-05-19 15:49] livep2000 commented on #49
grinzz, where still don't understand eachother.
The folder with read only rights is not the folder to install in,
but the folder to install from.

Since i am placing the (selected) packages in there and it cannot be altered,
i'm sure it's not malicious.

Of coarse, i'll have to use root acces. To do so.

Marking that subfolder as read only, will not prevent te api from accessing it.
But it throws

[2015-05-19 15:54] andersevenrud commented on #49
Oh. You were thinking about actually hosting all the apps in a live OS.js environment ?

I have completely other plans for that. More specifically a separate web API running on another host. Hence the name "App Store" or "Marketplace" (think: service).

But nothing is stopping you from doing it this way.

[2015-05-19 15:58] andersevenrud commented on #49
*packages*, not *apps*. Sorry

[2015-05-19 16:26] livep2000 commented on #49
More like a STORAGE for optional site specific apps.
Or optional os.js apps

Let's compare it with the extra's that comes with windows.
They come uninstalled, but can be if it fits your needs.

I got for example a lot administrative tools, only to be used by a
 few admins.
(protected by user role)

ire

[2015-05-19 16:39] andersevenrud commented on #49
This is why I started on the "App Store". See:
- https://github.com/andersevenrud/OS.js-v2/issues/99

And also:
- https://github.com/andersevenrud/OS.js-v2/wiki/Package-Repositories

But, you could do it in the way you just described. Everything is in place for that. That is mostly why I do not understand you. Is there something you need ?!

[2015-05-20 14:18] andersevenrud opened #111 "Windows 8.x touch compability issues"
A user has been reporting (by mail) that the nightly is not working as it should on Chrome (Windows).

Strangely enough it does not happen on the demo-site and I am unable to reproduce this.

Reports of not being able to move the window or close it with the button(s).

No errors are logged which leads me to believe that the input events are simply not registered.

I know the function for this has

[2015-05-20 15:48] andersevenrud commented on #111
I narrowed down to the touch-code compatibility. When thinking about it it's actually not weird he's getting these at all. I "updated" the compability code in df0490c8d996957fd170de485119dbdb1404a265 and changed it ever so slightly. Turns out this triggers a bug in certain Chrome versions. I have now changed this in 387edf4ef915b293f1f8b44b39f1cf196057b458. Waiting for the fine gentleman to ping m

[2015-05-20 16:21] andersevenrud commented on #111
Windows 8.x apparently causes false positives, and there is no "real" way to actually detect touch-screens. So for now I placed a workaround for the platform. I might have to rethink this.

[2015-05-20 17:19] andersevenrud commented on #111
Commit 914ac465af3803473bb9a8ab0b9a4968dde8d915 has solved the problem... for now! I have to rethink event registration/compability here

[2015-05-20 17:19] #111 closed

[2015-05-20 17:57] andersevenrud opened #112 "[UX] Touch, Mobile, Small screen/Scaled UI support"
As of Feb. 2016, touch-support is working and fully implemented.

The next steps is to make sure this is working on *all* platforms, then go ahead and implement responsive UIs so the interfaces scales better on mobile devices (or small screens).

If you have experience with design and want to participate, *please contact me*.

- [x] Touch Support
- [ ] Fix "script error" on gestures
- [x] Fullscre

[2015-05-21 15:36] staticextasy opened #113 "Image Shortcut Causes Error"
![image](https://cloud.githubusercontent.com/assets/6365639/7752383/22b60732-ffad-11e4-894f-c38f3d48f221.png)

Double-Clicking on image-shortcut icon from desktop causes Error Dialog. I can open the image from the File Manager, it lets me select an application to run the image in.

    Error: This function excepts a OSjs.VFS.File object
    at _Handler.getApplicationNameByFile (http://localhost:80

[2015-05-21 15:39] andersevenrud commented on #113
Thanks, mate :) Will fix this

[2015-05-21 15:44] staticextasy commented on #113
Seems this bug is related to any custom created shortcuts, I just tried a shortcut to a text document and I get the same result.

    Error: This function excepts a OSjs.VFS.File object
    at _Handler.getApplicationNameByFile (http://localhost:8000/osjs.js:4377:13)
    at Object.doLaunchFile [as open] (http://localhost:8000/osjs.js:1431:13)
    at opts.onActivate (http://localhost:8000/packages/d

[2015-05-21 15:45] #113 closed

[2015-05-21 15:45] andersevenrud commented on #113
It is fixed now. It was a problem with desktop shortcuts in general :)

[2015-05-21 15:52] andersevenrud commented on #113
The best way to update codebase for changes like this is like this btw:

[code]

[2015-05-21 16:30] staticextasy opened #114 "Rename File Error"
![image](https://cloud.githubusercontent.com/assets/6365639/7753648/d4285fae-ffb4-11e4-82a0-f91c666b6c6e.png)

Error when attempting to rename file in File Manager. I'm guessing it creates a phantom file there as well, if i close out of the error dialog and try to open the file in Preview I get this image:

![image](https://cloud.githubusercontent.com/assets/6365639/7753692/19c9bd46-ffb5-11e4-92aa

[2015-05-21 16:44] andersevenrud commented on #114
Thanks! This seems to be a Windows issue. Guessing it has something to do with path resolving.

Will fix :)

[2015-05-21 16:46] andersevenrud commented on #114
Scratch comment below. It is actually a spelling error. Ooopsie! :)

[2015-05-21 16:47] #114 closed

[2015-05-21 16:56] andersevenrud commented on #114
Fixed now.

[2015-05-21 22:29] andersevenrud commented on #49
Commit 6cfb499fad338d234ba83cab34ea338ea89178f5 Introduced application launchers on desktop. Simply drag an application from the menu on to the desktop (with iconview enabled)

[2015-05-22 20:06] andersevenrud commented on #61
I'm closing this for now. Moved arrow thingy to #49

[2015-05-22 20:06] #61 closed

[2015-05-22 20:24] andersevenrud commented on #14
Merged with #18

[2015-05-22 20:24] #14 closed

[2015-05-22 20:28] andersevenrud commented on #12
Closing the issue because most of this is now mostly automated and taken care of (Except maybe the servers, but they use the same HTTP methods and that is all documented)

[2015-05-22 20:30] andersevenrud commented on #24
It seems to be very hard to recruit testers, but now I have a couple that are willing to do it. So that should suffice for now :) This issue is taking up unwanted space, so I'm going to close it. It does not make much sense to have it open anyway, since most people contact me via mail.

[2015-05-22 20:30] #24 closed

[2015-05-22 20:36] andersevenrud commented on #69
Duplicate of #49 (or, moved to, rather)

[2015-05-22 20:36] #69 closed

[2015-05-23 23:09] andersevenrud commented on #95
This is basically done :)

[2015-05-23 23:09] #95 closed

[2015-05-24 22:35] andersevenrud commented on #94
@khoaakt I've added a Windows installer if you're interested in looking at it.

It will download, unpack, install dependencies and build OS.js for you.

- Download: http://andersevenrud.github.io/OS.js-v2/installer.exe
- Sources: https://github.com/andersevenrud/OS.js-v2/tree/master/src/tools/windows-installer

[2015-05-24 22:39] andersevenrud commented on #94
@khoaakt You have to install to C:\osjs for now, but I will add support for custom directory tomorrow. Getting late here :P

[2015-05-27 03:33] khoaakt commented on #94
@andersevenrud  :) OK, thanks

[2015-05-29 08:01] Subhajit-Sarkar opened #117 "Get error when want to open Drum Sampler v0.6."
Summary:
Please report this if you think this is a bug.
Include a brief description on how the error occured, and if you can; how to replicate it

Trace:
Error: Failed to execute 'decodeAudioData' on 'AudioContext': invalid ArrayBuffer for audioData.
at Error (native)
at http://osjsv2.0o.no/packages/experiments/DrumSampler/combined.js:313:19
at Object.Utils.ajax.onerror (http://osjsv2.0o.no/osjs.j

[2015-05-29 13:03] andersevenrud commented on #117
What kind of browser were you running ? It seems a very few have this problem

[2015-05-29 13:25] Subhajit-Sarkar commented on #117
Google Chrome.

[2015-05-29 13:35] andersevenrud commented on #117
I'm running the exact same versions as you, but not getting an error. I'm suspecting it is a problem with a file transfer and/or my server configuration. I will have a look at this. Thanks for reporting :)

[2015-05-29 13:37] Subhajit-Sarkar commented on #117
Thank you for your kind information.

[2015-05-29 13:37] #117 closed

[2015-05-30 21:00] andersevenrud commented on #94
@khoaakt I fixed the issue you found with settings wallpapers etc. in Windows :)

[2015-06-02 18:39] andersevenrud opened #118 "Webhost/Custom URI deployment support"
Currently, installing OS.js to a webhost can be a bitch.

**In latest commit this has been adressed, but not finished**

- [x] Building of custom htaccess files
- [x] Auto-detect path in VFS
- [x] Configurable server-path via config
- [x] Package Manifest needs to make use of configurable path
- [x] Fix /blank.css errors
- [x] Auto-detect path in frontend instead of using custom uri in config ?!
-

[2015-06-02 22:40] andersevenrud commented on #118
@khoaakt I've made it so you can build OS.js for running on a server like you did. It is now very simple and requires only a few steps :)

https://github.com/andersevenrud/OS.js-v2/blob/master/INSTALL.md#webhost

[2015-06-03 03:43] khoaakt commented on #118
yeah, it's very simple :). GJ @andersevenrud .
But if i want update os.js build then what i do? Copy what folders and files?

[2015-06-03 10:39] andersevenrud commented on #118
@khoaakt Rebuild and copy changed files.

[2015-06-06 15:07] andersevenrud commented on #118
@khoaakt I just commited a fix for the problem you were having with reading files.

[2015-06-12 22:16] ComputeLinux opened #119 "Chrome - can't drag windows."
Happens on both windows and ubuntu.

[2015-06-12 22:18] andersevenrud commented on #119
Thanks for reporting!

I think this is related to #112. Do you have a touch screen ?

[2015-06-12 22:35] ComputeLinux commented on #119
Yes, but I am not using it to move the windows.

[2015-06-12 22:37] staticextasy commented on #119
It is not related to the physical usage of the touchscreen.

[2015-06-12 22:38] ComputeLinux commented on #119
Ok, let me disable the driver

[2015-06-12 22:39] ComputeLinux commented on #119
By the way, this isn't specifc to W8. Running Ubuntu on real HW right now, it still happens. So it's a chrome only thing.

[2015-06-12 22:39] andersevenrud commented on #119
I just committed 9f0bd9e9363979091d1033def1c88704c7d56ec4 to rework touch detection. Demo has also been updated and rebuilt. Can you test again ? :)

[2015-06-12 22:40] ComputeLinux commented on #119
Fixed, thanks!

[2015-06-12 22:40] #119 closed

[2015-06-12 22:40] staticextasy commented on #119
Im guessing touch or not, chrome handles clicks and touches weirdly.

[2015-06-12 22:41] ComputeLinux commented on #119
yea, happened on my non touch computer too.

[2015-06-12 22:41] andersevenrud commented on #119
The thing is, touch-detection is pretty much broken now. There is no safe/reliable way to do it in javascript :/ So now I'm only enabling touch input if the device is matching ios/android/blackberry etc.

[2015-06-12 22:42] staticextasy commented on #119
When i discovered the original bug i was not on a touch device either.

[2015-06-12 22:42] andersevenrud commented on #119
Broken because browser vendors implements this differently. It seems latest update breaks it even further. Previously this was only a problem on Windows 8.x, but now spans all platforms.

[2015-06-12 22:43] staticextasy commented on #119
Is this a JS specific issue only? Could we use a wrapper from something else to handle touch detection

[2015-06-12 22:43] andersevenrud commented on #119
I would not have detected this, so thank you very much!

[2015-06-12 22:44] andersevenrud commented on #119
@staticextasy I'll need to just ignore detection all together and just *assume* every device is a touch-screen and rewrite event-binding. That's the only way AFAIK.

[2015-06-12 22:45] ComputeLinux commented on #119
This is chrome only so I'm guessing blink. Maybe detect if it's a non blink/webkit browser then do touch detection?

[2015-06-12 22:47] staticextasy commented on #119
Sounda like a good time.

[2015-06-12 22:52] andersevenrud commented on #119
@ComputeLinux I will have to look at what Modernizer etc. does with this problem. Browser-detection is wonky and a bit hacky... but it might be the only way.

Already it's pretty ugly: https://github.com/andersevenrud/OS.js-v2/blob/master/src/javascript/utils.js#L414

Interesting reads:
- http://www.stucox.com/blog/you-cant-detect-a-touchscreen/
- http://stackoverflow.com/questions/4817029/whats-t

[2015-06-12 22:53] andersevenrud commented on #119
Also: https://github.com/Modernizr/Modernizr/issues/548

[2015-06-12 22:57] ComputeLinux opened #120 "How to disable demo user on locally hosted OS.js?"
Title.
AKA enable register/logon

[2015-06-12 22:57] ComputeLinux commented on #120
like, what handler is it

[2015-06-12 23:07] andersevenrud commented on #120
You can use the "example" handler that is included. It's named this way since it's purely an example on how you can do it (but still works fine).

I just updated the docs since they were outdated. Please give them a go and report back if you have any problems or questions.

PHP only at the moment though... I haven't found any time to make one for Node yet :(

https://github.com/andersevenrud/OS.js

[2015-06-12 23:09] andersevenrud commented on #120
I just updated them again. Missed something

[2015-06-12 23:25] ComputeLinux commented on #120
Here's a good mile stone: Beta 1 should have node login support

[2015-06-12 23:28] andersevenrud commented on #120
Beta 1 is definately the target to have this in place, including a lot of other stuff. A problem is that I work on this entirely alone (except for the contributors that provide language updates etc.) and I'm very busy with work as of late... so it might take a while :/ My goal is to have a beta this fall/early winter. So stay tuned! :)

[2015-06-12 23:29] andersevenrud commented on #120
Related to: #11

[2015-06-14 15:03] andersevenrud commented on #112
Interesting reads:
- http://www.stucox.com/blog/you-cant-detect-a-touchscreen/
- http://stackoverflow.com/questions/4817029/whats-the-best-way-to-detect-a-touch-screen-device-using-javascript
- https://github.com/Modernizr/Modernizr/issues/548

[2015-06-25 09:25] rubengc opened #121 "[API] Email Client, Calendar and Account Sync"
Two of the most important enterprise-class applications are an email client and a calendar with events support

Additionally, an account sync functionality where with one sync you can get access to all your content (emails, calendar events, contacts, cloud drives, online docs, etc) will be really good

**External repo** https://github.com/andersevenrud/OS.js-v2-office . Just clone and rebuild conf

[2015-06-25 09:38] rubengc commented on #99
This could be the strongest part of the OS, because if people are encouraged to develop apps (like a MySQL manager, web server manager, or native system management) OSjs could replace many management panels, even become an ideal for installation in machines with limited resources as raspberry pi

Another great feature of the store,, can be the download/submit of new themes

[2015-06-25 09:41] rubengc opened #122 "[CoreWM] Widgets support"
Add a desktop widgets support from apps installed

Something like Android/iOS widgets, where an app can contains some widgets with different sizes support

- [ ] Create Widget class
- [ ] Create Widget configuration(s)
- [ ] Add configuraition to Settings
- [ ] Create *Clock* widget as example

[2015-06-25 09:46] andersevenrud commented on #99
@rubengc

This was the original intent of OS.js actually.

Yep. That was a part of the idea with the store :)

[2015-06-25 09:47] andersevenrud commented on #121
I started on this, but never got to finish it. I will look into this when my vacation starts.... I have way to much work to do right now :/

[2015-06-25 09:49] andersevenrud commented on #122
This was [also] suggested in #100 and moved to #49. Do you have any specific types of widgets in thought ?

[2015-06-25 10:00] rubengc commented on #122
An interesting widget to test this can be a clock for some reasons:
Needs to get update every min (or every second)
Has different sizes
Has different date formats
Has different styles (normal or digital)

In the future, sure that some apps will have a really useful widgets (the weather, a system usage visor, a RSS feed from your favourite page, a task pending visor, etc)

[2015-06-25 10:33] andersevenrud commented on #122
I think it would be better to make the widgets a "package" just like how the applications run. This way it's super easy to maintain them with install/uninstall. Also, then you can decide for yourself where to put the files. You can basically have some cake, and eat it too :) Sounds reasonable ?

A clock widget would be a nice place to start. Should be pretty stratight forward and easy. Thanks!

[2015-06-25 10:41] rubengc commented on #122
So the user now will see in the store: apps, widgets and themes right?
If someone publish an app, will be interesting add widgets to this installation (asking to the user if he wants to install them too)
For example, a twitter app, would want to include a widget with latest tweets
In the store, the developer can mark what widgets are included in this app

[2015-06-25 10:44] rubengc commented on #121
Ah, a comand line app to execute OSjs and native commands will be useful too

an awesome theme can be this http://andersevenrud.github.io/shell/ xD

[2015-06-25 10:49] andersevenrud commented on #122
This can be a store spesific feature. In the manifest for a store item there could be some entries that define an association. That way it works more or less like you described :)

[2015-06-25 10:52] andersevenrud commented on #121
I actually have one, but I don't see the use for it... hence it's not included anywhere. It's so much better to just open the developer console in the browser :p

But I do want to add a real terminal emulator with buffers and all that so you can SSH and other sweet stuff like that. There are quite a few good libraries out there.

[2015-06-25 18:02] MrSchism commented on #99
I just had a crazy idea.  I know it's *possible* but probably unlikely.

Why not just use a separate public repo for the store itself and have each directory in the repo's primary folder be its own package?

Like `andersevenrud/OSstore/packages/{package1,package2,package3,...}` or even
`andersevenrud/OSstore/v2/packages/{package1,package2,package3,...}` (to futureproof the repo a bit).

That way t

[2015-06-25 21:29] andersevenrud commented on #99
@MrSchism That is how the package system actually works right now, and I use it on the store too. Only difference is that store packages come zipped when you ask for one over the API.

Also, no scraping is actually needed since I use a manifest for all packages within a certain repository. This way all the info required to run them are "cached".

Or I might be misunderstanding you entirely :P

[2015-06-25 21:34] MrSchism commented on #122
I think a system resource panel would be single handedly the best, especially if you can see usage per user in a separate tab

Simple, like Virtual Machine Manager's interface... but instead of VMs, show users.

![](http://virt-manager.org/wp-content/uploads/2013/04/virt-manager-vm-list.png)

[2015-06-25 21:42] andersevenrud commented on #122
@MrSchism

Which users ?

[2015-06-25 21:53] MrSchism opened #123 "Lightweight Development Appliance"
I've been quiet recently, largely because I've been dumping time into another project I stumbled upon: a cross-platform QEMU/TinyCore-based VM that can be found over at https://github.com/miklevin/levinux/

It'd be nice to have a custom version of that rolled for OS.js as a fast way to download and develop.

The total OS/QEMU size is around 25 MB.  It really swells up once OS.js-v2 is installed (d

[2015-06-25 22:02] andersevenrud commented on #123
Sorry, but I'm having a rough time understanding this. You mean running OS.js as a [web]server inside the virtual machine ?

[2015-06-25 22:03] MrSchism commented on #99
You're understanding me spot on.  I wasn't certain how it worked exactly.  I was more or less suggesting the following:

1. Move the store to its own repository
2. Make a directory in the repository for every store-aware version of OS.js (so v2 onward).
3. Add a manifest in the version's directory.
4. Have the store app parse the manifest.

So, does the underlying OS do the git fetch or do you use

[2015-06-25 22:08] andersevenrud commented on #99
@MrSchism Yeah, that is how it works basically, but the store is a private repo atm.

[code]

You have to do this manually at the moment. Also, when installing from store you will not get the repository, but download the zip package. Since the manifests include version stamps it is fully possible to automate the update process with an in-desktop job. OS.js has support for "Services" to run cronjob

[2015-06-25 22:09] MrSchism commented on #122
Any 'user' accounts on a system.  Like field 2 of `top`.

OR alternatively, if used in a multi-user mode.

[2015-06-25 22:09] andersevenrud commented on #122
@MrSchism But do you mean in OS.js or the underlying system ?

[2015-06-25 22:11] MrSchism commented on #122
In the first instance, the underlying system.

In the second, OS.js.  It'd ideally be set for only an elevated user to see.

[2015-06-25 22:14] MrSchism commented on #123
Essentially, set up OS.js entirely within the virtual machine so all a developer has to do is download the VM and run it and they have instant access to their own, functional OS.js environment.  I suggested the one above because it doesn't require installation or admin rights on the host OS (which is why I've been spending some time on it).

[2015-06-25 22:15] andersevenrud commented on #122
Yeah, because an OS.js user does not run on the underlying system... so getting any statistics for that would be pretty limited (only what the webserver has). If you had a handler that actually used PAM (which I have tested successfully) you can get some stats if a user actually executes some background tasks etc, but again limited.

But yes. The original intent of OS.js was to manage the underlyi

[2015-06-25 22:16] andersevenrud commented on #123
Aha. Someone actually provided a Vagrant-file which is essentially the same thing :)

(you just have to download that file and "start" it in Vagrant app)

https://github.com/andersevenrud/OS.js-v2/blob/master/INSTALL.md#vargant

https://github.com/andersevenrud/OS.js-v2/blob/master/Vagrantfile

https://www.vagrantup.com/

[2015-06-25 22:16] andersevenrud commented on #123
I just realized I have a spelling error there

[2015-06-25 22:18] MrSchism commented on #122
It wouldn't be a bad idea.  The ability for an admin/mod/op to monitor is always good, in my book.

[2015-06-25 22:19] andersevenrud commented on #122
@MrSchism I could basically just include a bunch of wrappers and attach them to the API for cases just like this. Sort of like munin (but not that awful custom scripting stuff.... just pure js)

[2015-06-25 22:30] andersevenrud commented on #123
But again, Vagrant will install an entire linux distro that is much larger, so this might be more attractive ;)

[2015-06-25 22:34] MrSchism commented on #123
Exactly...Well, this does too... the distro is just 9mb. This is downloaded and requires zero installation or configuration on the host OS... and no admin requirements.

Literally just download or clone (if you clone, copy to another directory).  It'd make testing packages faster for a few people.  Trick will be setting up git/gitignore to leave the host and only dev OSjs.

[2015-06-25 22:38] MrSchism commented on #122
That'd be awesome.  I was thinking something between the monitor I linked above and [conky][1]

[1]: http://conky.sourceforge.net/screenshots.html

[2015-06-25 22:40] andersevenrud commented on #122
@MrSchism Yeah. That'd be nice :)

[2015-06-25 22:44] MrSchism commented on #122
I say between the two because while conky is nice, it might be offputting to casual and new moderators/administrators.

[2015-06-25 23:39] MrSchism commented on #123
During setup, while following the manual install method:
[code]

I'm going to spin up another VM and just try the automatic install script and see how it goes.

[2015-06-26 11:06] andersevenrud commented on #123
@MrSchism Looks like you have not installed the dependencies `npm install`

[2015-06-26 18:43] MrSchism commented on #123
I'll be giving it another shot later this evening while documenting what I do in a step-by-step process.

[2015-06-26 19:53] andersevenrud commented on #123
@MrSchism Nice :)

[2015-06-27 21:51] NathanCJohnson opened #124 "Clicking "Cancel" on the logout confirmation dialog still logs out"
This might just be an issue on the public demo, but just wanted to make you guys aware of this.

[2015-06-27 23:07] andersevenrud commented on #124
Maybe I should add another button :)

It should be like: Yes, No and Cancel.

Sorry about the confusion. Will fix!

[2015-06-27 23:37] NathanCJohnson commented on #124
No problem, what would be the difference between the "No" and "Cancel" buttons?

[2015-06-27 23:37] NathanCJohnson commented on #124
Oh, nevermind, I see. The dialog asks if you want to save the session. That makes sense now. Another button would definitely help :P

[2015-06-28 00:47] andersevenrud commented on #124
Will add another button ASAP :)

[2015-06-28 01:11] NathanCJohnson commented on #124
Alright, cool :)

I have to say, OS.js is quite amazing. Great job on it!

[2015-06-28 01:23] andersevenrud commented on #124
Well, thank you :)

Den søndag 28. juni 2015 skrev Nathan Johnson <notifications@github.com>
følgende:

--

Anders F. Evenrud
Software Developer

Blog: http://tinyurl.com/cjfrfx8

[2015-06-28 18:47] rubengc opened #125 "Installation of libraries in the OS"
In any operating system you need to install libraries for your developments (and your users also need to have installed these libraries) such as Java or C++

In OSjs libraries needed are javascript, css and php as jQuery, Bootstrap or TCPDF, respectively

It would be very nice to install these libraries from the store (or by command line), and when someone downloads and app, the system detects wha

[2015-06-28 19:55] andersevenrud commented on #125
The thing is applications ("packages") live in their own git-repository and have a package.json. That is how dependencies are managed. You use "npm" and "git submodules".

When you start an app in OS.js it will first check the dependencies are loaded (via the provided list in app metadata), if not it will go ahead and do so. It is the package developers responsibility to have everything required t

[2015-06-28 19:57] andersevenrud commented on #125
I forgot: Store applications come as archives and are intended to run fully out of the box. Just like Firefox Marketplace and smartphone apps. So these include all the libraries and dependencies required.

If you install them manually from a repo (with full source, docs etc), you have to use the command line to set up the libs/deps... but again is fully automatic with "npm" (and/or "grunt").

[2015-06-28 20:43] #124 closed

[2015-06-28 20:45] andersevenrud commented on #124
@NathanCJohnson Fixed so it now gives you the option of **yes**, **no** and **cancel**. Maybe that makes it clearer :)

[2015-06-28 23:11] NathanCJohnson commented on #124
Awesome! Yeah that is a lot clearer :)

[2015-07-02 16:14] andersevenrud commented on #125
@rubengc I forgot to mention another thing. There is a package type of "extension" that you can use to include libraries and other extensions.

Example: http://os.js.org/doc/manuals/man-broadway.html

This loads a library and hooks up API functions for OS.js (library)

[2015-07-02 16:45] andersevenrud commented on #121
@rubengc I have started on an *account manager* that will allow you to add accounts etc. much like you do on smartphones etc.

That is just the beginning of it all though. Still needs a proper Calendar and Email app.

[2015-07-03 08:14] rubengc commented on #121
@andersevenrud That's sound really good!!!

I will wait impatiently for the results

[2015-07-09 11:21] rubengc commented on #49
I want suggest base the design of OSjs on Goggle's Material Design

Google's guidelines:
https://www.google.com/design/spec/material-design/introduction.html

Some references:
http://materializecss.com/
http://material-ui.com/
http://papyros.io/
http://www.jide.com/en/remixos

[2015-07-09 11:33] andersevenrud commented on #49
@rubengc I actually thought of this back in the days, but never actually got any further than that. I really like the example of the window in http://papyros.io/ . Something like that would definately be possible with the current theme system.

I also want to implement some sort of unified desktop that behaves more like tablet/phone experience that Google and Apple has, but I [personally] feel thi

[2015-07-09 17:39] junland commented on #49
@andersevenrud I would look at QNAP's QTS 4.1 and Synologys DSM interfaces, they have demos on there sites if want some good reference points for mobile implementation. Also might want to check out https://github.com/andy928/xpenology the open source version of Synologys DSM. It's the whole OS with the interface so might have to build it and run it on a VM to actually view the web pages or just di

[2015-07-09 17:43] andersevenrud commented on #49
@junland That looks interesting. Thanks for the tip!

You mean for OS.js ?

[2015-07-09 17:45] junland commented on #49
@andersevenrud No problem!

Yes. :)

[2015-07-09 17:52] andersevenrud commented on #49
@junland There is one actually. One concept in OS.js is the implementation of *handlers*. The default handler is the "demo" handler which stores user settings in the browser and does not have a login screen. All sessions are basically one user for demonstration and general development purposes.

Another handler is supplied called "example" which does have a login screen and stores user settings in

[2015-07-09 22:35] andersevenrud commented on #49
@rubengc I have started on a draft for the Materials implementation. It actually looks kinda good. WIll get back to you tomorrow when I have a screenshot ;)

[2015-07-10 07:17] rubengc commented on #49
@andersevenrud haha ok
I can do all the design so you can dedicate your time on OSjs core

[2015-07-10 14:05] andersevenrud commented on #49
@rubengc That might be best :) At least I got to do some experimentation. I also got to do some work on the new theme implementation (FYI. Just making better lessc stylesheets, not any changes in DOM).

![Screenshot](http://i.imgur.com/eG8ofc1.png)

[2015-07-10 14:09] junland commented on #49
@andersevenrud Ahhhh okay, I'll maybe try to get that started or something.

Also another thing that I was thinking was a terminal. One terminal for the actual desktop and another for the actual server that it's running on. It prolly won't be implement right now but I would like this to be a potential app down the road.

[2015-07-10 14:15] andersevenrud commented on #49
@junland Doing something with https://github.com/chjj/tty.js would be interesting since it has full vt100 support.

[2015-07-10 14:24] junland commented on #49
@andersevenrud That would be interesting. I'll look into that.

[2015-07-10 19:38] andersevenrud commented on #112
@ComputeLinux @staticextasy

I have made some changes to the touch event binding. Could you check if you get the same problems [as in the past] when looking at the demo site ? Would be highly appreciated :smile:

[2015-07-10 19:56] andersevenrud commented on #118
Closing this for now since it basically works fine. I don't think the last task is actually achievable

[2015-07-10 19:56] #118 closed

[2015-07-10 20:56] andersevenrud commented on #120
I have just added the nodejs example handler to the repo.

Requirements:
- `npm install mysql`
- Follow http://os.js.org/doc/tutorials/create-handler.html

[2015-07-10 20:56] #120 closed

[2015-07-10 23:32] andersevenrud commented on #125
I am closing this. If you have any further questions, please post them in #49

[2015-07-10 23:32] #125 closed

[2015-07-10 23:33] andersevenrud commented on #123
@MrSchism Any luck getting it going ? ;)

[2015-07-11 15:01] khoaakt commented on #125
I think like @rubengc . Someones won't know what package is missing. Example is download the OS.js-v2-expermiments package. It required some js like zip.js; three.js; ... etc. At the first time i download them, grunt had error because missing packages and i has embarrassed when catch that error :sob:

[2015-07-11 15:08] andersevenrud commented on #125
@khoaakt You got that error because you did not use git with recursive clone. If you follow the documentation it will set up all libraries/dependencies for you :) "experiments" is not a package, but a repository *with* packages. To manage third party stuff automatically I went for *git submodules* for OS.js package repositories (which is something entirely different than a zip or store application

[2015-07-11 15:13] khoaakt commented on #125
why it is always in http://os.js.org/doc/manuals but did I not know it? :scream:

[2015-07-11 15:14] andersevenrud commented on #125
@khoaakt All documentation is on the homepage.

Manuals: http://os.js.org/doc/manuals/
Tutorials: http://os.js.org/doc/tutorials/
API: http://os.js.org/doc/client/

[2015-07-11 17:30] andersevenrud commented on #96
Reduced size by 7MB now that I'm using uglyfy-js and clean-css for Grunt build instead of 3rd party binaries.

[2015-07-11 17:30] #96 closed

[2015-07-12 17:01] andersevenrud commented on #121
@rubengc I think I have something going here now. The library can now read feeds from online services (in this example contacts). Next would be to create write/modification support and hook it up to the synchronization process.

![Screenshot of progress](http://i.imgur.com/zVxuvWc.png)

[2015-07-15 23:07] andersevenrud commented on #121
@rubengc Have gotten some work done on the calendar implementation. If you have any UI design in mind for this, please let me know :)

Actuall notification and syncing of the events are in progress too!

![Screenshot of calendar progress](http://i.imgur.com/ac4JZAb.png)

[2015-07-16 15:03] junland commented on #99
@andersevenrud I can go ahead and write up a front page and maybe a mockup of a app page for packages. I'm thinking of using Semantic UI but I wanted to get your input on a frontend. I figured instead of starting from scratch I would just use a already built front-end.

[2015-07-16 15:43] andersevenrud commented on #99
@junland Sure :) I have not given it that much thought... so I'm open for ideas here.

[2015-07-16 15:52] junland commented on #99
@andersevenrud Awesome, I'll probably just start with a couple of example landings and we can go off from there.

[2015-07-16 17:43] junland commented on #75
@andersevenrud What needs to be done to ensure compatibility?

[2015-07-16 17:56] andersevenrud commented on #75
@junland Just testing browser compability, really

[2015-07-16 18:00] junland commented on #75
Got it :)

[2015-07-16 21:29] andersevenrud commented on #121
@rubengc Just letting you know there is also some good progress on the Email application. You can now list folders and messages, send and recieve messages, download attachments (so far only for Google and no cache has been created).

It is also integrated with the Contacts application.

![Screenshot of email progress](http://i.imgur.com/hpF74Tq.png)

[2015-07-17 03:21] junland opened #126 "Manual Install Error"
Was going to try to run this on a Ubuntu VM however I came across this when running the start up script.
[code]

All I did was follow the "Manual Install" procedures and I installed the legacy nodejs package and ran the start script in the bin directory...

[2015-07-17 13:37] andersevenrud commented on #126
That is because you are running it from the wrong directory.

You have to be in the root folder then run "./bin/start-node-dev.sh" :)

[2015-07-17 13:37] #126 closed

[2015-07-17 13:51] junland commented on #126
Ahhhh Okay thanks!

[2015-07-18 17:07] junland commented on #112
@andersevenrud Alright I was able to test a couple of devices, so here is what I found

Windows 8 Desktop - Worked fine, no problems with single or multi-windows open. (Firefox / Chrome)

Windows 8 Touch - I have a Dell touch screen monitor so I can test this out, no problems with any programs. Maybe a little lag here and there but that's probably because I have a very low spec VM running but we c

[2015-07-18 18:24] andersevenrud commented on #112
@junland Awesome. More things I can check off the list :)

I knew I had forgotten to add [the newest] compability somewhere. Thanks. I'll fix that!

I have noticed this as well. You can actually replicate this using the Emulator in Chrome. It seems that Webkit has some problems with the overflow in some cases. I don't know if this is a bug or a problem I have created with my CSS... but will invest

[2015-07-18 20:24] hiccup01 opened #127 "[API] TCP over Web support"
OS.js is great but adding TCP would even greaten the possiblities (HTTP(S), VNC, SSH etc.) check this out to learn more:http://artemyankov.com/tcp-client-for-browsers/

[2015-07-18 20:26] andersevenrud commented on #127
@hiccup01 I actually have a TCP/IP wrapper that runs on websocket that works similar to this. I just never added it to OS.js because I considered it very experimental. I'm going to look more into this. Thanks!

[2015-07-19 19:41] junland commented on #99
![webstore1](https://cloud.githubusercontent.com/assets/9792545/8767474/b109ea4a-2e23-11e5-9f74-24c80fdeaf2d.PNG)

Here is a very rough mockup of the front landing of the webstore. It's using Materialize as the front end framework. I can go ahead and create a repo for the store and then you can merge it on to your repo @andersevenrud. Still haven't figured out scripting and linking stuff, it's not

[2015-07-19 19:45] andersevenrud commented on #99
@junland Looks pretty sweet! You can use the official logos if you want (in *doc* directory of this repo).

You can fork this repo and create a pull request. I think that is the simplest way to import your work :)

https://github.com/andersevenrud/OS.js-v2-store-website

Scripting of what ? :)

[2015-07-19 20:04] junland commented on #99
Awesome, I'll go ahead and do that.

Getting the packages read from the package repo. :)

[2015-07-19 20:09] andersevenrud commented on #99
I was actually thinking about creating a REST service for the store that you simply make AJAX requests to... so the website is just a standalone web app. I like keeping stuff like this very modular.

But if you want to look at it: What you want to do is to create a script that digests all the repos and fills a [relation] database (sql) with all the package manifest data (package.json). Then retrie

[2015-07-20 20:59] andersevenrud commented on #121
@rubengc Just thought I'd give you an update.

I have now moved *Google Contacts* and *Google Mail* clients into the **extras** repository. They are considered "usable" by now.

Mail application is only missing a few minor functions (mainly sending of attachments). The contacts is only missing midification/adding of entries.

I will look at making abstractions (to make it work with, ex. Outlook) f

[2015-07-20 21:52] junland commented on #121
Looks good. @andersevenrud Don't burn yourself out, take a little rest for a day or two. :)

[2015-07-21 17:07] andersevenrud commented on #94
I have resolved some of the symlinks in the project... that should make setup of dist-dev in Windows a bit easier :)

*note* You still have to set up symlinks manually

[code]

[2015-07-21 17:18] andersevenrud commented on #94
I made another update... so should be pretty straight forward now... but I have to fix something in the Grunt build process to eliminate a bug where some files suddenly disappear (windows only)

[code]

[2015-07-21 21:23] andersevenrud commented on #94
Running `bin\create-windows-symlinks` should now take care of symlink problem :smile:

[2015-07-21 22:43] andersevenrud commented on #34
Merging with #11

[2015-07-21 22:43] #34 closed

[2015-07-21 22:44] andersevenrud commented on #85
I will just do this manually and not spend any time on writing a script. It seems to be a bit more involved then I hoped :P

[2015-07-21 22:51] andersevenrud commented on #86
I've thought about this, and it's not much one can do when working with VFS abstration. The best I can do with how it works now is to check the last written timestamp of a file and alert the user that it will overwrite any of these changes.

Moved tasks to #49. I'm cleaning up issues :)

[2015-07-21 22:51] #86 closed

[2015-07-21 22:54] andersevenrud commented on #121
@junland I'll try ;)

[2015-07-21 22:57] andersevenrud commented on #121
Now that the Google versions of these client applications are coming along nicely, I will merge this with #15, since this all will be a feature of the official release branch :)

[2015-07-21 22:57] #121 closed

[2015-07-21 23:24] andersevenrud commented on #75
@junland I've recently been testing this... and it seems to work great on all platforms and browsers (at least the modern ones, which is the requirement after all).

[2015-07-21 23:24] #75 closed

[2015-07-22 00:01] MrSchism commented on #75
The Ghost CMS team experienced some issues with FlexBoxes on Firefox recently.  It may be worth checking back a version or two.

[2015-07-22 00:03] MrSchism commented on #85
I was experiencing the same thing.  I've been working on it slowly (after the initial attempt in early March), but never got anywhere.

[2015-07-22 01:50] junland commented on #99
Alright, I'm looking into API's as we speak lol.

[2015-07-22 01:55] junland commented on #75
@andersevenrud Awesome!

[2015-07-22 12:06] andersevenrud commented on #75
@MrSchism I looked at their issues, and it only seem to be a mobile spesific issue with their implementation. Sho no worries

[2015-07-22 14:03] junland commented on #112
I found a JS library to handle touch, I know right now you can do it because touch is just emulating a mouse, but this library handles multi-touch and gestures. http://hammerjs.github.io/

[2015-07-22 14:13] andersevenrud commented on #112
@junland I am familiar with that library (use it a lot at work). The things is, one of the things about OS.js is that it does not depend on any third-party stuff in the client core/default packages, and I think I want to keep it this way.

I however found something that could be used to write something custom. Under 200 lines and seem to work just as I want: https://github.com/rasismeiro/touch. On

[2015-07-22 15:44] junland commented on #112
@andersevenrud Ahhh yea that's fine. :)

[2015-07-22 18:00] junland commented on #49
@andersevenrud I was looking around Github (Again) and found this project: https://github.com/symbiose/symbiose They have a working terminal (Seems a bit buggy, but looks promising), dock, brackets, software center, and some other applications. Don't know if we want to fork some of the code (It's under MIT licenses so I think were okay.).

[2015-07-22 18:10] andersevenrud commented on #49
@junland  I am very familiar with that project and have actually done some contributions :) The problem Symbiose is that it's overy-complex and has way to many points of failure (if you look at the latest issues you can see there is some fundamental problems there). Other than that I really like it.

The patters, filetree, APIs, etc. are completely different... so that means doing some rewrites to

[2015-07-22 18:15] junland commented on #49
@andersevenrud Yea, I looked into it more and it's all over the place. But they have a pretty well featured product.

Yea I'm looking through it now to see if I can find that, at least we can pull that dock from there.

If you want, I'm more concerned that if we add it, that may introduce more bugs that we would have to spend more time on. But that's up to you. :)

[2015-07-22 18:20] andersevenrud commented on #49
It would be nice to separate one spesific application, then try to figure out the dependency tree of it (like, which namespaces and libraries are used). I would like to see that. One can immediately see what kind of job lies ahead.

There would be no new additions to the core, so bugs will not happen. Applications are isolated entirely from the rest of OS.js... so it's considered "safe" to make ad

[2015-07-22 18:23] junland commented on #49
Or some really good documentation lol

Ah, I see :)

[2015-07-22 18:35] andersevenrud commented on #49
@junland

There is no documentation, except for some of the basic setup and API usage AFAIK. I have not seen any fundamentals or stuff like that (github wiki). But if you find something, let me know.

[2015-07-22 18:38] junland commented on #49
@andersevenrud Will do.... Speaking of API if I wanted to add more functions to the API what tools do you use to write that? Do you use a API framework?

[2015-07-22 18:44] andersevenrud commented on #49
@junland You just write a module and add it to `src/conf/200-compile.json` (then rebuild). Example: https://gist.github.com/andersevenrud/c2e84548a3c0af8c7150

[2015-07-22 18:52] junland commented on #49
@andersevenrud Nice!

[2015-07-23 16:43] andersevenrud commented on #94
Reopening because Windows paths seem to break JSON in some cases. This is pissing me off... so I'm just going to make a global function that replaces all generated paths with UNIX style slashes. AFAIK neither node or php cares about this.

[2015-07-23 16:44] andersevenrud commented on #112
Windows 10 seems to introduce some problems, indeed. I need to create MSPointer event handling or something. Just tried on a Surface, and dragging did not work.

[2015-07-23 17:20] andersevenrud commented on #94
This should be fixed now!

[2015-07-23 17:20] #94 closed

[2015-07-24 23:28] junland commented on #49
@andersevenrud You may be able to answer this but I've been going through some of the packages and I'm just trying to wrap my brain around building apps from the ground up. Is there another way to build / write apps? Also I can do the logic, but design wise it seems cumber sum when you don't have a preview of the Windows already available to you. I just would like develop apps faster and effective

[2015-07-24 23:37] andersevenrud commented on #49
@junland

Yes, there is :) http://os.js.org/doc/tutorials/create-application.html

I have an Interface Designer in the works (almost ready) :)

I usually just open my app, quit and save session, then reload page (F5). Just make sure that sounds are disabled or I will go insane.

I realise this can be a bit hard at the moment... the thing is, I write code for an hour or two, and *then* test it in t

[2015-07-24 23:48] junland commented on #49
Yup already looked over that, it's just seems like alot I guess. Or maybe it's just becuase I'm lazy :stuck_out_tongue_closed_eyes: .

Nice.

Yea, I do that too but like I said I'm a little lazy and I always think of others who are trying to write apps that don't have the patience / time / expertise to write apps. lol.

Nice. Also I'm working on a docker files so that should be pulled in through a

[2015-07-25 00:01] andersevenrud commented on #49
@junland

Well, I've tried to make it as easy as possible. The entire API is fully documented... so for a somewhat seasoned programmer it should not be a problem getting going.

I also realise that people are different and might not have the patince or have a whole different perspective on programming... It all boils down to that I am working alone on this and I simply do not have the time nor res

[2015-07-25 00:08] andersevenrud commented on #49
@junland All of this made me think... I got an idea here.

If I make an "developer service" (that runs in the background) that will show up as an icon in the panel. This icon has these options:

* Reload metadata (read new applications and metadata changes)
* Clear preloader cache (javascript files are only loaded ONCE... but with this you can reload them upon request)
* Reload application (with a

[2015-07-25 00:36] junland commented on #49
Yea, the API does take some of the guess work out of interacting with the desktop itself and VFS.

That's true, but that's why we have Github and other contributors to make time....

Yup!

Interesting, Why not feed it through a Server Side API command instead of a button? Maybe both?

[2015-07-25 00:40] andersevenrud commented on #49
@junland

That was the intention behind the thing. You for example launch your newly created application (you made with `grunt create-package:MyApplicationName`), click the panel icon and select "watch application". Then anytime you change your code (or recompile. this all happens server), the client will detect the change and reload the app (within a certain threshold).

Basically patching (detec

[2015-07-25 00:59] junland commented on #49
@andersevenrud Ahhhhhhhh that would be cool.

[2015-07-25 23:18] andersevenrud opened #133 "[Service] Developer Service"
This is a background service intended for developers.

*Functions are available through an icon on the panel. Only works with dist-dev*

- [x] Reloading of Manifest
- [x] dist-dev manifest with mtime
- [x] Detect mtime changes on packages
- [ ] Re-launching of applications upon change
- [ ] Re-launch session upon core changes

[2015-07-25 23:19] andersevenrud commented on #49
@junland The "Developer Service" will be developed in #133

[2015-07-25 23:25] andersevenrud opened #134 "[Applications] IDE/Interface Designer"
Issue for official OS.js IDE and Interface Designer.

This is developer parallel to the APIs, so suggesions are appreciated!

**REPOSITORY:** https://github.com/os-js/OS.js-IDE

![Screenshot](http://i.imgur.com/hjOwbbP.jpg)

* [x] Simple project loading
* [x] Window Rendering
* [x] GUI Element toolbar
* [x] Proper project loading and sessions
* [x] Project saving
* [x] Multiple window support
* [x

[2015-07-25 23:29] andersevenrud commented on #133
@junland :)

[2015-07-25 23:29] andersevenrud commented on #134
@junland :)

[2015-07-25 23:51] junland commented on #49
@andersevenrud Cool beans. Also I've been talking with another project called NodeOS to see if they need a desktop. It would be nice, because they can fork the project and also help development on our side. :)

[2015-07-25 23:52] junland commented on #134
:+1: Nice. Good job! @andersevenrud

[2015-07-25 23:52] junland commented on #133
:+1:

[2015-07-26 00:25] andersevenrud commented on #49
@junland I've been so busy with all sorts of things so it did not even cross my mind. Sweet :)

[2015-07-26 01:41] junland commented on #49
@andersevenrud lol

[2015-07-27 14:58] junland commented on #49
@andersevenrud Rather interesting conversation on the NodeOS project. Am I right? Hope it's not too much of a inconvenience to write all that stuff. :)

[2015-07-27 15:56] andersevenrud commented on #49
@junland Yeah. It is pretty cool :) There is still a bit of confusion (it seems) around how all of this works however. Hope we can sort that out!

[2015-07-27 16:05] junland commented on #49
@andersevenrud Yea it seems like it lol.

[2015-07-27 17:36] andersevenrud opened #136 "[UI] Next-Generation GUI, Dialogs and Themes"
This issue is for the next-generation UI system.

The plan is to separate the UI stuff from JavaScript, so you have to code less to make interfaces work (no CSS required), much simpler handling and manipulation of elements and dialogs.

You can now design your apps with HTML (custom elements) instead of coding them. This saves a lot of time, especially when prototyping. Also, this paves the way fo

[2015-07-27 17:41] junland commented on #136
@andersevenrud So to clarify, were going from a CSS / JS based window to a CSS / HTML (JS would be optionally) for apps?

[2015-07-27 17:48] andersevenrud commented on #136
@junland Nothing will change, except for the way you write the interface.

This way all we have all the different logics separated:

Application (JS) -> Window (JS) -> Content (HTML) -> Style (CSS)

[2015-07-27 17:49] andersevenrud commented on #136
Right now you have to program the UI, not simply describe it with markup.

[2015-07-27 17:53] junland commented on #136
@andersevenrud Ah okay, I think I understand now.

[2015-07-27 17:56] MrSchism commented on #136
I'm unbelievably stoked about this, to be honest.

[2015-07-27 17:59] junland commented on #136
@MrSchism I think so now that I look at the previous packages such as the calculator app.

[2015-07-27 17:59] andersevenrud commented on #136
@MrSchism Glad to hear that. I think this will generate a bit more interrest since HTML is something almost everyone knows :)

[2015-07-27 20:05] MrSchism commented on #136
It'll also streamline and focus development.

[2015-07-27 20:15] andersevenrud commented on #136
I have the first iteration comitted in this branch. Expect to see lots of updates here :)

![Screenshot](http://i.imgur.com/ee67vCs.png)

Yeah, i know it does not exactly look like anything. But it's just because there are no theming applied yet. These first tests have at least shown that this is doable and that rendering works great! :)

The best part is that all of this is done in memory, so UI

[2015-07-27 20:22] andersevenrud commented on #87
This now basically belongs to #136

[2015-07-27 20:22] #87 closed

[2015-07-27 20:23] andersevenrud commented on #19
Replaced with #136

[2015-07-27 20:23] #19 closed

[2015-07-27 20:23] andersevenrud commented on #88
Since #136, this will be apart of the refactor.

[2015-07-27 20:23] #88 closed

[2015-07-27 20:24] andersevenrud commented on #134
Blocked by #136

[2015-07-28 12:54] andersevenrud commented on #136
@MrSchism @junland

Just a little status update for you guys. Getting a lot of nice progress here. I have almost finished adding all the GUI elements to the parser and stylesheets.

Next up is event binding and modifier methods :)

**Look mom. No CSS!**
![Screenshot](http://i.imgur.com/s8vQ5G0.jpg)

[2015-07-28 14:31] junland commented on #136
@andersevenrud Looks good. Does it scale (Or does it have) when resizing?

[2015-07-28 14:36] andersevenrud commented on #136
Everything is 100% dynamic, and you can specify rules for each container
(grow, shrink, fill-content, expand-content etc).

I don't know if you have ever worked with Gtk/Glade, but I now have
something very (very) simular to that.

Den tirsdag 28. juli 2015 skrev John Unland <notifications@github.com>
følgende:

--

Anders F. Evenrud
Software Developer

Blog: http://tinyurl.com/cjfrfx8

[2015-07-28 14:39] junland commented on #136
@andersevenrud Nice!

[2015-07-28 18:02] junland commented on #49
@andersevenrud Also with the new GUI will we still need to implement a copy/paste actions? Since it's HTML it's easier to copy and paste content.

[2015-07-29 09:07] andersevenrud commented on #136
So, most of the groundwork is now done! You can actually design an entire application with this (except for the stuff obviously missing -- in the description). :smile:

I have added a screenshot in the description, including a link to the scheme file used for creating those two windows.

Is there anybody that could go over the scheme file (you can ignore the first window, se the second one) and se

[2015-07-29 14:28] junland commented on #136
@andersevenrud The Scheme file looks fine.

[2015-07-29 14:51] junland commented on #11
I know it #34 you were discussing using ws over socket.io, I found this article that might be of some use. https://medium.com/@denizozger/finding-the-right-node-js-websocket-implementation-b63bfca0539

[2015-07-29 17:20] andersevenrud commented on #136
@junland No comments, at all ? ;)

[2015-07-29 17:26] junland commented on #136
@andersevenrud Nope, I think the scheme file's name conventions are good. Although I think we should change these things.
`grow -> grow-enabled`
`shrink -> shrink-enabled`
`basis (Stay the same unless there's a better name for this)`
`fill -> fill-enabled`
`expand -> expand-enabled`

When I think of grow, shrink, fill, etc I think I can change the properties such `Can grow to 50px to 100px`. Just

[2015-07-29 17:47] andersevenrud commented on #136
@junland

Great. I was trying to make it as future-proof as possible.

The first three attributes are a part of the flexbox spec (I only removed the prefix "flex-*"). These are not enabled states, but rather a number representing the proportion. Basis is sort of the "Initial size".

Originally I had the two lasts ones as "fill-content" and "expand-content", but I simply do not know which is better

[2015-07-29 17:56] junland commented on #136
@andersevenrud Got it :)

[2015-07-29 20:19] andersevenrud commented on #136
Event binding is in place and all elements have been implemented! Technically, this is ready for use now (so if you want you can clone this branch and do some experiments in the provided example application.), but still has some undone features.

... but I'm sure some things will come up now that I'm starting to rewrite all of the Dialogs.

If things go as easy as they have -- I will have a commit

[2015-07-29 20:28] junland commented on #136
@andersevenrud Nice! I'll have to look at it!

[2015-07-29 21:25] andersevenrud commented on #136
@junland Don't know if you already checked it out, but I have made some updates.

Everything is chainable now and property getting/setting should work properly. This should please the jQuery crowd (or at least make them feel at home) :D

    scheme.find(this, 'MyText').set('value', 'Default text').on('enter', function() {
      alert("You pressed enter with value: " + this.get('value');
    }).on(

[2015-07-29 21:32] junland commented on #136
@andersevenrud Yea just saw the commits, I have no experience with jQuery. But it looks cool what it can do!

[2015-07-29 21:32] junland commented on #136
Just another thing from me to learn on top of all the other cool languages out there. :/

[2015-07-29 21:34] andersevenrud commented on #136
@junland Well, personally I am not a fan of jQuery, but it have some nice patterns. I especially like the chainable methods (allthough it can make code ugly).

But learning *this* is not hard at all. The entire library consists of these methods only: find(), get(), set() and on(). The rest is all HTML :D

[2015-07-29 21:36] andersevenrud commented on #136
@MrSchism I am pinging you to see if you have any input on all of this (or general feelings) :)

[2015-07-30 03:39] MrSchism commented on #136
I generally share your dislike of jQuery, but I get the necessity of it (or something like it) to make larger projects... simpler (I guess).  I do like chainable methods, to a degree.  It can make the syntax more reasonable to read in some cases or more convoluted.

The fact that there's only four methods to deal with makes this totally okay with me, especially because it makes the project more ac

[2015-07-31 13:06] andersevenrud commented on #136
After 3K lines of JavaScript, 1.5K lines of CSS and some [almost] sleepless nights -- this thing has come a *looooong* way!

I have recreated all the old Elements and Dialogs, and will now start on re-creating all the applications.

Core codebase complexity has been reduced a lot... and I gotta say. This is pretty sweet!

Just look at the *scheme* file for all of the dialogs: https://github.com/an

[2015-07-31 13:46] junland commented on #136
Your my hero @andersevenrud geeezzzz

[2015-07-31 13:54] andersevenrud commented on #136
@rubengc FYI! Theming will be much simpler when I'm done here :)

[2015-08-01 22:25] andersevenrud commented on #136
![Good news everyone](http://vignette2.wikia.nocookie.net/en.futurama/images/a/ad/GoodNewsEveryone.jpg/revision/latest?cb=20090731021518)

I can see a faint light in the end of the tunnel! Most of the groundwork is complete and I have started rewriting the default application packages. So far things are going very smoothly and it looks like I'm *half way* there :smile:

[2015-08-02 00:41] junland commented on #136
@andersevenrud Awesome!

[2015-08-02 21:51] junland commented on #112
@andersevenrud Where would the 3rd party libraries go? Let's say I wanted to add `io.js` (Just as a example)? Because I want to add bash support (Even though I can just do it with child process in pure js) I would like to add a js library where I can just call bash commands from the server. I might even just go ahead and just write a API call :).

[2015-08-02 21:57] andersevenrud commented on #112
You have a couple of options:

### Add to preloader

Copy file into `dist/vendor/`. Then create a file named ex `src/conf/900-my-config.json` (or edit 110-frontend.json, but not recommended)

[code]

Then run `grunt config`

### Add as an extension

http://os.js.org/doc/tutorials/extend-client-api.html

[2015-08-02 21:59] andersevenrud commented on #112
FYI If you are planning on making something future-proff, I'd suggest using *gui-ng* branch to avoid any rewrites

[2015-08-02 22:00] andersevenrud commented on #112
I am also changing the configuration stuff (simplified) in this branch, so a heads up there too.

[2015-08-02 22:03] junland commented on #112
Awesome, and just specify `require(my-library.js:global)` in the main js files of the packages that require that specific package?

rewrites

Noted!

Cool!

[2015-08-02 22:06] andersevenrud commented on #112
You don't have to "load" anything. If it is set in the preloader or you are using an extension, everything is loaded by the time the desktop is initialized.

But if you are using requirejs, then just do the require() stuff in the Application code before you create any windows etc.

Ex: https://github.com/andersevenrud/OS.js-v2/blob/gui-ng/src/packages/default/About/main.js#L72

[2015-08-02 22:08] junland commented on #112
@andersevenrud Got it!

[2015-08-04 11:07] khoaakt commented on #136
loooong work! GJ @andersevenrud. :+1:

[2015-08-04 13:37] andersevenrud commented on #136
@khoaakt Rewriting 60% of the project is a lot of work, indeed! :) But hopefully it was worth it.

I will have a release ready by this weekend (assuming my job does not take up all my free time) :smile:

[2015-08-04 13:44] junland commented on #136
@andersevenrud Your my programming hero lol. Keep it up!

[2015-08-04 13:48] andersevenrud commented on #136
@junland Aww :)

[2015-08-04 16:24] khoaakt commented on #136
i see, seem like you are developing a new framework for  app. You can using both of them (think*)

[2015-08-04 16:55] andersevenrud commented on #136
@khoaakt Not only new GUI Framework, but also Dialog framework and Event binding/dispatching.

Everything has been unified and simplified, so it should now take almost no effort to actually quickly design something. You can do this with HTML, JavaScript, or *both*. In most cases, no CSS is required at all because the layout is now rendered with 100% flexboxes... which also make it very dynamic and

[2015-08-04 16:58] andersevenrud commented on #136
@khoaakt And I forgot, the theme "engine" has also been rewritten and is a lot better.

[2015-08-04 22:22] andersevenrud commented on #136
This is the scheme file for the **Settings** application: https://github.com/andersevenrud/OS.js-v2/blob/gui-ng/src/packages/default/Settings/scheme.html

... then try to imagine how much code that was used in the previous version to actually make it work and look like it did.

Yeah... I gotta admit -- this is pretty cool :)

[2015-08-04 23:17] andersevenrud commented on #133
This will automatically resolve itself after #136 -- All the reloading functions will be in options.

"patching" is a part of the new update

[2015-08-04 23:17] #133 closed

[2015-08-07 21:52] hgoldstein95 opened #140 "win-start-node-dist.cmd Path Error"
win-start-node-dist.cmd executes "src\server-node\server.js" but should execute "..\src\server-node\server.js".

[2015-08-07 21:54] andersevenrud commented on #140
At the moment you have to execute it from the root directory as the documentation says, but I will fix it so it auto-detects :)

[2015-08-07 21:57] hgoldstein95 commented on #140
My mistake!

[2015-08-07 21:57] #140 closed

[2015-08-07 22:31] andersevenrud commented on #134
I'm closing this for now. Will reopen after gui-ng is finished

[2015-08-08 01:29] andersevenrud commented on #136
Anyone up for some testing ?

I'll be wrapping up today for a test-release! :)

[2015-08-08 14:25] junland commented on #136
@andersevenrud Sure am! (I just woke up, it's morning in my timezone.)

[2015-08-08 14:30] andersevenrud commented on #136
Nice! I'm just going to work out a few minor things here... then I can set up a VPS or something to make it easier to properly organize this :)

[2015-08-08 14:34] junland commented on #136
@andersevenrud Awesome!

[2015-08-08 15:00] khoaakt commented on #136
@andersevenrud Nice :smile: ! I'll test it in all Windows Version!

[2015-08-08 15:09] junland commented on #136
@andersevenrud  What VPS do you use or are going to use? If so I have a $10 USD product code for Digital Ocean.

[2015-08-08 15:12] andersevenrud commented on #136
@junland Servers are no problem. I have VIP accounts on one of the cloud stacks at work, so I'll just set up a virtual machine (same as current demo) :)

[2015-08-08 15:12] khoaakt commented on #136
@junland His company have free VPS

[2015-08-08 15:19] junland commented on #136
@andersevenrud Ahhhhhhhh thats cool

[2015-08-08 16:09] junland commented on #136
@andersevenrud Alright I've tested with Linux Mouse / Keyboard, Linux Touch, Andriod Mobile, and Andriod Tablet. Here's what I found:

Linux Desktop / Touch:

* Pressing tab key in Writter app makes the cursor disappear and I can type text into it. However it's fixed by just pressing backspace.

* Music Player works however it does not have a time display a time slider so I can go forwards or back

[2015-08-08 16:13] andersevenrud commented on #136
Test server is: http://osjsv2-test.0o.no/

Don't bother testing Firefox Marketplace because it does not work on this domain.

----

I have not set up any DNS here, so you have to edit your *hosts* file (as admin):

Windows: `C:\Windows\System32\drivers\etc\hosts`

NIX: `/etc/hosts`

Simply add this domain:
[code]

[2015-08-08 16:18] andersevenrud commented on #136
@junland

Did not find any technical glitches or bugs ? :) I actually found a few minor ones just as I deployed the thing, hehe.

Seeking is not available simply because the server is not configured for it. I'm adding something custom later. Some fileformats supports seeking in the browser, but others use the server.

I thought I had a check for that. Maybe my math is off. Investegating!

No mobil

[2015-08-08 16:20] andersevenrud commented on #136
@junland

Opsie. Spelling error :D `window.innerHeigth`

[2015-08-08 16:23] andersevenrud commented on #136
@junland

Not able to reproduce this one. Might be a platform spesific issue. Will have to investegate further.

It is a bit weird that `backspace` fixes it because that key is not special like the `Tab` which is designed to jump to next/previous field.

Firefox, or Chrome ?

[2015-08-08 17:23] junland commented on #136
Got it.

Well I updated after the latest changes, on the phone it fixed the chopping of the app menu but that only works in landscape mode, portrait mode still has the same problem. However when you do activate the app menu in landscape mode then rotate it to portrait it fixes it but it leaves a large black box at the bottom and has some artifacts.

![webcam-toy-photo2](https://cloud.githubusercon

[2015-08-08 17:32] andersevenrud commented on #136
Yeah. But as I stated earlier there is no actual customized UI for the mobile platforms yet, so it will be ugly no matter what device.

That is just the thing though, there is no tab ordering. It has all been disabled because the browser default events will not work in this case as they were intended for basic HTML forms (Example: you have tabs with multiple inputs, if you tab until an input in an

[2015-08-08 17:35] junland commented on #136
Sorry about that, didn't parse that correctly :)

Yea, it's a minor bug but shouldn't hinder the release of the beta. :)

[2015-08-08 17:37] ComputeLinux opened #142 "EXTREME: Inapropriate content on demo server"
shared/
Has, let's just say inappropriate content.

[2015-08-08 17:41] andersevenrud commented on #142
Haha. Yeah! This is a known problem. Before capping the upload limit it was used as a filesharing service. The server is on a 100Mbit connection, so it is a nice way to share stuff :P

Was there more than just the `porn` folder ? I deleted that one at least

[2015-08-08 17:41] ComputeLinux commented on #142
Possibly put a filter on names of files/folders?

[2015-08-08 17:42] ComputeLinux commented on #142
Also, yes there was a i_made_a_penis_enjoy.odraw.

[2015-08-08 17:42] ComputeLinux commented on #142
fuck this earth.txt

[2015-08-08 17:43] MrSchism commented on #142
Putting a filter on will just result in people bypassing names.  Most of what was in /shared/porn was random character files.

I still think a cron-job to clear the folder every night would be a good idea.

[2015-08-08 17:44] ComputeLinux commented on #142
That's actually a pretty good idea @MrSchism

[2015-08-08 17:46] MrSchism commented on #142
It was discussed on #85.

[2015-08-08 17:46] andersevenrud commented on #136
@junland

No worries. I'm no communications expert, hehe :P

Still alpha, though :/ Just going to increment the release number. There are so many things left undone... but now at least 50% of that was done.

[2015-08-08 17:47] andersevenrud commented on #142
If someone is up for some coding, let me know! I'd really like to have a scrubber going in a cron :)

[2015-08-08 17:48] ComputeLinux opened #143 "Low Importance: Double click to maximize window"
This. Everything ever does it.

[2015-08-08 17:49] ComputeLinux commented on #142
Where is the /shared folder even stored?

[2015-08-08 17:49] andersevenrud commented on #143
This never came to mind! I'll add that in the new branch #136 :)

[2015-08-08 17:50] ComputeLinux commented on #143
Thanks! I'll close this now!

[2015-08-08 17:50] #143 closed

[2015-08-08 17:50] andersevenrud commented on #142
`./vfs/public`

[2015-08-08 17:53] andersevenrud commented on #143
Added in commit ab90805fb67460034ce328703215858673b895cc :)

Will be a part of the next merge!

[2015-08-08 17:57] ComputeLinux commented on #136
here, you need an l:
aaaaal - aaaaall

[2015-08-08 18:01] ComputeLinux opened #144 "Low importance: Toggle Touch Menu"
sorry for all the spam...

Anyways, I like the touch menu! You should add a toggle so I can have it again! :P

[2015-08-08 18:03] andersevenrud commented on #144
Look in the "Settings" application ?

[2015-08-08 18:05] #144 closed

[2015-08-08 18:05] #142 closed

[2015-08-08 18:05] andersevenrud commented on #144
Please not that this menu is a placeholder. It will become much better in a later update

[2015-08-08 18:14] andersevenrud commented on #85
@MrSchism Apparently this is needed after all. Every time I get one of these social media traffic spikes someone puts up naughty stuff there.

[2015-08-08 20:05] andersevenrud commented on #136
@junland Did you get the Tab bug on Windows or Linux ?

I have just tried a completely fresh Ubuntu installation and Windows 7, but not able to reproduce. It worries me a bit... hm!

[2015-08-08 20:23] junland commented on #136
@andersevenrud It was on Linux. Maybe it's just my machine.... :/

[2015-08-08 20:29] MrSchism commented on #142
@andersevenrud What about the /home folder?

[2015-08-08 20:31] andersevenrud commented on #136
@junland What distro and Desktop Environment ? Also browser + version

[2015-08-08 20:35] junland commented on #136
Ubuntu 14.04 with Cinnamon DE. Firefox ver 39.0.03

[2015-08-08 20:35] andersevenrud commented on #142
`./vfs/home/demo` for the demo server

[2015-08-08 20:42] MrSchism commented on #85
Did you ever get the scheduled-task/cron job maker taken care of?

We could do it every six hours or every day.

cron job for this would be either:
`0 */6 * * * /path/to/cleanup.sh` (six hours)
OR
`0 0 * * * /path/to/cleanup.sh` (daily - server midnight)

`cleanup.sh`:
[code]
`cleanup.sh` would need to be put in the base location where `/vfs` is.  We can adjust the script as necessary.

Not sure i

[2015-08-08 20:45] andersevenrud commented on #85
Nope

A bash script will do.

Just putting it in `bin/` would suffice and use the parent of `$0` to resolve path

I was thinking of using `find` to look up the files with oldest mtime and maybe truncate instead of doing a total wipe. So things can only "live" for 24h or so. Then use a blacklist filter to remove naughty stuff.

[2015-08-08 20:46] andersevenrud commented on #85
Also removing empty directories after the truncate is done.

[2015-08-08 20:50] MrSchism commented on #85
The blacklist filter to remove naughty stuff only removes things named inappropriately.

A file named Stenographer could be a stock image of a court reporter... or of a slutty stenographer.  Name is totally mundane, though.  I think the only way to be sure is a blanket clean.

Using find with an mtime to wipe things 24 hours(ish) would require a more frequent poll than a flat daily run.

[2015-08-08 20:54] junland commented on #85
![1286264](https://cloud.githubusercontent.com/assets/9792545/9152231/b5f5bbb6-3de5-11e5-8b32-5b78e7539ad0.jpg)

[2015-08-08 20:54] andersevenrud commented on #85
At least it's something. If it does not get modified it will be gone within 24 hours.

Nope. Just run every midnight and remove files older than 24+hrs.

After this has been running for a while and stuff has begun clearing up, file modifications will become less frequent and this thing works itself out! :)

[2015-08-08 20:54] andersevenrud commented on #85
@junland lal :)

[2015-08-08 20:55] andersevenrud commented on #85
Like. If no files were modifies in two days, it will be a total wipe! Best of both worlds :)

[2015-08-08 20:58] andersevenrud commented on #85
Actually... this would suffice, I think.

[code]

[2015-08-08 21:02] andersevenrud commented on #136
@junland I just committed something that might help. Care to test again ?

[2015-08-08 21:03] MrSchism commented on #85
You might also want to remove the contents of /home.  People have used that similarly before.

[2015-08-08 21:03] junland commented on #136
@andersevenrud Sure!

[2015-08-08 21:04] andersevenrud commented on #136
Oh shit. You said *Writer* app... I missed that. Opsie. I will fix that!

[2015-08-08 21:04] junland commented on #136
Lol, what did you assume?

[2015-08-08 21:08] andersevenrud commented on #136
@junland Like a textbox or something in Textpad.

Try again now. Applied a fix to the richtext editor element used in Writer.

[2015-08-08 21:09] andersevenrud commented on #85
Yeah just add the paths to the command.
I'll test it out now

[2015-08-08 21:12] junland commented on #136
@andersevenrud Nope, now it doesn't highlight the tab, but still no tab :(. I do like to point out that Textpad can tab through text so maybe look at that one.

[2015-08-08 21:16] andersevenrud commented on #85
This is what I ended up with, but I forgot to add a sign to the parameter, so I accedentally wiped it... but hey, at least the script is done :P

[code]

[2015-08-08 21:16] #85 closed

[2015-08-08 21:19] andersevenrud commented on #136
@junland

Wut ?

The Textarea and Richtext are two entirely different things. In fact, the richtext is not a text area at all, but a editable HTML area. So the same rules does not apply here :/

I cannot reproduce the problem anymore on any of my virtual machines or browsers. I was before the commit. Are you using the demo site or local setup ?

[2015-08-08 21:25] junland commented on #136
Yay for communication of the web!

Previously to the new changes, when I would press tab in Writer the cursor would highlight the active tab in my browser. Now with the new changes it isn't doing that.

Awww man....

Local...I am doing a `grunt` command after each pull and using the `start-node-dev.sh`

[2015-08-08 21:27] andersevenrud commented on #136
Good. Then it was solved! If OS.js now no longer loses focus.

I do realize the tab character is not inserted before the cursor, but Richtext implementation is far from done :)

[2015-08-08 21:28] andersevenrud commented on #136
@junland

If you are using dist-dev you don't have to do this unless a theme has changes or server patches were done. So if you look when you do a `git pull` and src/themes and src/server-* was not changes, just reload browser! :)

[2015-08-08 21:31] junland commented on #136
Ah okay!

True, you may not have the tab insert implemented but at least when I press tab and start typing it doesn't start typing in my address bar.

[2015-08-08 22:14] andersevenrud commented on #136
Thanks for the help boys!

Squashed quite a few bugs today :) I also managed to come a long way on the *extra* and *experimental* apps. I think I will finish the code editor and the Gmail client, then head for a release! I can take care of the rest later.

I need a break soon, hehe.

**But**, if anyone is interested in helping out more tomorror (or whatever depending on timezone), let me know :)

[2015-08-08 22:15] junland commented on #136
@andersevenrud I'm free for the most part of tomorrow. :)

[2015-08-08 22:18] andersevenrud commented on #136
@junland Nice! +1

[2015-08-09 04:20] khoaakt commented on #136
![untitled](https://cloud.githubusercontent.com/assets/6000592/9153556/97d8fe92-3e88-11e5-8bc8-b99e7950b6bd.png)
:smile: