[2015-08-09 05:13] khoaakt commented on #136
@andersevenrud I just wanted a feature in OS.js v1 back ;). It is: weather infomation in panel

[2015-08-09 16:06] junland commented on #136
@andersevenrud Lol you finally found the subreddit? HAAAAAAAA I posted that, was going to tell you about that but I was a little busy.

[2015-08-09 16:07] andersevenrud commented on #136
@junland Ever time there is a spike, someone has posted it on reddit, hehe :) I hope your inbox is not full of crap :P

[2015-08-09 16:10] junland commented on #136
@andersevenrud Nope not really, I went ahead and just answered peoples concerns / comments. I was fairly surprised at how much response it got! I think one or two people were working on there own JS desktops and wanted to look at the code. One of them complimented on your code saying that your styling was really close to his and it was really good!

[2015-08-09 16:16] andersevenrud commented on #136
@junland Yeah, there are few people out there doing stuff like this on their own :) Maybe some of them decides to join in on the fun some day.

Anyway. Up for some more testing ? I will be doing a merge today if all goes well. My biggest merge yet, I think. Will be exciting to se how well it goes :)

[2015-08-09 16:19] junland commented on #136
@andersevenrud Yup, just pulled down some changes. So I'm about to fire it up and see what I can find!

[2015-08-09 16:25] andersevenrud commented on #136
@junland I should have fixed every breaking/glitching bug. But try to dig deep and look if there is something there :)

[2015-08-09 17:05] junland commented on #136
@andersevenrud Will do here's what I found:

* Putting the panel on the bottom and enabling the touch menu covers the better half of the panel.

![screenshot from 2015-08-09 11 31 55](https://cloud.githubusercontent.com/assets/9792545/9155811/55e9fffc-3e8a-11e5-9b54-224db9997751.png)

* When saving a file in Textpad I can't highlight the default / place cursor to erase it the name, I have to scrol

[2015-08-09 17:34] andersevenrud commented on #136
@junland

Should be fixed now

Will check

Duplicate ? The behaviour of "Save As" is to create a new file... it does not delete the old file. Am I missing somehting here ?

Yup. This is noted above in the TODO list

Maybe some clarification in the text is required. It asks if you want to *save current session*. So no means.... well, no. And that will not erase the previous session. Maybe adding a

[2015-08-09 17:35] khoaakt commented on #136
After release 2.0, should translater translate osjs agian? Some text has been broken in test server :disappointed:

[2015-08-09 17:38] andersevenrud commented on #136
@junland

Fixed (I think)

[2015-08-09 17:40] junland commented on #136
@andersevenrud Awesome I'll take a look...

Really?

Ah okay, it does the same thing when I do it in Geddit. I guess I said that because in Windows it just rewrites over the original file with the new name..... My bad. lol

Yea, whoops. I'll take a look at it. It's still kinda the morning, I haven't woken up. :P

[2015-08-09 17:43] khoaakt commented on #136
@andersevenrud you do not notice me???????

[2015-08-09 17:43] andersevenrud commented on #136
@junland

It does ? I don't think I have ever experienced that, becase "As..." means "new" in a sense :p

I'm having the same problem... except it the clock is soon 20:00. hehe

[2015-08-09 17:44] andersevenrud commented on #136
@khoaakt Please don't spam and keep patient. I was getting around to you.

Locales are not 100% implemented in this build and is currently what I am working on.

[2015-08-09 17:47] junland commented on #136
Yup looks good!

Yup, looks good!

Yea, at least that' what I think it does... HA.

Haha

[2015-08-09 18:26] andersevenrud commented on #136
@khoaakt The locales is now hooked up. Some stuff is missing translations, but I will make a list of it in a separate issue.

[2015-08-09 18:45] andersevenrud commented on #136
@junland

You will now get a confirmation dialog if you try to close, open or create new file when content has been altered.

Note that it is only implemented in the Textpad application so far, but the ground-work is layed for the others :) Could you test it maybe ?

It seems that this is ready for a merge now Oo I am a bit scared. Care to take a few minutes to perfrom a final test ?

[2015-08-09 19:06] junland commented on #136
Yup I'll ahead and test to make sure. :)

[2015-08-09 19:17] junland commented on #136
It works! :)

I'm getting a couple of errors when using the `dist` version of the build when logging out.

!!! 404 /home/junland/Github/OS.js-v2/dist/undefined
<<< /themes/icons/default/16x16/status/dialog-question.png
<<< /themes/icons/default/16x16/status/dialog-error.png
<<< /themes/sounds/default/dialog-warning.oga
<<< /undefined
!!! 404 /home/junland/Github/OS.js-v2/dist/undefined
<<< /themes

[2015-08-09 19:28] andersevenrud commented on #136
@junland Opsie. I forgot about Grunt build. Fixed now. Just run `grunt core` :)

[2015-08-09 19:30] andersevenrud commented on #136
@junland I also added the confirmation to Writer application. Note that this is a bit wonky since it detects changes on an interval... So if you write something and very quickly press close it will not catch it... but it's better than nothing.

[2015-08-09 19:37] junland commented on #136
Nice. It works now!

Yea, noted!

Everything seems okay.

[2015-08-09 19:55] andersevenrud commented on #136
@junland Well.... Then I guess all that is left is to merge this sucker!

I am a bit scared, actually. But this version feels better even though some minor stuff is missing, wouldn't you agree ? (And should contain lots less boxes especially graphical stuff)

Do you think it is ready for merge ?

[2015-08-09 20:12] MrSchism commented on #136
I think it's ready.

[2015-08-09 20:14] andersevenrud commented on #136
.... *drumroll!*

[2015-08-09 20:29] andersevenrud commented on #136
Aaaaand it has been merged in d9708d672b6a57d1a2f10aeb21c21deaaabb2149 :smile:

[2015-08-09 20:34] andersevenrud commented on #136
Regenerated documentation: http://os.js.org/doc/client/

[2015-08-09 20:43] junland commented on #136
Don't sweat it! You got this!

[2015-08-09 21:01] andersevenrud commented on #136
Everything has been merged and demo-site was updated: http://osjsv2.0o.no/

You might have to clear cache for it to work propertly. The rules are a bit strict on the server to reduce load.

[2015-08-09 21:09] andersevenrud commented on #136
@junland https://github.com/andersevenrud/OS.js-v2/wiki/Hall-of-Fame#testers-and-helpers A well-deserved spot :)

[2015-08-09 21:27] junland commented on #136
@andersevenrud Yay thanks! :)

[2015-08-09 23:20] andersevenrud commented on #136
Rendering is broken on iOS 7.1.1. It is really old, so I will upgrade and check back in.

[2015-08-10 00:05] andersevenrud commented on #136
@rubengc Interested in doing some Themes ?

[2015-08-14 17:55] andersevenrud commented on #82
Conclusion: This causes some serious performance issues with the current libraries. If you have more than 4 windows open it all turns to shit. I will wait for a native solution to come by.

I replaced this with the theme named "Glass" which is the same except for the frosty effect.

[2015-08-14 17:55] #82 closed

[2015-08-15 13:21] andersevenrud commented on #136
![Apps in VFS](http://i.imgur.com/F2BSeOq.png) Added "Applications" as a VFS module so you can browse them with the File Manager. This also re-adds support for dragging launchers to your desktop (if icon view is enabled)

[2015-08-15 16:30] MartinDesigner commented on #136
![imghome](https://cloud.githubusercontent.com/assets/13809960/9289329/0bef602c-436c-11e5-80fc-3ec07f82dd8d.jpg)
So, as a supplement, however as a main point try this amazing free app. Createer.com is an online software for easily designing online ads, responsive landing pages and print materials such as flyers, posters, covers, invitations and more. Createer lets you easily share your designs on

[2015-08-15 16:35] andersevenrud commented on #136
@MartinDesigner Seriously ? ...

[2015-08-15 16:51] MartinDesigner commented on #136
@andersevenrud  Yes, however official launch is planned on the beginning of september.
Createer  even allow You to design UI mockups for mobile as for standard display (html, js, css always generating without any coding required from you).

BEcause of asking, here You have some into videos how it works and discount coupon code - hovewer You can also design for free - just few options are paid and

[2015-08-15 16:53] andersevenrud commented on #136
@MartinDesigner It might be a bit hard to detect sarcasm through the internet... Let me refrace it: Spamming, really ?!?

[2015-08-15 16:56] MartinDesigner commented on #136
@andersevenrud No, do You want my skype? we can even speak :)
marcin.burda.uniquesoft

[2015-08-15 17:19] andersevenrud commented on #136
Updated iOS compability. Still a bit wonky, but at least now base layout is rendering. Next up the iconview/listview/treeview

[2015-08-15 17:22] MartinDesigner commented on #136
it's not nice that by such topic as new ui generation You just kicked my post without any touch :(
I'm working on it from 3 years with several other people in Team..............

[2015-08-15 17:25] andersevenrud commented on #136
@MartinDesigner I deleted your posts because you are obviously trying to fish. I looked at your public activity https://github.com/MartinDesigner?tab=activity and you have spammed several other threads as well. If you want to advertise your product, do it in a a way that does not interfere with other peoples work.

As far as I can see this is entirely off-topic and does not relate to this issue at

[2015-08-15 18:20] andersevenrud commented on #136
@junland Could you do me a favour and test OS.js on your mobile after the updates I've made recently. Just interrested in if it still looks exactly the same. I finally fixed the iOS rendering errors :D

[2015-08-15 19:44] andersevenrud commented on #46
I am closing this issue for now because of inactivity.

Sadly, I don't think I have any time to spare on *Poe* :/

[2015-08-15 19:44] #46 closed

[2015-08-15 19:46] andersevenrud commented on #99
@junland This issue has been moved to: https://github.com/andersevenrud/OS.js-v2-store-website/issues/3

[2015-08-15 19:46] #99 closed

[2015-08-15 19:50] andersevenrud commented on #123
@MrSchism I'm closing the issue because of inactivity. Feel free to resume it if there are any updates!

[2015-08-15 19:50] #123 closed

[2015-08-15 19:54] andersevenrud commented on #127
I will add support for WebTCP.

Doing a cleanup, so this will be merged with #49 for the time being because it will be a part of the *extras* repository.

[2015-08-15 19:54] #127 closed

[2015-08-15 19:59] andersevenrud commented on #47
Merged with #49

[2015-08-15 19:59] #47 closed

[2015-08-15 22:07] junland commented on #136
@andersevenrud Will do!

[2015-08-15 22:31] junland commented on #136
@andersevenrud I'm using my Andriod phone, I can open the apps but when opening apps I can only see the buttons not the entire window.

[2015-08-15 22:34] junland commented on #136
@andersevenrud This is also happening on the andriod tablet as well.

[2015-08-15 22:43] andersevenrud commented on #136
@junland Strange. It works on my Android device :/

Using a local build? Try the demo... if it works better yout might have missed something in the update process

[2015-08-15 23:32] andersevenrud commented on #136
@junland Also tried 4.4.2 on the emulator. Seems to work fine.

[2015-08-16 02:48] MrSchism commented on #123
I was giving it a shot, but not getting anywhere.  I think the qemu was suffering major performance issues.  It locked up installing, but I was on my netbook.  I'll try again on my desktop and see how it goes.

[2015-08-16 18:03] andersevenrud commented on #136
@khoaakt You might be glad to see this ;)

![Screenshot](http://i.imgur.com/l4offJt.png)

[2015-08-16 20:44] junland commented on #136
@andersevenrud Very odd. I'm still not able to get the windows. I've tried on both Andriod and the Linux desktop but I still get just the app controls but not the full window. Do you think I missed something in the installation process?

[2015-08-16 20:49] andersevenrud commented on #136
@junland Tried running `grunt` to regenerate everything ?

[2015-08-16 20:55] junland commented on #136
@andersevenrud Yup. Still the same thing, I'm using Firefox 40.0

[2015-08-16 20:55] junland commented on #136
And Chrome on mobile does the same thing.

[2015-08-16 20:59] junland commented on #136
It's weird because my local install does not work but the demo works for me just fine...

[2015-08-16 21:00] andersevenrud commented on #136
@junland Lol. I think it might be because you're running with outdated settings in your cache :D

Try to clear it.

In Chrome you can do "Developer Tools" > "Resources" > "Local Storage" and delete the entries.

I must introduce some versioning system here.

[2015-08-16 21:06] andersevenrud commented on #136
@junland I just added a commit that resets the settings when I change the version number :)

[2015-08-16 21:14] junland commented on #136
@andersevenrud Nope still doesn't work.... :/ lol

[2015-08-16 21:14] andersevenrud commented on #136
@junland Screenshot ?

[2015-08-16 21:14] andersevenrud commented on #136
@junland Also, check "Network" tab in developer tools and look for 404s

[2015-08-16 21:17] junland commented on #136
Here you go.
![osjs-issue](https://cloud.githubusercontent.com/assets/9792545/9295400/39fd74a6-4432-11e5-9539-1dc90a3a78d6.png)

And here is the terminal.
![osjs-issue-term](https://cloud.githubusercontent.com/assets/9792545/9295401/44be7304-4432-11e5-9982-e91a251ad555.png)

[2015-08-16 21:20] andersevenrud commented on #136
@junland It says 404 on "themes/styles/default.css" so it is a missing theme file. Running either `grunt` or simply `grunt themes` should solve this though

[2015-08-16 21:20] andersevenrud commented on #136
@junland Also, are you running the latest sources ?

[2015-08-16 21:30] junland commented on #136
@andersevenrud Still nothing. I'm running the latest source.......I went ahead and deleted the app and just pulled down a new repo and reinstalled it. Now it works just fine. Very odd....

[2015-08-16 21:31] andersevenrud commented on #136
@junland Very strange. I'd guess it was a permission error or something so the theme file was not written successfully or something. I'd really like to know what the problem was to replicate it... hmm.

[2015-08-16 21:33] junland commented on #136
@andersevenrud Same here, but there was no errors in `grunt` or `npm install` to my knowledge.

[2015-08-16 21:35] andersevenrud commented on #136
@junland The error might have been supressed if an exception occured. Grunt is very bad at that apparently. Will try to add some catches in the Gruntfile

[2015-08-16 21:46] junland commented on #136
@andersevenrud Nice.

[2015-08-19 05:32] IngwiePhoenix commented on #49
Hello there! I wanted to ask some questions and leave some suggestions, as the title nicely suggests :3

## Questions
- OSjs uses PHP or NodeJS as a server, yet they seem differently laid out. Why did you choose to support two different servers? And, which one do you see more beneficial?
- I am already hosting a site. But for working with my staff, I wanted to use OSjs to build an application, so

[2015-08-19 12:15] andersevenrud commented on #49
@IngwiePhoenix

That's a mighty fine list you have. Thanks a lot! :)

If everything goes as planned and I have some time to complete the critical stuff (or if suddenly some sort of holy deity sent me some help) you can start coding/hacking this fall.

This is something that came over from the previous version. Turns out a lot of people are using webhosts without Node support. So this way I cover e

[2015-08-19 12:19] andersevenrud commented on #49
@IngwiePhoenix Sorry if the answers are not satisfactory... I am at work and kinda busy. Just let me know if there is something I missed or more you'd like to know and I will get back to you!

[2015-08-19 13:25] IngwiePhoenix commented on #49
@andersevenrud Thanks for your reply! Actually you gave the answers exactly the way that I can understand  them - so, all good. :)

As you said you dont have time, you can probably expect a co-worker on this in one or two months. Once I managed to get my main application on the show, I will want to build ontop of OS.js. So I might just as well help out (:

Again thanks for the infos! I have this s

[2015-08-19 13:34] andersevenrud commented on #49
@IngwiePhoenix

Great!

That would be much appreciated. I have been looking for help for years, but it seems this project is for people with very spesific interrests, hehe.

Thanks! The main goal was to keep it as simple as possible. OOP can get a bit messy, but I feel the codebase should make things pretty obvious (depending on experience).

I also went full on modularized design and tried keepin

[2015-08-19 13:42] IngwiePhoenix commented on #49
@andersevenrud Sounds solid. :)

You said oyu want to keep it modularized, then I have a few things for you to keep in mind when you do so:
- If possible, `require()` relative to the current file.
- More than once, I have seen pseudo modules, and they actually are super cool. How they work:
[code]
... and usage ...
[code]
... and in the module itself ...
[code]
The `.js` file serves as the main en

[2015-08-19 15:05] sieira commented on #49
Just for the records, I'm working on [this](https://github.com/sieira/sereno)

I hope some day it will be of some use... It is a Strategy wrapper for passport intended to auto-generate a secure key-wallet regardless of the login and session Strategy used by the app.

I hope to get it working at least for the local strategy within a couple of weeks. Then, if a miracle happens, I'll be able to make

[2015-08-19 15:15] andersevenrud commented on #49
@IngwiePhoenix Cool :)

Something like `require` is actually not required (hah) at the moment though (especially in the core), but is very easy to add support for it in applications and such. So will definately put it on the list!

I try to make it approacable by everyone and not laying any sorts of restriction.

Indeed. And I would like to showcase it all... but time, again, is a restricting fact

[2015-08-19 15:18] andersevenrud commented on #49
@sieira I am actually working on something very similar as a side-project at work involving a zero-knowledge client. Hmm. Maybe we should put our minds togethere ? ;)

[2015-08-19 15:20] sieira commented on #49
I like the word togethere. Never correct it. It's together, and it's there... That just convinced me :+1:

[2015-08-19 15:21] andersevenrud commented on #49
Hah. My english sucks today! :D

[2015-08-19 15:30] IngwiePhoenix commented on #49
I am not even a native, so it's all good =)

[2015-08-19 15:35] andersevenrud commented on #49
@IngwiePhoenix I normally only speak Viking, but I write a ton of English... so I'm not sure how I got that word wrong.... I spelled it like you pronounce it :D

[2015-08-19 18:37] sieira commented on #49
Well, I'm Spanish, I live in France, and I've never spoken (nor written) a decent English. So I clearly write English using the empirical method... According to my uncle (who is for Yorkshire) I happen to speak English with an annoying French accent that I hadn't before... he finds it amusing

[2015-08-19 18:59] MrSchism commented on #49
As an American, I can say that you both compose more reasonable sentences than many, many Americans.

This isn't the first time I've seen 'togethere' used... this is just more forgivable than a US college student doing it.

[2015-08-19 20:27] andersevenrud commented on #49
@MrSchism That's comforting :)

[2015-08-21 17:09] andersevenrud commented on #136
I am retireting this issue because all of the features are complete. The rest of this will be referred in #49.

Thanks for all the support guys. You rock! :metal:

[2015-08-21 17:09] #136 closed

[2015-08-21 19:08] andersevenrud commented on #49
@IngwiePhoenix I forgot to mention that OS.js has `Utils.preload()` which is basically the same as `preload()` except it supports multiple filetypes. In addition to this you can add the files you "require" to `packages.json` (which uses preload automatically when launching).

It just dawned on me...

[2015-08-21 19:09] andersevenrud commented on #49
@IngwiePhoenix Maybe I should make a wrapper for it, so you just do `API.require()` instead that can take both string and array input. Currently `Utils.preload()` only takes a list with a very spesific syntax. ... ?!

[2015-08-23 15:41] andersevenrud opened #149 "[Core] Settings rewrite and misc cleanups"
@RyanRiffle Initiated this. And I feel the same way as he does.

The settings integration is way to abstract and hops through many hoops before actually doing anything.

A singleon instance or something similar would be much better that does not bind with Window and Application classes, but rather accessed with a static method.

~~**Branch**: https://github.com/andersevenrud/OS.js-v2/tree/new-sett

[2015-08-23 15:42] andersevenrud commented on #149
@RyanRiffle I'd also like the actual storing of settings a bit abstract so you can easily hook up a AJAX call or similar. The default way should be "localStorage" imo. So make it support async callbacks

[2015-08-23 15:51] RyanRiffle commented on #149
@andersevenrud Aye, Aye. This still however makes a lot of settings being handled by the application itself. Looking at it from the point of an application developer for the platform, they would still have to manage a _settings object and build the tree like in CoreWM.saveSettings. It would be great if UserSettings would be more like
[code]
The loading and saving would allow for AJAX and the devel

[2015-08-23 15:56] RyanRiffle commented on #149
Possibly even an event handler to notify when a certain setting has changed, in case the settings could change through say the System > Settings dialog. There could be a SettingsManager that it interfaces with. It would actually hold all of the settings needed and be a buffer between the client and server. That way if settings for it change in another location on the system the applications can no

[2015-08-23 16:00] andersevenrud commented on #149
@RyanRiffle

I myself am a much bigger fan of a singleton style interface, so you don't have a ton of "UserSettings" instances going. But we could do the best of two worlds

[code]

Then just have these as the primary static methods and make class above use them:

[code]

[2015-08-23 16:01] andersevenrud commented on #149
I made a small mistake above. edited

[2015-08-23 16:04] andersevenrud commented on #149
I like the idea of having events there.

I'm not 100% sure what you mean

[2015-08-23 16:09] RyanRiffle commented on #149
Basically it is completely singleton. UserSettings would just talk to SettingsManager, who would actually have the settings in one location to keep data usage low. The singleton would then be SettingsManager and UserSettings is used just to abstract away the details. The code feels like you are controlling your settings in the application without having all of the 'MyStoragePool' everywhere, while

[2015-08-23 16:13] andersevenrud commented on #149
That's actually exactly how it works now, even though it might not look like it. It's just been abstracted down to the  `Handler` which was fitting at the time.

So this will be a nice change. Reduces complexity by three steps, though not visible to the end-user.

But still I'd like to have access like I described. This is very handy for example in some of the global  API functions.

I've already

[2015-08-23 16:25] RyanRiffle commented on #149
It can have the best of both worlds. A simple singleton like interface with the SettingsManager for the core and basically a wrapper around that so application developers don't have to keep saying where they are storing it any time they want to get or set a setting. It will make it easier for newcomers to the project who wan't to write an application for the platform.

So like
*SettingsManager*  -

[2015-08-23 16:36] andersevenrud commented on #149
I feel that having three interfaces is redundant and could lead to even more confusion.

Applications already have storage functions that are bound to the SettingsManager. So no extra class is needed... you just do `this._getSetting(key); this.setSetting(key, value, save?);`

I'm not sure I understand why here... Just make SettingsManager the singleton interface. Then create a method that returns

[2015-08-23 16:49] RyanRiffle commented on #149
I like that Idea. It honestly would work out great, and not cause the developer to have to look around for a second settings class.

[2015-08-23 16:53] andersevenrud commented on #149
@RyanRiffle Yeah. I feel this is very optimal. Low on code, one interface, one set of documentation, one set of methods that are the same statically or with an instanciated object.

I think this was originally how it was but I started over-thinking stuff because of customization ideas... but that turned into spaghetti :P

So if we stick with something like this I can eliminiate 20-30 methods in th

[2015-08-23 18:11] RyanRiffle commented on #149
Thats great! I actually really do love the `.instance` proxy. You made my day.

[2015-08-23 18:12] andersevenrud commented on #149
@RyanRiffle Glad to hear that :)

[2015-08-23 21:34] andersevenrud commented on #149
@RyanRiffle I've basically finished the new SettingsManager implementation :)

Still though, CoreWM settings tree has not been updated. Looking forward to see how you're planning this.

----

You can now customize loading and saving functions via the `Handler` just as previously instead of configuring it in `src/conf`.

This way the handler still has the responsibility of the connection and settin

[2015-08-23 21:36] andersevenrud opened #150 "[CoreWM] PanelItem Settings"
Split from #15 and related to #149.

I am assigning this to you since you've started on it.

[2015-08-23 21:58] andersevenrud commented on #149
@RyanRiffle

FYI!

The method for getting SettingsManger is now: `OSjs.Core.getSettingsManager()`

So:

[code]

[2015-08-23 22:15] andersevenrud commented on #149
@RyanRiffle I will also merge this into master now, so you can change to that branch.... Sorry for any inconveniences this might make for you :/

[2015-08-23 22:22] andersevenrud commented on #149
Docs have been updated http://os.js.org/doc/client/

[2015-08-23 22:25] andersevenrud commented on #149
@RyanRiffle I still feel kind of bad for going all out here, and would really like your opinion on the end-result.

I'd also like to know if you "got heard" and feel that you actually contributed to the process.... my god. I'm starting to sound like a customer feedback caller :D

This issue will be left open and if you'd like any changes I am totally open to that. Noting is set in stone here, but

[2015-08-23 22:32] andersevenrud commented on #149
I have updated description with details on how it now all works

[2015-08-24 22:45] RyanRiffle commented on #150
I'll get on it.

[2015-08-24 22:56] andersevenrud commented on #149
You'll also get this one for now. If you have any news about progress or whatever, let me know here :)

[2015-08-25 00:25] RyanRiffle commented on #150
Right now I am going on the assumption that not all PanelItem subclasses will need settings. So I am leaving it out of the base PanelItem class. If someone would like to have settings for their custom PanelItem then they can just accept a settings object on construction. If not the constructor will have no arguments passed in.

[2015-08-25 00:44] RyanRiffle opened #151 "[Applications] Writer close bug"
If you make changes in writer then click close it will show a dialog asking if you would like to save your changes. However you can click the close button again and another dialog will show. If you click 'Yes' then 'Yes' on the second dialog it throws an error.

Of course it throws an error because the window no longer exists to delete. Set up a way for the application not to open multiple confirm

[2015-08-25 00:47] andersevenrud commented on #151
Oh. Ill fix that one.

I notice you are using "dist" and not "dist-dev". Using the latter will
save you from rebuilding every time you change something... FYI

Den tirsdag 25. august 2015 skrev Ryan Riffle <notifications@github.com>
følgende:

--

Anders F. Evenrud
Software Developer

Blog: http://tinyurl.com/cjfrfx8

[2015-08-25 00:57] RyanRiffle commented on #151
I can't get it to register the new file. I added it to 200-compile.json

[2015-08-25 00:59] andersevenrud commented on #151
And then "grunt dist-dev-index" to update which files to load :)

Den tirsdag 25. august 2015 skrev Ryan Riffle <notifications@github.com>
følgende:

--

Anders F. Evenrud
Software Developer

Blog: http://tinyurl.com/cjfrfx8

[2015-08-25 01:10] RyanRiffle commented on #151
I am having some problems with the PanelItem settings stuff. And I know this isn't the right place for this information but I have the code pushed. I am getting a random circular dependency in the setting dialog from the "CoreWM" pool. Here is a link maybe you can see something I'm not? https://github.com/andersevenrud/OS.js-v2/compare/master...RyanRiffle:PanelItem_Settings

[2015-08-25 01:23] andersevenrud commented on #151
I will import that branch when I get up again. In bed with my pad at the
moment :p will have to pull out the good old debugger and step over the
stack

Den tirsdag 25. august 2015 skrev Ryan Riffle <notifications@github.com>
følgende:

--

Anders F. Evenrud
Software Developer

Blog: http://tinyurl.com/cjfrfx8

[2015-08-25 01:46] RyanRiffle commented on #151
I found the problem. It comes down to windowmanager.js:491
It gave null for the key name and my SettingsFragment.set() just wasn't ready for it. However I do have the problem of the save feature. The SettingsFragment has no idea what pool it's in so it can't tell the SettingsManager to save that pool.

[2015-08-25 12:34] #151 closed

[2015-08-25 15:18] andersevenrud commented on #150
Ref #151

Will look at the circular error you got now

[2015-08-25 15:26] andersevenrud commented on #150
https://github.com/RyanRiffle/OS.js-v2/blob/PanelItem_Settings/src/client/javascript/helpers/settings-fragment.js#L57

Change this to:

[code]

![Screenshot](http://imgur.com/AvYRU0R)

[2015-08-25 15:39] andersevenrud commented on #150
Well... There are two solutions... Works the same, but is subjective. So you pick whatever you like best :P
[code]
:

[code]

[2015-08-25 15:42] andersevenrud commented on #150
In case you wanted to know what the trigger is and needs to be fixed, look at:
[code]

Change to:

[code]

[2015-08-25 15:43] andersevenrud commented on #150
Also. I see now that settings-manager.js is basically empty.

So it might be best to put settings-fragment code in there.

[2015-08-26 00:02] RyanRiffle opened #154 "[Refactor] Utils.argumentDefaults"
I didn't realize it was there when I did SettingsFragment but I updated `Utils.mergeObject` to take another argument of `options`. You could then pass in `Utils.mergeObject(original, defaults, {overwrite: false})` to merge the two without overwiting `original`. It looks to me that is all that function does, so why not kill two birds with one stone?
[code]

The only blocker is how I made mergeObjec

[2015-08-26 00:08] RyanRiffle commented on #149
What does the 'EventBinding` checkbox imply? Like events for when settings change outside of the scope of the application to allow for system settings?

[2015-08-26 09:51] andersevenrud commented on #149
@RyanRiffle Yep. Maybe something like:

[code]

[2015-08-26 11:14] andersevenrud commented on #154
The behaviour of `argumentDefaults` is a bit different (rules), but could be done with mergeObject in some way:

- All numbers/booleans defined with `null` or `undefined` uses default value
- Anything else that has a value of `!value` uses default value

So it's not a merge, more of a gap-filler. I don't know if this made any sense :P

[2015-08-26 11:17] RyanRiffle commented on #154
Yes that makes sense. If I may ask, what was the numbers/booleans thing needed for?

[2015-08-26 11:22] andersevenrud commented on #154
For example:

[code]

would return

[code]

[2015-08-26 11:23] andersevenrud commented on #154
Forget the last comment. Correction:

For example:

[code]

would return

[code]

[2015-08-26 11:24] andersevenrud commented on #154
Without these rules, this would happen:

[code]

would return

[code]

[2015-08-26 15:06] #150 closed

[2015-08-26 15:08] andersevenrud commented on #150
Nice job! :+1:

I moved the clock dialog scheme into "CoreWM/scheme.html". Mostly because it removes some code and that opening the dialog is now showing instantly (because it was cached upon boot).

[2015-08-26 15:25] andersevenrud commented on #149
This is done too! :+1:

[2015-08-26 15:25] #149 closed

[2015-08-26 18:37] andersevenrud commented on #150
@RyanRiffle Also, I added so "Settings" updates if you change the settings tree with the `watch()` function.

[2015-08-26 19:44] andersevenrud opened #155 "[CoreWM] Modifying PanelItems in Settings resets settings"
Like the title says

@RyanRiffle FYI

[2015-08-26 20:30] RyanRiffle commented on #155
Like changing one setting for a PanelItem changes resets the whole pool?

[2015-08-26 20:31] andersevenrud commented on #155
@RyanRiffle Just the 'panels' pool inside 'CoreWM'. It's because of the way items are done in Settings. Should I look at it, or do you want to have a stab at it ?

[2015-08-26 20:33] RyanRiffle commented on #155
If you know what's causing it then I don't see why not. If not I can figure it out, I'm off work now.

[2015-08-26 20:39] RyanRiffle commented on #154
I understand now. We can close this

[2015-08-26 20:40] andersevenrud commented on #154
allrighty then!

[2015-08-26 20:40] #154 closed

[2015-08-26 21:11] #155 closed

[2015-08-30 13:05] xDarkShadowKnightx opened #156 "Error when opening app menu on chrome for android"
Here's the error that popped up:

TypeError: OSjs.Core.getHandler(...).getApplicationsMetadata is not a function
    at new ApplicationMenu (http://osjsv2.0o.no/packages/default/CoreWM/combined.js:1:2029)
    at Object.doShowMenu [as showMenu] (http://osjsv2.0o.no/packages/default/CoreWM/combined.js:1:3763)
    at http://osjsv2.0o.no/packages/default/CoreWM/combined.js:1:35213
    at http://osjsv2

[2015-08-30 13:08] #156 closed

[2015-08-30 13:09] andersevenrud commented on #156
Should be fixed now (demo site is cached, so might have to refresh two times to make it update).

[2015-09-01 17:30] sercul opened #157 "New package combined.js error"
Tried to create new Application with this tutorial http://os.js.org/doc/tutorials/create-application.html
Everything default, but I am getting error when I click on application link on main menu:

Application 'TestApp' preload error:
/packages/default/test/combined.js

[2015-09-01 17:34] andersevenrud commented on #157
It looks like I need to add some more info to my INSTALL file, because this comes up very often :)

You are running with the `dist` build which requires you to rebuild if you add/modify something in the code. If you want to rebuild just your package simply do `grunt packages:default/MyPackageName`.

If you use `dist-dev` you don't have to do this, and is very usefull for development purposes. This

[2015-09-01 17:53] andersevenrud commented on #157
Please let me know if this solved your problem or if you are still wondering about something :)

[2015-09-02 08:01] sercul commented on #157
Yes, this works, thanks. More questions to come)

[2015-09-02 08:12] sercul commented on #157
@andersevenrud  Not sure if I can write here, but I followed tutorial from http://os.js.org/doc/tutorials/create-application-continued.html and it shows error when clicking "My label" button:

UIScheme.prototype.find@http://localhost:8000/client/javascript/gui/_scheme.js:310:1
ApplicationprotontestWindow.prototype.init/<@http://localhost:8000/packages/default/protontest/main.js:70:5
OSjs.Utils.$bi

[2015-09-02 10:31] andersevenrud commented on #157
@sercul Yeah. That tuturoial needs some updates and I have totally missed some errors in it :( Sorry about that.

[code]

[2015-09-02 11:02] andersevenrud commented on #157
I fixed those mistakes in the documentation. Thanks for letting me know

[2015-09-05 12:07] multigcs opened #158 "bad installer-script"
[code]

[2015-09-05 12:36] andersevenrud commented on #158
Could you make it a pull request ? :)

https://github.com/andersevenrud/OS.js-v2/blob/master/src/installer/installer.sh

[2015-10-01 22:09] #158 closed

[2015-10-01 22:10] andersevenrud commented on #157
Closing issue because of idle-time

[2015-10-01 22:10] #157 closed

[2015-10-14 21:30] spiperac opened #160 "ApplicationChat kill pid stacktrace"
ApplicationChat.prototype.destroy@http://osjsv2.0o.no/packages/extras/Chat/combined.js:6346:5
Application.prototype._onMessage@http://osjsv2.0o.no/osjs.js:2517:9
Window.prototype.destroy@http://osjsv2.0o.no/osjs.js:3110:7
ApplicationChatWindow.prototype.destroy@http://osjsv2.0o.no/packages/extras/Chat/combined.js:6323:5
Application.prototype.destroy@http://osjsv2.0o.no/osjs.js:2507:9
ApplicationCh

[2015-10-15 06:18] andersevenrud commented on #160
Thanks! :)

Solved in the extras repository: https://github.com/andersevenrud/OS.js-v2-extras/commit/4e4261d2627b0d9572b7e483d9a97fbed27f3db4

[2015-10-15 06:18] #160 closed

[2015-10-15 10:16] NikosEfthias opened #161 "Hangs while registering handler api methods"
After i run start-node-dist.sh file it hangs on the message registering api methods nad installation cannot be completed

[2015-10-15 13:49] andersevenrud commented on #161
That actually means evevrything went OK. It makes sense that you thought something went wrong.

I will add a message when loading is complete telling you server is running :)

[2015-10-15 13:52] #161 closed

[2015-10-15 13:55] andersevenrud commented on #161
@NikosEfthias Thanks for letting me know. The node server now tells you it is running if everything went OK during init.

[2015-10-15 14:03] NikosEfthias commented on #161
well which port it listens i couldnt find any info about that ?

[2015-10-15 14:06] andersevenrud commented on #161
The port is included in the message I added. It is also printed out in the top of the output as it always has, but might be hard to spot.

Default port is **8000**

Example of output:
[code]

[2015-10-15 14:09] NikosEfthias commented on #161
well great now i pulled and installing thank you for fast response

[2015-10-15 14:10] andersevenrud commented on #161
No problem! Feel free to open more issues or continue on this one if you experience any more problems.

You can also join the official chat (just use Github account): https://gitter.im/andersevenrud/OS.js-v2

[2015-10-15 15:31] NikosEfthias opened #162 "Menu doesnt open just a dot appears on click"
*Edit by @andersevenrud*: After lots of debugging we have noticed this only occurs on Chrome in Mint Linux on his computer. I have failed to replicate this on all of my computers and browsers -- which makes this soooo strange!

*Edit It now also happens in Firefox after he was messing around a bit* **wtf**

*Edit After clearing the LocalStorage (settings in demo handler), it works fine. I suspect

[2015-10-15 15:39] andersevenrud commented on #162
This is a symptom of missing package manifest. If you followed the installation docs this should ideally not happen.

Try to run `grunt manifest` to re-create it (and then reload the client in your browser). If it does not work let me know so I can give further instructions on how to debug this problem

[2015-10-15 15:46] NikosEfthias commented on #162
![screenshot from 2015-10-15 18 44 39](https://cloud.githubusercontent.com/assets/9097437/10519080/d8931fda-736c-11e5-9bce-99593f4a1981.png)
the same still i restarted server as well and restarted the client nothing seems changed

[2015-10-15 15:48] andersevenrud commented on #162
In the browser, open the Developer Console and enter this:

[code]

You should see something like this:

[code]

[2015-10-15 15:53] NikosEfthias commented on #162
![screenshot from 2015-10-15 18 51 01](https://cloud.githubusercontent.com/assets/9097437/10519345/ee7630ca-736d-11e5-8a4a-320bc2bcfcc9.png)
{
[code]

[2015-10-15 15:57] andersevenrud commented on #162
So that means the packages and manifest is actually loaded. Hmm.

Were there any errors in the console ? Or the "Network" tab ?

I just did a fresh installation and I cannot replicate it. What browser re you using ?

Try running the developer server: `./bin/start-node-dev.sh` (allthough it should not make any difference... but hey, worth trying. That will narrow it down)

[2015-10-15 15:58] NikosEfthias commented on #162
![screenshot from 2015-10-15 18 58 31](https://cloud.githubusercontent.com/assets/9097437/10519522/c4cb5aa6-736e-11e5-807f-059480527a2a.png)
![screenshot from 2015-10-15 18 58 24](https://cloud.githubusercontent.com/assets/9097437/10519523/c4cdf1f8-736e-11e5-80e7-882a4fbd7a10.png)

[2015-10-15 15:59] NikosEfthias commented on #162
i am running on google chrome latest stable

[2015-10-15 16:00] NikosEfthias commented on #162
same for development server

[2015-10-15 16:04] andersevenrud commented on #162
The 404s you get there are totally normal.

I also run latest Chrome stable. I even tested this on OSX and Windows (IE included) now... and I cannot replicate... which is strange -- and worries me a bit.

In `src/packages/default/CoreWM/menu.js` -- Line **228**:

Set a breakpoint (if you know how to use the debugger) or simply add this after this line:

[code]

Then reload page (use the developer

[2015-10-15 16:07] NikosEfthias commented on #162
![screenshot from 2015-10-15 19 07 33](https://cloud.githubusercontent.com/assets/9097437/10519812/05cd54b8-7370-11e5-9b05-3c92baa286b7.png)
![screenshot from 2015-10-15 19 07 21](https://cloud.githubusercontent.com/assets/9097437/10519811/05c94c9c-7370-11e5-99be-bc12fe4994d6.png)

[2015-10-15 16:10] andersevenrud commented on #162
Inspect the `list` and see what you get. If you set a breakpoint on the next line (or just step one instruction forward), you should get something like:

![Screenshot](http://i.imgur.com/g2NZMI7.png)

[2015-10-15 16:14] NikosEfthias commented on #162
it returns an empty object

[2015-10-15 16:14] NikosEfthias commented on #162
![screenshot from 2015-10-15 19 14 33](https://cloud.githubusercontent.com/assets/9097437/10520029/fc2f5a0e-7370-11e5-954c-30295dd1ac72.png)

[2015-10-15 16:15] andersevenrud commented on #162
I see. Try to put this in the console: `OSjs.Core.getPackageManager().getPackages();`

[2015-10-15 16:19] NikosEfthias commented on #162
![screenshot from 2015-10-15 19 19 14](https://cloud.githubusercontent.com/assets/9097437/10520192/a331e9ca-7371-11e5-814b-9fd7eb611c17.png)
empty object

[2015-10-15 16:24] andersevenrud commented on #162
Aha. So we have narrowed it down to that spesific method (`src/client/javascript/package-manager.js`).

Just for fun, try running: `OSjs.Core.getPackageManager().getPackages(true);`. This should return the metadata we saw earlier.

[2015-10-15 16:26] NikosEfthias commented on #162
![screenshot from 2015-10-15 19 26 34](https://cloud.githubusercontent.com/assets/9097437/10520426/a83aea2e-7372-11e5-9081-6f6bb0a3c03a.png)
still empty :)

[2015-10-15 16:30] andersevenrud commented on #162
Wow... This is *strange*.

Search for `PackageManager::_addPackages()` in the browser console output. This line should display what pacakages it was trying to add (almost in the beginning of output. This only works with dev server since it includes console messages)

![Screenshot](http://i.imgur.com/bDIPxUn.png)

[2015-10-15 16:37] NikosEfthias commented on #162
which output we are talking about ? output of
OSjs.Core.getPackageManager().getPackages(true) is empty

[2015-10-15 16:38] andersevenrud commented on #162
By "output" I mean the javascript console.

Reload OS.js in the browser, then open the console, `CTRL+F` to search the console messages.

Search for `PackageManager::_addPackages()`

[2015-10-15 16:41] NikosEfthias commented on #162
![screenshot from 2015-10-15 19 41 03](https://cloud.githubusercontent.com/assets/9097437/10520770/adf5ec0a-7374-11e5-985e-f270e2f2f85c.png)also empty

[2015-10-15 16:43] andersevenrud commented on #162
That's not the correct line. Here is a bigger screenshot with annotation to illustrate:

![Big Screenshot](http://i.imgur.com/GeyPA14.png)

[2015-10-15 16:47] NikosEfthias commented on #162
![screenshot from 2015-10-15 19 47 28](https://cloud.githubusercontent.com/assets/9097437/10520920/96eceea4-7375-11e5-88eb-c23f6317ecf3.png)

[2015-10-15 16:51] andersevenrud commented on #162
So, it actually loads the manifest and the package manager recieves them just fine. So the problem *must* be this function.... which don't makes sense to me. This has always worked!

On line *298* in `src/client/javascript/package-manager.js`, insert this:

[code]

[2015-10-15 16:56] andersevenrud commented on #162
I have to leave for ~1hr. Will come back to you as soon as I get back!

[2015-10-15 16:57] NikosEfthias commented on #162
okay im here i hope well fix this i ses here do build categody menu returns a function which must return the list i guess but doesnt

[2015-10-15 18:46] andersevenrud commented on #162
Did you get any logs in the console after adding that ?

[2015-10-15 18:47] NikosEfthias commented on #162
nope aactually i didnt have so much time to dig inside code so much is there a documantation for developers ?

[2015-10-15 18:50] andersevenrud commented on #162
You didn't? Then that function is broken somehow!

Client API: http://os.js.org/doc/client/
Server API: http://os.js.org/doc/server/

Some manuals: http://os.js.org/doc/manuals/
Some tutorials: http://os.js.org/doc/tutorials/

If you feel like something is missing... let me know and I'll try my best to make some new documents. I-ve not had much time to write stuff like this... so it's a bit lackin

[2015-10-15 18:54] andersevenrud commented on #162
Or did you mean that you did not do what I commented on ? Having a rough time reading some of your sentences since they lack punctuation -- and English is not my mother language :)

[2015-10-15 18:55] NikosEfthias commented on #162
i am not native in english either :) i added you on facebook

[2015-10-15 18:56] andersevenrud commented on #162
My personal Facebook profile is private, so you most likely added my Facebook Developer Account, which I don't use :)

[2015-10-15 18:57] NikosEfthias commented on #162
:D well i have vkontakte as well if you have

[2015-10-15 18:58] andersevenrud commented on #162
Not much into social media, but if you send me a mail or something with your FB profile I can add you :)

[2015-10-15 18:59] NikosEfthias commented on #162
nikos.efthias@gmail.com is my mail address you can search in fb by this

[2015-10-18 10:21] rontav opened #163 "LESS compiling errors not shown in grunt task"
If you have an error in the style.less from a theme and run `grunt config themes:styles:myTheme` it will echo

but it will not compile it. Also, if you scroll up you can see the LESS error(s).

[2015-10-18 13:13] #163 closed

[2015-10-18 13:13] andersevenrud commented on #163
I also fixed so `grunt themes:fonts` copies the static files as well as compiles the stylesheets :)

[2015-10-31 18:46] andersevenrud opened #169 "[Arduino] Lua server and custom build"
This build is a custom backend written in Lua designed to run on Arduino devices (like the Yun). The goal of this build is to mirror the Node version, but optimize for space-usage without sacrificing [too many] features.

It only depends on a few libraries and is written very close to "the metal". It is designed to run on uHTTPd.

**NEEDS TESTING**

## Links

- https://github.com/andersevenrud/OS.

[2015-11-01 15:26] andersevenrud commented on #169
![Screenshot](http://i.imgur.com/skAbiis.png)

[2015-11-15 21:43] andersevenrud commented on #169
![Screenshot](http://i.imgur.com/oU8BxAM.png)

[2015-11-16 05:09] 1j01 opened #170 "Dragging windows with iframes"
This affects Wolfenstein 3D and [two](https://github.com/1j01/jspaint) [applications](https://github.com/1j01/audio-editor) that I might try to integrate into OS.js (and maybe Firefox Marketplace apps?)

This can be solved like so:
[code]
(Maybe you don't want to use `data-hint`, though, I don't know)

[2015-11-16 12:40] andersevenrud commented on #170
Ops. I actually fixed this quite a while ago, but it seems that I might have accedentally removed it somehow. Thanks :)

[2015-11-16 13:22] #170 closed

[2015-11-16 13:24] andersevenrud commented on #170
Those two apps looks pretty sweet btw :+1:

[2015-11-16 13:34] 1j01 commented on #170
Thanks :)

[2015-11-16 15:46] 1j01 opened #171 "JavaScript Error Report: open issue button"
The "Bugreport" button that links to https://github.com/andersevenrud/OS.js-v2/issues/new could prefill the description and/or title, e.g.

    "https://github.com/andersevenrud/OS.js-v2/issues/new?title=" + encodeURIComponent("foo") + "&body=" + encodeURIComponent("```\n" + error.stack + "\n```")

Also I'd rename it "Report Bug" so it's a verb phrase.

[2015-11-16 16:06] 1j01 opened #172 "[Package Manager] Error on install package from store"
Trying to install "Test" in Settings > Packages > App Store

[code]

I'm guessing maybe this isn't "supposed to work" yet?

[2015-11-16 16:09] 1j01 commented on #171
Oh and you ask for reproduction steps in an HTML comment at the top!

[2015-11-16 16:09] andersevenrud commented on #172
Ah, yes. The "App Store" is not working on the public demo :)

[2015-11-16 16:14] 1j01 commented on #172
I got the same error after installing OS.js locally

[2015-11-16 16:17] andersevenrud commented on #172
I see that too! Thanks :)

[2015-11-16 16:19] #171 closed

[2015-11-16 16:19] andersevenrud commented on #171
Thanks!

[2015-11-16 16:22] #172 closed

[2015-11-16 16:23] andersevenrud commented on #172
The App Store is a work in progress btw, and I think the test application that is there is outdated. But at least this spesific error was fixed

[2015-11-16 16:38] 1j01 opened #173 "README links to CONTRIBUTE.md instead of CONTRIBUTING.md"
Wow, that title looks really angry.

[2015-11-16 16:39] #173 closed

[2015-11-16 16:39] andersevenrud commented on #173
:) Fixed :+1:

[2015-11-21 02:56] ComputeLinux commented on #134
GUI-NG is finshed.

[2015-11-21 10:43] andersevenrud commented on #134
But I still don't have enough feedback to actaually call it finished :(

[2015-11-21 20:29] andersevenrud commented on #134
@ComputeLinux I was just about to look into this... and it seems I have *deleted* what I made earlier and there is no record of it on github :( So I have to start over... but not to worry, *I'm on the case* :)

[2015-11-27 04:20] 1j01 opened #174 "[CoreWM] Clock width"
The clock's width is not fixed.

[2015-11-27 11:59] andersevenrud commented on #174
@1j01 Yes. You can actually customize the clock (right click on it), hence the dynamic size. Since it does not use a monospaced font it is really hard do "calculate" the actual required width. If you have any ideas let me know

[2015-11-27 20:41] 1j01 commented on #174
You can render it with the widest character, or if that's not clear or consistent between fonts, render it with each digit and take the widest measurement. Do this when the format changes (setting the width to `auto` first).

[2015-11-27 22:25] andersevenrud commented on #174
@1j01  I guess I could just multiply the font-size by 1.2 and then by the number of characters. Then we'd be pretty safe -- I think!

[2015-11-28 17:46] andersevenrud commented on #134
@ComputeLinux I've started on this again and this time it will be in it's own repo: https://github.com/andersevenrud/OS.js-v2-IDE So follow the progress there :)

[2015-11-30 00:03] 1j01 commented on #174
Sure, whatever works, but it shouldn't be too hard to implement using exact measurements (using `getComputedStyle`)

[2015-11-30 13:01] andersevenrud commented on #174
Using `getComputedStyle()` in this case would just be the same as looking at `offsetWidth` and that would not help actually since the actual width depends on what characters are displayed.

The only way to have a static width is to do a really rough calculation based on the given format that is set. Or change to a monospaced equal-width font just for the clock.

[2015-11-30 20:44] andersevenrud commented on #134
@ComputeLinux I will now re-open this issue. I have made quite some progress this weekend :)

[2015-11-30 20:48] andersevenrud commented on #162
I'm closing this for now. No more reports of this has come in, and I have deployed OS.js on countless systems without getting it myself -- so I am going to assume this was a cahcing issue (as we discussed).

Thanks for your effort in resolving this though :)

[2015-11-30 20:48] #162 closed

[2015-11-30 20:51] andersevenrud commented on #15
This issue is pretty much deprecated. The rest of the TODOs is noted in #49

[2015-11-30 20:51] #15 closed

[2015-11-30 22:28] 1j01 commented on #174
@andersevenrud That's the point. You set the text before doing the calculation, so you get the width of e.g. "88:88:88" (if 8 is the widest digit) and then set `style.width` to `offsetWidth` or `clientWidth` (`+ "px"` of course) and then set the text back to what it's supposed to show.

[2015-11-30 22:47] andersevenrud commented on #174
@1j01 But how do you know "8" is the widest character ? It all depends on the font used.

The only "proper" solution is to make it a choice to use a monospaced font, or just set a static width (and another option for "calculated").

[2015-12-01 16:32] opalenet-marcandre opened #175 "Saved writer document can't be opened."
This is the error I get:

[code]

[2015-12-01 16:34] andersevenrud commented on #175
Is the file saved as `.odoc` ?

[2015-12-01 16:39] andersevenrud commented on #175
I cannot replicate this error on my local machine. You're opening a file from File Manager, right ?

If you give me a login to your site maybe I can help debugging the problem.

[2015-12-01 17:41] opalenet-marcandre commented on #175
it is saved as .odoc (I also tried changing it to .html, but it didn't help).
http://v2b.nook.ink/
u:drmab / p:mab

[2015-12-01 20:24] andersevenrud commented on #175
Are you running PHP or Node server ? It seems that it fails to read MIME of files.

![Screenshot](http://i.imgur.com/QwEEqt6.png)

[2015-12-01 20:33] opalenet-marcandre commented on #175
PHP. I tested with a jpeg, same problem. It's probably in my server config.

[2015-12-01 20:50] andersevenrud commented on #175
It seems this is my fault. I forgot to make an update... please stand by!

[2015-12-01 20:53] andersevenrud commented on #175
It seems that you may be missing a php module that makes the function `finfo_open` available. And in that case MIME reading seems to be failing.

Please update your source-code and try again with the latest update :)

[2015-12-02 00:07] opalenet-marcandre commented on #175
Fixed it; my PHP configuration was missing the file type extension.

[2015-12-02 00:07] #175 closed

[2015-12-02 17:26] andersevenrud commented on #175
Great! :)

I'm going to make a `grunt check` task that looks up the system configuration to and warn the user if anything is missing or possibly wrong.

[2015-12-03 15:21] kopiro opened #176 "Boh"
An error occured while trying to launch: ApplicationChat

[code]

[2015-12-03 15:25] andersevenrud commented on #176
Thanks for letting me know :)

This was actually fixed in a previous commit, but it seems I have forgotten to update the demo site! I will run an update this weekend as I am planning to deploy some other stuff as well

[2015-12-03 15:25] #176 closed

[2015-12-03 15:27] andersevenrud commented on #176
Ref: https://github.com/andersevenrud/OS.js-v2-extras/commit/1ff28ae8ee82541b241ab39f28622ef7ced7bc0c

[2015-12-05 23:41] andersevenrud commented on #176
This issue should be fixed now.  I just applied an update :)

[2015-12-08 17:42] #174 closed

[2015-12-08 17:43] andersevenrud commented on #174
[code]

[2015-12-12 23:03] butlerpaul opened #177 "launching drag race 3d"
An unexpected error occured, maybe a bug.

[code]

[2015-12-12 23:49] andersevenrud commented on #177
@butlerpaul Could you try to explain what you did to get this error ?

[2015-12-13 23:58] butlerpaul commented on #177
First time user!

I followed the install instructions and hit a couple minor problems.

My host is Ubuntu 15.04

Installer wanted to sudo to install grunt (using npm)
But I have node and npm installed using nvm only as regular user account.
so npm is not found by root account.
I then installed npm using apt-get and ran the installer again. Seems to be
ok.
I then ran bin/start-node-dist.sh and it s

[2015-12-14 00:05] andersevenrud commented on #177
I have not tested installing with user-based node and npm before. Will look
into that!

Ah, yes, the Firefox Marketplace. I should disable it by default, really,
because it does not work that great without a HTTP proxy server. I
already have an Issue about this application on Github that lists some
changes that will be done in the near future :)

I made a commit yesterday that should resolve this,

[2015-12-14 00:11] butlerpaul commented on #177
It is marked experimental so I wasn't surprised by a bug. Just thought I go
ahead and send the bug report.

I really like the desktop! Very nice clean look and runs pretty fast on
localhost. I want to experiment with running it on a remote server.

-paul

Paul Butler
butler.paul@gmail.com
Mobile: 214-250-6159

On Sun, Dec 13, 2015 at 6:05 PM, Anders Evenrud <notifications@github.com>
wrote:

[2015-12-14 00:16] andersevenrud commented on #177
It runs very well remotely even on slow connections. Application initial
loading might take a few seconds on 1mbit or less, but that only happens
once.

Den mandag 14. desember 2015 skrev Paul Butler <notifications@github.com>
følgende:

--

Anders F. Evenrud
Software Developer

Blog: http://tinyurl.com/cjfrfx8

[2015-12-15 22:57] andersevenrud commented on #177
I will close this issue for now. If anything comes up it will be continued in  #98

[2015-12-15 22:57] #177 closed

[2015-12-18 06:15] altair-albert opened #178 "bug on ubuntu 14.04 xfce-4.12"
发生未知异常, 也许是个BUG.

[code]

[2015-12-18 14:56] #178 closed

[2015-12-29 04:47] MarkWalls opened #180 "Trying to create a file in editor"
An unexpected error occured, maybe a bug.

[code]

[2015-12-29 09:29] piranna opened #181 "[Server] Separate backend-functionality and static file-serving"
This would allow not only to serve the content from a CDN but also to integrate it easily with NodeOS GUI spec.

[2015-12-29 12:07] fazo96 opened #182 "[Applications] Shell and CLI APIs"
Hi! Nice project :+1:

A cool thing I thought would be the ability to run most node tools **on the client**. This can be done by having a _terminal_ app and a _shell_ running inside it. Then, when executing a program (which would be javascript) the shell injects some stuff into the global env of the executed script, such as:
- the _require_ function which works like node's _require_
- an implement

[2015-12-29 14:29] andersevenrud commented on #182
I have a Terminal application here https://github.com/andersevenrud/OS.js-v2-extras that works fairly well :)

This could by simply loading requirejs, couldnt it ?

OS.js already have a filesystem abstraction layer that works very similar to nodes.

I am planning to add more CLI tools and such (which is in progress on another branch), so stay tuned

[2015-12-29 14:31] andersevenrud commented on #181
I'm not sure that I understand what you mean by "splitting from the actual operation". Could you elaborate ? :)

[2015-12-29 14:37] andersevenrud commented on #180
Thanks! This should be fixed in https://github.com/andersevenrud/OS.js-v2-extras/commit/d0a34d0e4e7dbd7b7054e7e9dd776e7320b11a39

I will update the demo server today at some point

[2015-12-29 14:37] #180 closed

[2015-12-29 14:55] piranna commented on #181
OS.js can run standalone from a file:// scheme, so the same could be done with a static web server. On the other hand, doing so seems there some missing backend functionality... What I ask for is to isolate this backend functionality (maybe in its own project? One for Node.js and another for PHP?) and remove the static web server part from the OS.js server leaving only the operational one.

[2015-12-29 15:07] andersevenrud commented on #181
When you run OS.js in standalone mode you're effectively running without a backend, hence the missing functionallity (basically external HTTP calls and filesystem functionality).

I am definately going to make better support for static web servers (such as NW.js, which I have tested). This will involve making a VFS module first so you can manipulate files etc.

So, basically take `src/server/` and

[2015-12-29 15:09] fazo96 commented on #182
Wow cool!

What I meant is writing part of the node standard library using your file system abstraction, so that node modules and applications using `require('fs')`, `require('http')` and similar __will work in the browser__. That would allow almost all existing CLI tools written in javascript to work in OS.js :+1: My point was allowing a command line environment with a full shell similar to bash

[2015-12-29 15:12] andersevenrud commented on #182
So, like a JavaScript REPL with console output ? That could be done!

[2015-12-29 15:15] piranna commented on #181
as NW.js, which I have tested). This will involve making a VFS module first
so you can manipulate files etc.

Other option is to create a Chrome App, that's already packages and
self-contained and also nw.js now has support for them :-) Just don't use
private navigator.chrome.* APIs, please ;-)

I was asking more about the servers only having the backend functionality
and remove their static file

[2015-12-29 15:22] andersevenrud commented on #181
and remove their static file functionality,

Aha! Now I get it. That is something that never crossed my mind. I will definately look more into this. Thanks :)

[2015-12-29 15:24] gelopfalcon opened #183 "I try to open with Chrome"
An unexpected error occured, maybe a bug.

[code]

[2015-12-29 15:28] andersevenrud commented on #183
I just updated the OS.js demo server. Could you please try again and see if you still get this ? (You should clear browser cache first)

[2015-12-29 15:29] andersevenrud commented on #180
@MarkWalls I have updated the demo server, so it should work now (allthough you might have to clear your browser cache for it to refresh code properly... it happens sometimes)

[2015-12-29 15:29] piranna commented on #181
You are welcome :-) Yeah, since I proposed on NodeOS to have a DAV server for the files operations including servir the GUI, the only remaining ones specific for each application (including the desktop) are fairly minimal, like requesting auth or do some background process. There's no need to serve static files if you already have a static web server :-)

[2015-12-29 15:41] gelopfalcon commented on #183
The bug was fixed. Thanks.

[2015-12-29 15:41] andersevenrud commented on #183
Thank you for reporting! :)

[2015-12-29 15:41] #183 closed

[2015-12-29 18:16] bobstermyang opened #184 "Porting Windows Application"
Is it possible to port a Windows Application over to this?

[2015-12-29 18:18] andersevenrud commented on #184
We are currently discussing the ability to *stream* applications somehow in the chat: https://gitter.im/andersevenrud/OS.js-v2

It might be possible to port WinJS applications (or maybe somehow support them). I will have to look into that!

[2015-12-29 18:44] joecracko opened #185 "[Compability] 'Script error'"
**Update from @andersevenrud**

~~This only happens on demo server, so it has got to be a network/connectivity or external resource issue. So far it has not mattered which platform, browser or device it has been tested on. 7 reports so far spanning almost every possible configuration. I am not able to replicate this myself (at first I thought it was adblock, but I not on my side).~~

Possible caus

[2015-12-29 18:46] andersevenrud commented on #185
You land on http://osjsv2.0o.no/ , right ?

I have never seen this error before... What browser are you using ?

You might want to try again. Maybe the server was overloaded (I have a lot of traffic right now)

[2015-12-29 18:46] joecracko commented on #185
Updated with browser and OS

[2015-12-29 18:49] joecracko commented on #185
Updated with work-around. It's probably a non-critical issue.

[2015-12-29 18:50] andersevenrud commented on #185
That is really strange. Right now I am on the same browser and OS!

Maybe it is a browser plugin misbehaving or something ? That's my guess at least. I will leave this issue open anyway

[2015-12-29 23:42] davidthewatson opened #186 "Unexpected error"
An unexpected error occured, maybe a bug.

[code]

[2015-12-29 23:45] andersevenrud commented on #186
Duplicate of #185

I am trying to figure out why some people get this. I suspect a browser plugin. Please look in that issue for more information and debugging

[2015-12-29 23:45] #186 closed

[2015-12-30 02:47] RobertDeRose opened #187 "Drawing app didn't like two finger click and drag on iPad Air 2"
An unexpected error occured, maybe a bug.

[code]

[2015-12-30 08:31] ManuelArno opened #189 "bugreport: mac os x yosemite"
This happened after closing the tetris app and starting it again. Also the "press space to start" alert is not vanishing.

[code]

[2015-12-30 10:14] wencan opened #190 "report bug"
发生未知异常, 也许是个BUG.

[code]

[2015-12-30 10:29] dervondenbergen opened #191 "frozen window when image gets saved"
An unexpected error occured, maybe a bug.

[code]

---

I created an image in draw and wanted to save it.
When clicking Save, the **Save Window** froze. Then the bugreport window popped up.
I checked, and the Image was actually saved. (wowe.png on the demo site)

[2015-12-30 10:50] dexterlabora opened #192 "Errors constantly while on iPad via chrome or native browser"
An unexpected error occured, maybe a bug.

[code]

[2015-12-30 10:52] mlopezgva opened #193 "[GoogleAPI] Two google accounts for Drive"
Error inesperado, puede que sea un bug.

[code]

I was authorizing OS.js in my google account... but... I have a personal and a corporate (Google Apps) account. I granted access for both...

[2015-12-30 13:05] frankstein-1 opened #194 "can it be used with linux ?"
Hi

I want to ask if this project be used as an alternatif for GNOME or KDE alternatif ?

[2015-12-30 13:09] andersevenrud commented on #194
Yes, you can use OS.js as your primary desktop environment on top of X11 or Wayland.

So far only streaming GTK3 applications is provided, but I am looking into ways to be able to stream anything cross-platform.

So it is currently a bit limited to what applications you can use and such, but this is something that will improve over time!

[2015-12-30 13:09] #194 closed

[2015-12-30 13:27] andersevenrud commented on #192
This seems to be the exact same problem as #185 -- I am looking into this!

[2015-12-30 13:27] #192 closed

[2015-12-30 13:29] andersevenrud commented on #190
This should be fixed in https://github.com/andersevenrud/OS.js-v2-expermiments/commit/6fa05fc9d6ef7052721b4aaebc730aad2d4195a4

Demo server will be updated midnight CET

[2015-12-30 13:29] #190 closed

[2015-12-30 13:34] frankstein-1 commented on #194
Cool :+1:  I find it very interesting

[2015-12-30 13:43] andersevenrud commented on #191
I'm pretty sure I have solved this problem.

I will update the demo server around midnight CET (probably).

Thanks for reporting! :)

[2015-12-30 13:43] #191 closed

[2015-12-30 13:45] dervondenbergen commented on #191
Cool, you're welcome :shipit:

[2015-12-30 13:45] andersevenrud commented on #189
Duplicate of #190

Thanks for reporting it! I have made a possible fix for this and I will deploy it later today :)

[2015-12-30 13:45] #189 closed

[2015-12-30 13:47] andersevenrud commented on #187
Thanks for reporting in! :)

There's still a lot of improvements coming to mobile platforms: [Core] Touch, Mobile UI and small-screen improvements #112

Note to self: This is gui-color-box event triggering

[2015-12-30 13:48] andersevenrud commented on #193
Thanks you for reporting! :)

I will look into this

[2015-12-30 16:23] jafarovr opened #196 "issue while re-launching tetris game."
An unexpected error occured, maybe a bug.

[code]

[2015-12-30 16:24] andersevenrud commented on #196
Thanks for reporting in! :)

This is a duplicate of #190

[2015-12-30 16:24] #196 closed

[2015-12-30 18:01] brianNnelson opened #197 "An unexpected error occured, maybe a bug."
An unexpected error occured, maybe a bug.

[code]

[2015-12-30 18:03] andersevenrud commented on #197
Thanks for reporting!

It seems that this is a problem for some users and I have yet to find out why. It still works after you close the error, right ?

Duplicate of: #185

[2015-12-30 18:03] #197 closed

[2015-12-30 18:03] wporquet opened #198 "Clicked on start menu"
An unexpected error occured, maybe a bug.

[code]

[2015-12-30 18:09] andersevenrud commented on #198
You right-clicked the "start menu" or just pressed it normally ?

[2015-12-30 18:13] brianNnelson commented on #197
Yes it does work after I closed the error window.

On Wed, Dec 30, 2015 at 1:03 PM, Anders Evenrud <notifications@github.com>
wrote:

[2015-12-30 18:14] andersevenrud commented on #197
Good. Then at least nothing breaks. What browser and OS do you use ? And do you have any plugins/extensions running ?

Trying to gather some information on this to help be debug

[2015-12-30 18:15] andersevenrud commented on #198
Oh, you're using a touch-screen maybe ? I will make a note of it in #112

I have at least added a prevention for this error. Thanks for reporting! :)

[2015-12-30 18:16] #198 closed

[2015-12-30 18:27] andersevenrud commented on #184
Since this was more of a question I will close it for now. I will probably make a issue for general app streaming support etc

[2015-12-30 18:27] #184 closed

[2015-12-30 19:18] brianNnelson commented on #197
Win7 OS, Chrome Version 47.0.2526.106 m

On Wed, Dec 30, 2015 at 1:14 PM, Anders Evenrud <notifications@github.com>
wrote:

[2015-12-30 19:25] mgild opened #199 "cannot save text file"
An unexpected error occured, maybe a bug.

[code]

[2015-12-30 20:43] andersevenrud commented on #199
Thanks! This should be fixed now :)

[2015-12-30 20:43] #199 closed

[2015-12-30 23:15] tswt opened #201 "I created a file using the painting app, it crashed after I saved with this message"
An unexpected error occured, maybe a bug.

[code]

[2015-12-30 23:20] andersevenrud commented on #201
Thanks for reporting! :)

I am not able to replicate this bug. You just:

- Opened "Draw"
- Made something
- Used "Save" from the menu
- Wrote a filename and confirmed

and then error showed up ?

[2015-12-31 00:38] javierverb opened #202 "Simple error on open file .js in file system"
Error inesperado, puede que sea un bug.

[code]

[2015-12-31 00:56] andersevenrud commented on #202
Could you try to explain what steps you made to get this error ?

Someone else reported this error, and I thought I fixed it :(

[2015-12-31 01:37] javierverb commented on #202
Hello, I try to recreate the error without success. It was simple: I played with the environment, I created a javascript file with the 'aceEditor' I kept it, I used the 'open with' and trigger error (sorry for my english). My only suspect is in the file system, which somehow suddenly close the windows or use the service GoogleDrive, it creates problems.
Note: I stress in the file system.

[2015-12-31 01:40] andersevenrud commented on #202
No problem about your English (I am not a native speaker myself).

So this might have something to do with the demo server because I have *extremely high traffic* at the moment.

But I will keep watching out for this. I am pretty sure this a bug even though I cannot replicate it myself.

Thanks for reporting! :)

[2015-12-31 01:40] javierverb opened #203 "Crash on play with file manager."
Error inesperado, puede que sea un bug.

Y amo el trabajo que están haciendo, me encanta y se ve muy prometedor! :heart:
Note: I stress in the file system and using a demo version.
[code]

[2015-12-31 01:41] andersevenrud commented on #202
Is this related to #203 ?

[2015-12-31 01:44] javierverb commented on #202
#203 it is purely specific in Filesystem!

[2015-12-31 02:54] warranlin opened #204 "JS Error Report"
An unexpected error occured, maybe a bug.

[code]

[2015-12-31 03:09] javierverb opened #205 "Error on delete shortcut."
Error inesperado, puede que sea un bug.

[code]

[2015-12-31 06:37] flinn2112 opened #206 "Script error when maximizing minimizing SAFARI Window."
An unexpected error occured, maybe a bug.

[code]

[2015-12-31 07:01] Octagon opened #207 "Calculator crashes if a number starts with zero"
An unexpected error occured, maybe a bug.

[code]

[2015-12-31 13:44] andersevenrud commented on #204
Thanks for reporting!

Duplicate of #185

[2015-12-31 13:44] #204 closed

[2015-12-31 13:44] andersevenrud commented on #206
Thanks for reporting!

Duplicate of #185

[2015-12-31 13:44] #206 closed

[2015-12-31 13:46] #207 closed

[2015-12-31 16:07] asRIA opened #214 "JS Error after double click in Writer on Nada.txt"
I clicked on text `nmcx ` what is underscored in my FF 46 browser. Lang pl_PL

An unexpected error occured, maybe a bug.

[code]

[2015-12-31 17:07] jimmyliao opened #215 "Double click js file on file explorer cause this 'JavaScript error report'"
An unexpected error occured, maybe a bug.

[code]

[2015-12-31 17:09] andersevenrud commented on #215
Thanks for reporting! :)

This is a duplicate of  #203 and will be looked into ASAP

[2015-12-31 17:09] #215 closed

[2015-12-31 17:10] andersevenrud commented on #214
What do you mean by "I clicked on text nmcx what is underscored" ? :)

[2015-12-31 17:16] naltun opened #216 "[Applications] GoogleMail stuck in loading and misc errors"
As I am using the Google Mail v0.5 app, I am having crashes and unending loading screens.
I have encountered loading issues whilst loading my sent box and opening my contacts. I have encountered crash errors whilst I've been maneuvering around the app, and opening/closing it.

I'll continue tinkering around with Google Mail. Is there any particular way to document the issues?

---
- [ ] Loading is

[2015-12-31 17:18] mgmoody42 opened #217 "It doesn't appear to like something with iOS Safari"
An unexpected error occured, maybe a bug.

[code]

[2015-12-31 17:20] andersevenrud commented on #216
Hi naltun,

The Google Mail app needs some work -- it has been far too long since I've looked at it as my priorities lies elsewhere at the moment :(

I will definately look into this when I have resolved all the other issues that has come in.

I think the information you provided should be enough for me to replicate and debug this.

[2015-12-31 17:21] andersevenrud commented on #217
Thanks for reporting!

This is a duplicate of #185 and will be looked into ASAP :)

It works after you close the error, right ?

[2015-12-31 17:21] #217 closed

[2015-12-31 17:59] mgmoody42 commented on #217
I just saw this and revisited the demo. Originally, it would repeat the error, but it closes now.

[2015-12-31 18:01] mgmoody42 commented on #217
As an aside, Tetris in iOS is not very friendly expecting my iPad to have a keyboard. Maybe there is another way to make it work without a keyboard.

[2015-12-31 18:03] mgmoody42 opened #218 "Tetris in iOS Safari expects keyboard input"
Tetris in iOS is not very friendly expecting my iPad to have a keyboard. Maybe there is another way to make it work without a keyboard? Maybe someone will take it up.

[2015-12-31 18:10] andersevenrud commented on #218
So far touch-support only extends to the Core and GUI. Some applications (like Tetris) has not been updated for this (hence why it is in the experimental repository).

Since this is related to a separate repository, I will close this issue.

I've made sure to make a note of it in the official touch-compabilty issue #112 . Thanks for reporting! :)

[2015-12-31 18:10] #218 closed

[2015-12-31 18:12] andersevenrud commented on #217
I've had several people test the demo site for me, and so far nobody has been able to replicate it.

I am starting to suspect it might have to do with the Google Analytics that is loaded on the page and it is some kind of connection or network/region issue. I would love to know if this happens if you deploy your own version on the local network and run it on the same device.

I will have to dig fu

[2015-12-31 18:17] twkrol opened #219 "FileManager: Cancelling file creation leaves the app unresponsive"
How to replicate:
* open FileManager
* from app menu select Edit/Create/File
* new dialog opens, click Cancel
* the dialog closes, but the FileManager app is unresponsive

[2015-12-31 18:25] #219 closed

[2015-12-31 18:25] andersevenrud commented on #219
Thanks! :) Fixed

[2015-12-31 18:30] andersevenrud commented on #185
@joecracko @mgmoody42 @	flinn2112 @warranlin @brianNnelson @dexterlabora @davidthewatson

Could you try to clear your browser cache and retry the demo and see if you stil get this error message ? I might have found a fix for it, but not sure since I'm not able to replicate :)

[2015-12-31 18:53] naltun commented on #216
:+1:  Sounds good. Let me know if I can help with anything.

[2015-12-31 19:05] #203 closed

[2015-12-31 19:05] #205 closed

[2015-12-31 19:07] andersevenrud commented on #201
I'm pretty sure this got fixed in the recent update -- if not I will re-open.

[2015-12-31 19:07] #201 closed

[2015-12-31 19:07] andersevenrud commented on #202
I'm pretty sure this got fixed in the recent update -- if not I will re-open.

[2015-12-31 19:07] #202 closed

[2015-12-31 19:11] andersevenrud commented on #214
I'm pretty sure this got fixed in the recent update -- if not I will re-open.

[2015-12-31 19:19] AhmedAlSammany opened #220 "Unexpected error on browsing home directory"
An unexpected error occured, maybe a bug.

[code]

[2015-12-31 19:19] #187 closed

[2015-12-31 19:21] #220 closed

[2015-12-31 19:21] andersevenrud commented on #220
This update should take care of that problem.

Thanks for reporting! :)

[2015-12-31 19:24] RobertDeRose commented on #187
Cool!

[2015-12-31 22:38] asRIA commented on #214
It's still there.

Steps to reproduce a bug:
- Open page
- Open File Manager
- Open `Nada.txt` with Writer
- Double click on `nmcx`. This a content of Nada.txt file. In my settings is underscored by grammar correction. (Correction from Fire Fox)

[2015-12-31 22:42] ComputeLinux opened #221 "[CoreWM] Resizable panels"
Just an idea for the panel.

[2015-12-31 22:47] andersevenrud commented on #214
This might be because your browser has cached the contents of the previous release. You most likely have to clear your cache and reload.

I was unable to replicate this. Please try again and report back if it is still there :)

[2015-12-31 22:47] andersevenrud commented on #221
But I don't understand what your idea is. Is there some screenshot you forgot to attach or something ?

[2015-12-31 22:56] ComputeLinux commented on #221
Like you know how in windows you can shrink the icons and the taskbar gets smaller?

[2015-12-31 22:58] andersevenrud commented on #221
I am currently working on making a scalable icon set (imported from gnome), so this is something that is in progress :)

[2015-12-31 23:02] ComputeLinux commented on #221
![capture](https://cloud.githubusercontent.com/assets/905082/12068970/df191a88-afd7-11e5-80b6-53e8ee09e0c4.PNG)
I ment like this

[2015-12-31 23:03] ComputeLinux commented on #221
I got that picture by shuting down the server and enabling touch mode.

[2015-12-31 23:03] andersevenrud commented on #221
The problem is that you only currently have 8 pixels of "usable resize space" before the icons become stretched or shrinked. A scalable icon theme is required to make it optimal.

[2015-12-31 23:03] ComputeLinux commented on #221
oh

[2016-01-01 00:39] andersevenrud commented on #221
I made a note of this in #49 and will re-open this issue when I start working on this functionality, Stay tuned and thanks for the suggestion :)

[2016-01-01 00:39] #221 closed

[2016-01-01 00:43] andersevenrud commented on #25
I am closing this simply because it has no activity and most of this happens on external sources that are not logged here.

[2016-01-01 00:43] #25 closed

[2016-01-01 10:15] asRIA commented on #214
Still there. OS.js 2.0-alpha70

[2016-01-01 11:51] Uplink03 opened #225 "Calculator: 1+2*3= crashes"
An unexpected error occured, maybe a bug.

[code]

[2016-01-01 12:01] twkrol opened #226 "FileManager: columns Modified and Created show NaN values"
There is NaN-NaN-NaN Nan:NaN:NaN everywhere.

[2016-01-01 12:34] twkrol opened #227 "Writer: clicking inside text area of unfocused app is not activating it"
How to test it:
- open Writer
- then open another app, for ex. FileManager
- click Writer's text area: you can type, but the window is not moved to front - stays inactive in back
- click Writer's menu or toolbar: the window activates and is moved to front as expected.

[2016-01-01 12:38] andersevenrud commented on #226
Strange. Is this on a local setup ?

[2016-01-01 12:39] andersevenrud commented on #227
Aha. I know why. Thanks for reporting! :)

[2016-01-01 12:39] andersevenrud commented on #225
Thanks for reporting!

[2016-01-01 12:40] twkrol commented on #226
Yes, on Windows 10, dev mode with node.js

[2016-01-01 12:40] andersevenrud commented on #226
Aha. Windows -- we meet again!

[2016-01-01 12:54] #227 closed

[2016-01-01 12:58] #225 closed

[2016-01-01 13:02] twkrol commented on #227
Hmm, the windows activates now, but you have to click second time to activate text entering.

[2016-01-01 13:28] andersevenrud commented on #227
Yeah. This is the only solution that works good.

The problem is that the Writer app uses an iframe to sandbox it's contents. And events inside the iframe does not bubble out to OS.js without writing some glue code (which I have, but proved unreliable).

I will look more into making a "proper" fix for this so you don't have to click another time, as you said

[2016-01-01 13:35] andersevenrud commented on #214
And I just checked Firefox. It seems that it always detects english as your language. I have no control over fixing that :(

[2016-01-01 13:47] andersevenrud commented on #226
I cannot replicate this. It would be interesting to see why this occurs. Do you know how to use the debugger tools ?

![Screenshot](http://i.imgur.com/pdpIzc7.png)

It would be interesting to see what the respnse from server was that lists the files.

[2016-01-01 15:35] twkrol commented on #226
Ok, found the problem source: Firefox
Server send valid time data, displays ok on Chrome, NaN's on Firefox

![dateproblem](https://cloud.githubusercontent.com/assets/377245/12071315/9cd31394-b0a5-11e5-8cab-0eef85c2abd6.jpg)

[2016-01-01 15:38] andersevenrud commented on #226
Right you are! Looking into it!

[2016-01-01 15:46] #226 closed

[2016-01-01 15:47] andersevenrud commented on #226
Should be fixed now

[2016-01-01 16:10] twkrol commented on #226
I confirm: works great on FF :+1:

[2016-01-01 17:53] asRIA commented on #214
Can you just prevent throwing errors?

[2016-01-01 17:55] andersevenrud commented on #214
I added prevention of this in https://github.com/andersevenrud/OS.js-v2/commit/aae65a5831656bad01829d119916f493ad5c33cc -- but you still said you got it. So I think you're still getting the cached site.

Maybe you're getting a error in another location in the code now ?! Would be interesting to see the entire error message after I have changed the code.

[2016-01-01 19:36] bedna-KU opened #230 "An unexpected error occured, maybe a bug."
An unexpected error occured, maybe a bug.

[code]

[2016-01-01 19:59] andersevenrud commented on #230
Thanks for reporting!

[2016-01-01 20:09] asRIA commented on #214
[code]

Footage:
![2016-01-01_21-05-19](https://cloud.githubusercontent.com/assets/4076929/12072010/9313fb72-b0cb-11e5-9fc2-481e00075d52.gif)

FF Console log:
[code]

[2016-01-01 20:10] andersevenrud commented on #214
Thanks. This should be more than enough to help me get to the root of this :)

[2016-01-01 20:51] andersevenrud commented on #214
Applied another prevention for this. Still unable to recreate no matter what browser and platform ... *grr*. Can you clear cache and try again ? :)

[2016-01-01 21:17] asRIA commented on #214
Still there. I tested some other files. So:
- issue that text is underscored or not doesn't matter. If I click twice on any text in Writer it throws en Error
- issue is connected only with Writer
- I updated to very latest Firefox Nightly - problem remains

[2016-01-01 21:28] andersevenrud commented on #214
This seems to be a Firefox Nightly spesific bug -- no wonder I was not able to replicate, I only use stable builds! Downloaded the Nightly, and boom! Added a fix for it

[2016-01-01 22:09] twkrol commented on #227
Similar case exists when you click the color picker button. After picking a color the dialog closes, but the focus did't return to the editor (need to click editing area again).

[2016-01-01 22:10] andersevenrud commented on #227
Oh, yeah. There are some inconsistensies between dialogs and windows in some cases. Thanks for reminding me! I should probably go through all apps and make sure it gives focus back properly (this is automatic, but I probably forgot to send a reference to the "previous window" in the dialog api call)

[2016-01-01 22:11] twkrol commented on #227
yep. Same with FileManager: try to rename a file, get back and the window is transparent eg. out of focus.

[2016-01-01 22:12] twkrol commented on #227
Maybe you can change something at the window manager level - to avoid that kind of problems in the future.

[2016-01-01 22:15] andersevenrud commented on #227
Yeah, that's how it basically works, but it expects you to send a reference to the window from which dialog was created -- I must have forgotten to add these in some cases (most likely after I refactored the UI system back in the day).

[2016-01-01 22:19] andersevenrud commented on #227
I just checked... and, yes, I have not applied the `parentObj` parameter to the calls.

So nice of you to report all of this, and to actually take the time to descover the tinyest of things my brain simply does not catch! :+1:

[2016-01-01 22:25] andersevenrud commented on #227
FileManager should have this fixed now. I will go through the other apps as well.

[2016-01-01 22:29] andersevenrud commented on #227
And I think have the rest of the default provided packages sorted out :)

[2016-01-01 23:04] twkrol commented on #227
Great :100:

[2016-01-01 23:44] twkrol commented on #227
regarding Writer: in the example, after picking the color in the color dialog, the app window is now active (great), but the focus is not there (bad) : you have to click inside to be able to type more.

[2016-01-02 00:09] andersevenrud commented on #227
Oh, I will make it so the document gets focus after a dialog close

[2016-01-02 00:13] andersevenrud commented on #227
Should work properly now

[2016-01-02 07:28] UziTech opened #233 "Click [OK] button on file information"
1. open file manager
2. right click file
3. click information
4. click OK

[code]

[2016-01-02 11:39] asRIA commented on #214
Perfect. Looks like it should work. Well done!

[2016-01-02 11:39] #214 closed

[2016-01-02 12:44] andersevenrud commented on #214
Thanks for helping out with the debug :+1:

[2016-01-02 12:48] #233 closed

[2016-01-02 12:48] andersevenrud commented on #233
Much appreciated! :)

[2016-01-02 20:45] andersevenrud commented on #11
I will open a separate issue for security based issues -- closing this

[2016-01-02 20:45] #11 closed

[2016-01-02 20:54] andersevenrud commented on #230
This seems to occur because of a timeout or connectivity issue on my demo server.

[2016-01-02 20:54] #230 closed

[2016-01-03 14:24] ananthulasrikar opened #235 "Crashed while closing the application"
An unexpected error occured, maybe a bug.

[code]

[2016-01-03 14:25] andersevenrud commented on #235
Thanks for reporting!

Yeah, the Google Mail app needs some love. I have not looked at it in a while because I have been busy. Now that I have time again I can fix this

This is a duplicate of #216

[2016-01-03 14:25] #235 closed

[2016-01-03 18:14] thakerhardiks opened #236 "An unexpected error occured, maybe a bug."
An unexpected error occured, maybe a bug.

[code]

[2016-01-03 18:17] andersevenrud commented on #236
What file did you try to open ?

[2016-01-03 18:26] rodrigoselau opened #237 "An unexpected error occurred when performing node server handler with PAM"
after setting the handler with grunt when I run the script node server presented this error :

"root@Desenv:/var/www/OS.js-v2/bin# sudo ./start-node-dev.sh
Starting Node server without a supervisor...
--> Found configuration src/server/settings.json
--> Found configuration src/conf/130-mime.json
--> Loading handler pam

module.js:340
    throw err;
          ^
Error: Cannot find module 'authentica

[2016-01-03 18:30] andersevenrud commented on #237
As it says, you need the `authenticate-pam` module. Install it via `npm` :)

[2016-01-03 18:30] #237 closed

[2016-01-03 18:32] rodrigoselau commented on #237
thks, sorry, I'm new to nodejs

[2016-01-03 18:38] andersevenrud commented on #237
np

[2016-01-03 18:41] andersevenrud commented on #237
I'm adding this to the docs -- should be part of the instructions :)

[2016-01-03 19:27] rodrigoselau commented on #237
tried to install the package you just said you made a mistake with node-gyp in Ubuntu 12.04, has faced this error?

npm ERR! Failed at the authenticate-pam@1.0.0 install script 'node-gyp rebuild'.
npm ERR! Make sure you have the latest version of node.js and npm installed.
npm ERR! If you do, this is most likely a problem with the authenticate-pam package,
npm ERR! not with npm itself.
npm ERR! Te

[2016-01-03 19:29] andersevenrud commented on #237
What version of `npm` do you use ?

[2016-01-03 19:31] rodrigoselau commented on #237
3.5.2

[2016-01-03 20:04] andersevenrud commented on #237
Is that the only error ? Normally it would print a stacktrace or something... hm

Try installing with `npm install --verbose` and see if you get some more info

[2016-01-03 20:12] rodrigoselau commented on #237
the error seems to be here when the mike will compile the file shows that mistake
fatal error: security / pam_appl.h: No such file or directory

[2016-01-03 20:14] rodrigoselau commented on #237
this is the full error:

gyp info spawn make
gyp info spawn args [ 'V=1', 'BUILDTYPE=Release', '-C', 'build' ]
make: Entering directory `/var/www/node_modules/authenticate-pam/build'
  g++ '-DNODE_GYP_MODULE_NAME=authenticate_pam' '-D_LARGEFILE_SOURCE' '-D_FILE_OFFSET_BITS=64' '-DBUILDING_NODE_EXTENSION' -I/root/.node-gyp/0.10.41/include/node -I/root/.node-gyp/0.10.41/src -I/root/.node-gyp/0.10.41

[2016-01-03 20:15] andersevenrud commented on #237
Try to install `pam-devel` library from your package manager

[2016-01-03 20:32] rodrigoselau commented on #237
installed as told and it worked now the error is this:

Starting Node server without a supervisor ...
-> Found configuration src / server / settings.json
-> Found configuration src / conf / 130-mime.json
-> Loading handler pam

module.js: 340
     throw err;
           ^
Error: Can not find module 'userid'
     at Function.Module._resolveFilename (module.js: 338: 15)
     at Function.Module._load

[2016-01-03 20:34] rodrigoselau commented on #237
disregard already figured out what was hehe

[2016-01-03 20:35] andersevenrud commented on #237
:+1:

[2016-01-04 06:27] shohrukh92 opened #239 "I have tried to open dropbox.js"
An unexpected error occured, maybe a bug.

[code]

[2016-01-04 06:50] nickdeis commented on #182
You could just use the browsers dev tools to start out. I often find myself using ctrl+alt+i in Atom and playing around with node modules in the dev tools.

[2016-01-04 07:02] colinbrislawn opened #240 "[UX] Window positioning/gravity is not playing nice with browser zoom"
Update from @andersevenrud:

I just need to make a wrapper for the functions that make use of `this._dimension`

---

In the Welcome window that first appears when opening the demo, the red close button is blocked by the top menu, as shown here:

![screen shot 2016-01-03 at 10 53 00 pm](https://cloud.githubusercontent.com/assets/10355152/12084787/fc278c8a-b26c-11e5-94da-8a0ede836e94.png)

I find t

[2016-01-04 07:51] andersevenrud commented on #239
This file is broken on the demo server -- will fix

[2016-01-04 07:51] #239 closed

[2016-01-04 07:53] andersevenrud commented on #240
Thanks for reporting!

I will fix this issue ASAP

[2016-01-04 08:16] andersevenrud commented on #181
I got around to solving this :) NW.js builds now have access to the backend functionality also!

[2016-01-04 08:26] piranna commented on #181
That's cool! :-D The backend functionality is in a different process from the one of NW.js, isn't it? How are you defining the URL of the server? How are you doing the communications? :-)

[2016-01-04 08:38] andersevenrud commented on #181
Making a NW build will bake the "backend functionality" into the it a npm module. The client detects that it is running in NW and will pass all requests trought that module.

[2016-01-04 08:43] piranna commented on #181
So is that module the one that does the communications?

[2016-01-04 08:44] andersevenrud commented on #181
Yep!

[2016-01-04 08:51] piranna commented on #181
Do you have it as an independent project somewhere? Maybe you would be interested on [this issue](https://github.com/NodeOS/NodeOS/issues/198) created by @lite20

[2016-01-04 08:59] andersevenrud commented on #181
Not yet, but I plan to separate it today at some point :)

That issue seems more frontend oriented though... or am I missing something ?

[2016-01-04 09:13] piranna commented on #181
Seems to me it's more oriented for the protocol layer, or it should be. I'll review it again to be sure.

[2016-01-04 17:01] zeyd17 opened #243 "File manager err"
TypeError: Cannot read property 'find' of null
    at ApplicationFileManagerWindow.updateSideView (http://osjsv2.0o.no/packages/default/FileManager/combined.js:286:28)
    at Object.view._call.done (http://osjsv2.0o.no/packages/default/FileManager/combined.js:412:14)
    at http://osjsv2.0o.no/osjs.js:7051:18
    at http://osjsv2.0o.no/osjs.js:6905:7
    at http://osjsv2.0o.no/osjs.js:6862:7
    a

[2016-01-04 17:07] andersevenrud commented on #243
Thanks for reporting!

[2016-01-04 17:07] #243 closed

[2016-01-04 17:17] andersevenrud commented on #236
These turns out to be broken/corrupted files and not a bug :)

Duplicate of: #239

[2016-01-04 17:17] #236 closed

[2016-01-04 20:43] Jaguarstaff opened #244 "Баг"
Проихошла непредвиденная ошибка, возможно баг.

[code]

[2016-01-04 20:46] andersevenrud commented on #244
Thanks for reporting, fixing it as we speak! :)

[2016-01-04 20:47] #244 closed

[2016-01-04 22:32] rodrigoselau opened #245 "An unexpected error occured, IDE + PAM authentication."
An unexpected error occured, maybe a bug.

[code]

![sem titulo](https://cloud.githubusercontent.com/assets/5107680/12102478/21ad359e-b322-11e5-92be-63f77634a591.png)

[2016-01-05 00:03] pekpon opened #246 "Mobile error"
Error inesperado, puede que sea un bug.

[code]

[2016-01-05 03:47] tioteath commented on #49
Is it possible to move a panel to the right? Just like it was possible in KDE 3.x?

I use to use next setting:
- Set panel to the right
- Allow application windows on top of the panel, but it always raise when mouse focus is getting over the right edge of the panel.

That was the best desktop setting I use to use over the multiple platforms.

[2016-01-05 11:32] andersevenrud commented on #245
The IDE is a work in progress and not anywhere near finsished

[2016-01-05 11:32] #245 closed

[2016-01-05 11:33] andersevenrud commented on #245
#134

[2016-01-05 11:33] andersevenrud commented on #246
Duplicate of #185

[2016-01-05 11:33] #246 closed

[2016-01-05 14:24] andersevenrud commented on #49
Not yet. This is something that is planned :)

[2016-01-05 20:07] fanfan54 opened #250 "Error message on touch zoom"
An unexpected error occured, maybe a bug.

I tried to use this awesome Web app on my *iPad* with *Safari* but I have accidentally zoomed on the page, and at each zoom factor change this error message pops.

[code]

[2016-01-05 20:09] andersevenrud commented on #250
This error comes from Google APIs apparently.

The Google Mail application really needs some love, but I have been busy with other stuff. There are also some other problems that will be fixed down the line #216

Thanks for reporting! :)

[2016-01-05 20:09] #250 closed

[2016-01-05 20:10] andersevenrud commented on #250
This is also related to #112

[2016-01-06 09:45] jithin971 opened #251 "An unexpected error occured in music player"
An unexpected error occured, maybe a bug.

[code]

[2016-01-06 14:10] #251 closed

[2016-01-06 20:29] TRoskop opened #254 "[Misc] Creating an companion app for Windows 10"
Hello Guys,
I think a lot of people would like to try another OS apart from Windows. But they are probably to shy to try, and they don't known how to try it without damaging the machine.

As your OS.js runs inside a normal Browser, I would suggest to introduce an "companion app" for Windows 10. This enables the users to test it and get the look&feel of linux-OSes in general.

If the user likes the

[2016-01-06 20:42] andersevenrud commented on #254
Not sure I understand what you mean by "companion app" still.

But, you are still booting into windows... making it something else entirely.

Now, OS.js comes with a X11 launcher so you can use it as a full-blown operating system (running on top of Debian), but that involves installing a Linux distribution on to your computer.

Yes.

I provide a NW.js build which is a native executable. Is this so

[2016-01-06 20:53] TRoskop commented on #254
I'm sorry that I was not able to explain my idea correctly.

My Idea is an app, which allows user to test and try you OS very easy.
If the app is in the Windows Store [https://www.microsoft.com/de-de/store/apps], more people can see it. And they can try it very simple: just pressing "install" and waiting a few seconds. Once loaded, the users starts the app and it shows tutorials, informations and

[2016-01-06 20:59] andersevenrud commented on #254
But I don't understand why :) Isn't it easier to just link to a site where OS.js runs with a specialized application with a tutorial or something that simply has links to the download page and such ?

Do you mean like a notification in OS.js (after you installed it) that tells you an update is avalable ?

If so, that could be useful. Not to sure about the same thing for newsfeed -- It could be an

[2016-01-06 21:12] TRoskop commented on #254
Of course, a link is very easy, but it always runs in a normal browser, which cuts you possibility down. But this app can offer a lot more features - for you as developer and for the consumer.

You known how the tiles on Win8/8.1/10 look like? If not, google it. You can use them to show new informations in an non-invasive way, it just looks like a small notifications.

And the APIs can be extended

[2016-01-06 21:19] andersevenrud commented on #254
... I still don't understand what you mean. And by "APIs" are you talking about WinJS ?

To me it seems that the NW build is what you're looking for. It is a standalone version of OS.js that runs without a browser in a self-contained executable.

Well, I'm from Norway -- so probably not the best here either.

[2016-01-06 21:26] TRoskop commented on #254
First, on a lot of devices normal apps cannot run anylonger, only windows apps are supported. Seconds, users trust store apps more as they know they cannot harm their computer.

I'll explain the APIs later.

[2016-01-06 23:21] NoNameProvided commented on #254
//Off

Never apologize because of your language, you speak it better than the how other speaks your language.

// Off 2

I like Norwegians, they are crazy :smile: So it's nice to meet you!

//On

He means that he could bridge some Universal App feature to the JS, so you can reach it when your app running in his universal app. This makes no sense to me, since almost everything is possible in the ev

[2016-01-06 23:29] NoNameProvided commented on #254
I don't know from where did you get that people trust universal apps more? Can you provide some source?

I see your point (that a lot of windows 10 devices like phones cant run Win32 apps), but the idea what you are talking about is very hard to work with. Because if we make an app to give special features to the OS.js on WIndows then we should do it on the other first class citizen platforms like

[2016-01-08 14:37] TheZ3ro opened #256 "[Applications] Division by zero in Calculator"
**How to reproduce:**
Open OS.js (http://osjsv2.0o.no/)
Execute the Calculator App
Type "0/0"
Click "=" button
Done. :white_check_mark:

=========================================

An unexpected error occured, maybe a bug.

[code]

[2016-01-08 17:29] TRoskop commented on #254
Hello, I'm back again.
Here are the "concept designs" I promised you.
![desktop-viewsplashscreen](https://cloud.githubusercontent.com/assets/13079737/12204483/bda2f820-b634-11e5-9aa3-02a445ba6f57.png)
![desktop-viewfirstruntutorial](https://cloud.githubusercontent.com/assets/13079737/12204531/03940c48-b635-11e5-8137-075cceb7f6b9.png)
![desktop-viewosself](https://cloud.githubusercontent.com/assets

[2016-01-08 17:31] andersevenrud commented on #254
You can do this in OS.js natively with NW

Also this.

You can also do this by using a filter to scandir() VFS API.

As for the screenshots it looks like you want a NW build with a custom splash screen.

[2016-01-08 17:32] andersevenrud commented on #254
Correction: You can do this in OS.js natively

I forgot to erase a part of a sentence :P

[2016-01-08 17:33] TRoskop commented on #254
You understood me wrong. You can't read the *local* user files on my disk! If you could this, browser would have a serious security issue.

[2016-01-08 17:34] andersevenrud commented on #254
Yes, you can with the NW build.

[2016-01-08 17:35] andersevenrud commented on #254
The NW build is not running in your browser, only on top of webkit. Just like a normal "windows window" or whatever

[2016-01-08 17:38] TRoskop commented on #254
Good.
It this you final word?
Well, it's your decision.

[2016-01-08 17:39] andersevenrud commented on #254
What do you mean by that ?

My decision to what now ?

[2016-01-08 17:41] TRoskop commented on #254
You said, that the NW is already enough. So this means for me, that you don't need a windows universal platform app (for the windows store).
I'm I right?

It's your decision whether I'm going to develop it or not.

[2016-01-08 17:49] andersevenrud commented on #254
It just means that you have everything you need in place to make a "companion application"; with the description you gave.

[2016-01-08 17:52] TRoskop commented on #254
Of course, I have everything to do it. It would also not be very hard.
But as OS.js is your "baby" I want to have your "ok" to do so. And I'm not going to develop the app just for fun. I want to make it so, that people can use it simple and that a lot of people can use it.

[2016-01-08 18:02] andersevenrud commented on #254
You can make a NW build by using the provided Grunt task: https://github.com/andersevenrud/OS.js-v2/blob/master/doc/NW.md and go from there.

And that'd be good, but I'm not sure if OS.js has enough "stuff" to make a good impression in this use-case. It'd be sweet to have better networking, media integration and proper office applications and that.

It'd be sweed to have it on appstores and such a

[2016-01-08 18:05] TRoskop commented on #254
I understand your thinking.
However, I will try to create an app these *weeks* so you can see a first preview.

And of course, OS.js can be improved, but it is already very good. :laughing:

[2016-01-08 18:06] andersevenrud commented on #254
This year will bring *many* goodies to OS.js. Some really awesome stuff in the works and upcoming collaborations :)

[2016-01-08 18:09] TRoskop commented on #254
* A Browser would be realy cool.

See, this means development is stil happening. And if you increase your audience, probably more people will donate money or help you with bug reports, suggestions, patches, pull requests etc.

* Having good marketing (social media, blogs writing about this app, ...) we can increase the audience to a new level.

[2016-01-08 18:15] andersevenrud commented on #254
This will only be available in standalone (NW and X11 builds). But is something coming down the road

Well, yeah. I don't intend to stop... and have not since the very first build.

That goes without saying. But still, feedback/visitor rate is extremely low, and usually is in open-source projects. Sometimes you get really lucky (like I've been) and gotten some good connections and buisiness projec

[2016-01-09 00:18] andersevenrud commented on #181
I'm closing this issue now, because it has been resolved. The backend is now totally separated and protable.

I will make it a published npm package when documentation is done.

Thanks for initiating this :)

[2016-01-09 00:18] #181 closed

[2016-01-09 00:19] andersevenrud commented on #256
Maybe this should trigger some sort of easter egg? ;)

Any ideas ?

[2016-01-09 02:39] junland commented on #256
@andersevenrud that would be cool :)

[2016-01-09 09:33] TheZ3ro commented on #256
Good idea!

[2016-01-09 10:33] piranna commented on #181
You are welcome :-) Could you be able to notify here when it's ready and
where to read the docs? :-)
El 09/01/2016 01:18, "Anders Evenrud" <notifications@github.com> escribió:

[2016-01-09 13:31] andersevenrud commented on #181
Will do!

[2016-01-09 13:45] piranna commented on #181
:+1: ;-)

[2016-01-10 00:23] fanfan54 opened #257 "Error in calculator"
Une erreur inconnue est survenue, peut-être un bug.

[code]

[2016-01-10 00:28] #257 closed

[2016-01-11 07:50] NoNameProvided commented on #256
@andersevenrud  Some kind of black hole, what eat everything? hehe

[2016-01-11 11:34] tirrorex commented on #254
And standalone would be cool, i could work on an osx version

[2016-01-11 11:35] NoNameProvided commented on #254
NW.js runs on OSX too.

[2016-01-11 11:43] andersevenrud commented on #254
Yep, as @NoNameProvided said, it runs on OSX as well (it is not in the Grunt config by default, but can easily be added -- NOT TESTED!).

[2016-01-11 11:45] tirrorex commented on #254
The point of making an osx standalone is to take full advantage of osx features

[2016-01-11 12:02] NoNameProvided commented on #254
Guys, have you ever read the [nw.js docs](http://docs.nwjs.io/en/latest/)? Nw.js has access almost to all of the native features of windows, osx and linux. Including the filesystem, notifications and few other goodies in a wrapper + everything else what Node.js can reach, so there is **no advantage of implementing a custom host application layer**. It's a better idea to contribute to nw.js to add

[2016-01-11 12:10] NoNameProvided opened #258 "Creating an organization for the project?"
There is more than one repo related to the os.js project. Have u considered creating a github organization for it? So people could have a more clear overview over the projects. (However as I see osjs is already taken sadly.)

[2016-01-11 12:33] andersevenrud commented on #258
Yeah, this is something I definately should do. It just needs some proper planning!

Thanks for reminding me!

[2016-01-11 12:42] tirrorex commented on #254
Yes i read the doc, there is no mention whatsoever of the possibility to call osx api.
And even if nw.js can do those calls, since the nw version of os.js was most likely design for crossplatform it will not include native api calls, so there is indeed TONS of advantages of implementing real osx code, including memory consumption and thread optimization.

[2016-01-11 12:46] andersevenrud commented on #254
NW simply exposes the Node APIs to the client so you have full access to the underlying platform. No need for custom layers.

There's no need to include anything. Node provides everything you need. (If I am not mistaking you here)

JavaScript in its current state is single-threaded. NW runs on libwebkit, so it is a memory hog!

[2016-01-11 13:45] NoNameProvided commented on #254
Yeah, u can call from node anything (there are modules for almost everything), but if @tirrorex  want to have some higher leve abstraction of something, its still a way more simpler to implement it as a native addon for node (so it become usable by nw.js) than implementing everything from scratch.

[2016-01-11 15:16] TRoskop commented on #254
Just a small appendix:
The app I started to create is not a "Stand-Alone" Client! It uses a/the server of os.js.

[2016-01-14 00:03] kewlgreen opened #260 "123"
An unexpected error occured, maybe a bug.

[code]

[2016-01-14 07:45] andersevenrud commented on #260
Duplicate of #216

[2016-01-14 07:45] #260 closed

[2016-01-14 07:51] lishuang0606 opened #261 "sha"
发生未知异常, 也许是个BUG.

[code]

[2016-01-14 07:53] andersevenrud commented on #261
This was already solved as part of another update. Demo server is just out of date :)

[2016-01-14 07:53] #261 closed

[2016-01-15 03:50] karanganesan commented on #95
How can I build one ?

[2016-01-15 12:31] angeloz opened #267 "Error on uploading large files >40MB"
An unexpected error occured, maybe a bug.

[code]

[2016-01-15 12:46] andersevenrud commented on #267
You got the message "File exceeded: something" and then this error, right ?

[2016-01-15 12:48] #267 closed

[2016-01-15 12:51] andersevenrud commented on #267
Thanks for reporting!

To increase the max upload size  do, ex:

[code]

[2016-01-15 12:53] angeloz opened #268 "The error message window can't be closed"
An unexpected error occured, maybe a bug.

[code]

[2016-01-15 12:55] andersevenrud commented on #268
Related to #267 :)

[2016-01-15 12:55] #268 closed

[2016-01-16 21:08] andersevenrud commented on #258
https://github.com/os-js :)

I really want to transfer all repositories over here, including renaming "OS.js-v2" to "OS.js", but it will break a lot of stuff... so I am scared :/

[2016-01-16 21:10] andersevenrud commented on #258
Also, the homepage will break since it is a part of github pages. I will have to plan this carefully.

It seems Github at least redirects all traffic from old name/repo--so that is a relief.

[2016-01-16 21:20] andersevenrud commented on #258
I just tested transfer of ownership + renaming and it worked just fine *phew*.

I just have to ensure that the homepage domain transfers smoothly.

Gitter should take care of this as well so the community does not get lost: https://github.com/gitterHQ/gitter/issues/153

[2016-01-16 22:09] andersevenrud commented on #258
I have transfered all the package repositories and renamed them as well. It seems to work just fine :)

[2016-01-16 23:48] andersevenrud commented on #258
It has now all been transfered *successfully*.

Thanks to @indus for incredible response time and support!

[2016-01-16 23:48] #258 closed

[2016-01-17 00:25] NoNameProvided commented on #258
Yay!

[2016-01-17 06:45] angeloz commented on #267
Thank you Anders!

[2016-01-17 08:35] nagaryu000 opened #277 "issue"
An unexpected error occured, maybe a bug.

[code]

[2016-01-17 10:01] KawakawaRitsuki opened #278 "Error"
An unexpected error occured, maybe a bug.

[code]

[2016-01-17 11:15] andersevenrud commented on #278
Duplicate of #216

[2016-01-17 11:15] #278 closed

[2016-01-17 11:15] andersevenrud commented on #277
Duplicate of #185

[2016-01-17 11:15] #277 closed

[2016-01-17 12:21] Esowteric opened #279 "[Applications] Word processor discussion"
Hi, I know that you have in mind, amongst many other things, the addition of a word processor.

Abiword is a light and useful word processor and it has things that writers need like open document and word doc support, and smart curly quotation marks. Abiword 3.0.1 is available for Linux and is based on GTK+ 3. The Windows binary only goes up to 2.8.6 but I'm told that 3.0.1 can be built for Window

[2016-01-17 13:07] andersevenrud commented on #279
Oh, yes. This has been actually bothering me for quite a while. It's impossible to find a solution that integrates easily... most of the projects out there are not actual word processors, but small rich-text editors.

This is because you're streaming the applications. All interactions happens on the target computer :)

If you are planning on compiling LibreOffice, you need a shitload of RAM, hehe.

[2016-01-17 13:19] Esowteric commented on #279
Thanks for your help and clarification, Anders.

[2016-01-17 14:16] Esowteric commented on #279
Could you use the WebODF javascript library?
http://www.webodf.org/

[2016-01-17 17:55] technishant opened #280 "Gmail Issue"
An unexpected error occured, maybe a bug.

[code]

[2016-01-17 17:56] andersevenrud commented on #280
Duplicate of #216

[2016-01-17 17:56] #280 closed

[2016-01-17 17:58] andersevenrud commented on #279
Interesting. It does not seem to support that many features, but it's something worth investegating. Thanks :)

[2016-01-17 23:53] kkotaro opened #281 "Report"
An unexpected error occured, maybe a bug.

[code]

[2016-01-18 10:53] andersevenrud commented on #281
Duplicate of  #185

[2016-01-18 10:53] #281 closed

[2016-01-19 18:00] corbinu commented on #279
You could look into integrating this: https://www.collaboraoffice.com/code/ ... would also be good to support the own cloud instance as a private alternative to Google

[2016-01-20 08:12] annrie opened #283 "bug report"
An unexpected error occured, maybe a bug.

[code]

[2016-01-20 08:53] andersevenrud commented on #283
Duplicate of #185

[2016-01-20 08:53] #283 closed

[2016-01-20 13:42] Nerothos commented on #18
I'm working on fr_FR version. I will PR when I'm done.

[2016-01-20 13:48] eraffaelli commented on #18
I'm working on a fr_FR version for the packages. I will contct you and PR when done.

[2016-01-20 17:41] junland commented on #18
+1 Props for all the translators :)

[2016-01-20 22:06] Kirkhammetz commented on #18
I've worked on an it_IT Italian version, I'm opening a pull request and contacting you :)

[2016-01-21 15:07] andersevenrud commented on #18
:+1:

[2016-01-21 15:31] andersevenrud commented on #279
@corbinu Looks like a solid web framework there. Will have to investegate closer this weekend. Thanks! :)

[2016-01-21 22:36] andersevenrud commented on #182
ping @marktopper -- just to remind myself

[2016-01-22 08:35] eraffaelli opened #291 "[General] "Countable" translation"
Following https://github.com/os-js/OS.js/pull/289, is it possible to make countable translation? To be able to use plural when needed?

For example (in english) :

Another example from symfony project :

(from http://symfony.com/doc/current/book/translation.html)

[2016-01-22 09:45] eraffaelli commented on #122
Totally need this ^^
I'm working on a Weather app (well, more a playground for now but) and it would be nice to have a "favorite" city widget.

[2016-01-22 09:51] eraffaelli commented on #49
A little feature suggestion, to be all to set window on the left or right (or more like W10) like it's possible on Windows since 7 named Windows Snap. Maybe with keyboard shortcut.

Edit : See tioteath comment, so what is planned is also like what I suggest?

[2016-01-22 11:56] andersevenrud commented on #49
@eraffaelli You can enable snapping in settings app. You can also CTRL+ALT+DIRECTION_KEY

[2016-01-22 13:04] eraffaelli commented on #49
Ok thanks.

[2016-01-22 14:59] andersevenrud commented on #291
It'd be nice, but that example looks very gnarly! Maybe a programatic approach is nicer ? Ex:

[code]

[2016-01-22 15:07] eraffaelli commented on #291
Well, the way to do it doesn't really matter ^^
But in many languages the way to write words need that count, so it would be nice to have it.

You want to put that example in the locales.js files? Or in the "main" files and the locales doesn't change?

[2016-01-22 15:08] andersevenrud commented on #291
The example was generic, it fits in all usecases.

[2016-01-22 22:58] claudiunv opened #293 "Get error when open 'Home' from Desktop"
An unexpected error occurred, maybe a bug.

[code]

[2016-01-22 23:12] andersevenrud commented on #293
This was fixed in 1f23c14023ec4784b6c05867e35c02cab4f70c5b. You probably just need to update your repo.

Let me know if that worked

[2016-01-25 20:18] claudiunv commented on #293
It's working, thanks.

[2016-01-25 20:19] andersevenrud commented on #293
Great! :)

[2016-01-25 20:19] #293 closed

[2016-01-25 20:27] andersevenrud commented on #169
I am closing this issue, because it belongs to a forker repository. Any updates will be handled internally by the designated team.

[2016-01-25 20:27] #169 closed

[2016-01-25 20:32] andersevenrud commented on #193
I am closing this issue in favour of #40 -- any updates will be made there :)

[2016-01-25 20:32] #193 closed

[2016-01-25 20:37] andersevenrud commented on #240
I am closing this issue in favour of #112. There's a lot of incoming updates for mobile UI and other scaled browsers, so it will all be done in the forementioned issue.

I will make a comment in this issue when this issue has been completely resolved :)

[2016-01-25 20:37] #240 closed

[2016-01-25 20:41] andersevenrud commented on #254
I'm doing a "spring cleaning" of the issues right now and wondering about the state of this ? Seing it is kind of unrelated to this project repository, I'm thinking about closing it for the time being.

[2016-01-25 20:53] TRoskop commented on #254
I'm still working on the app (or at least I try it), but currently I've a lot of other stuff to do like school.

[2016-01-25 20:55] andersevenrud commented on #254
Allright. Just notify me when you get around to uploading it to a repository or something :)

Closing this issue for now

[2016-01-25 20:55] #254 closed

[2016-01-26 04:50] corbinu opened #297 "[VFS] WebDAV & OwnCloud"
In reference to my comment in issue #279 but also somewhat separate. It would be very cool to have OwnCloud support for VFS as this would allow an open source VFS/could solution for OS.js to be installable on the host server without any dependency on outside cloud services.

Obviously still think supporting others is great also just would be nice to have the option of an isolated system.

---
- [x

[2016-01-26 04:56] corbinu opened #298 "[Authenticator] LDAP"
It would be nice to allow OS.js to authenticate against an LDAP server perhaps using: http://ldapjs.org

This way it could be easily integrated into a company's existing authentication stack

(feel free to rename this issue however you like not sure what category it belongs in)

[2016-01-26 08:54] eraffaelli commented on #256
I don't know if this is possible but we could make an effect that blowing up the whole window.
Or the same with a black hole.

[2016-01-26 11:05] andersevenrud commented on #298
This is easily done via http://os.js.org/doc/tutorials/create-handler.html. I'd have to set up a domain and test it locally. Since I have a lot of other stuff on my plate, it might take a while to get around to.

[2016-01-26 11:07] corbinu commented on #298
Ok no worries just at least wanted an open issue. If I ever have time I will take a stab. Would you want me to make sure it also works on the PHP backend?

[2016-01-26 11:09] andersevenrud commented on #297
It does not look like OwnCloud has any Client APIs. All I could find is documentation on their REST API that has a supported PHP library.

Do you know anything about this ?

[2016-01-26 11:10] andersevenrud commented on #298
I'm not to sure about the future of the PHP backend, but it would be nice to have the same functionality anyway. I know from experience that PHPs LDAP internals are more than good enough for authentication.

If you find the time, then, please, go ahead :)

[2016-01-26 11:20] corbinu commented on #297
My understanding is that it implements the WebDAV file protocol and that that is the recommend path.

[2016-01-26 11:24] andersevenrud commented on #297
Then this might be of use https://github.com/aslakhellesoy/webdavjs at least for the node backend

[2016-01-26 11:36] corbinu commented on #297
Looks like it has not been updated in 7 years. I would probably try this https://www.npmjs.com/package/jsDAV

[2016-01-26 11:41] andersevenrud commented on #297
jsDAV seems to be a server library. I can't find anything about client abstractions in their wiki, nor examples.

Ex:
- https://github.com/mikedeboer/jsDAV/wiki/Getting-Started
- https://github.com/mikedeboer/jsDAV/wiki/curl

Even though webdavjs has not been updated in 7 years, at least the RFC's have not changed either, hehe. Maybe the code-style is a bit outdated, but I will give it a go

[2016-01-26 11:42] corbinu commented on #297
ok ... ya I will try to see if there is a newer client lib

[2016-01-26 11:51] corbinu commented on #297
If you want to go strait from the browser then this could work:
https://github.com/sara-nl/js-webdav-client

Or a super low level node lib
https://www.npmjs.com/package/webdav-fs

[2016-01-26 12:01] andersevenrud commented on #297
This was the first I looked at. It expects you to use a WebDAV service with JSONP support (or similar). This library expects you to run your own dav server on the *same host*. So it won't work in cases where you host your files remotely.

This looks kind of over-engineered for its purpose. I think I like webdavjs' simplicity better. After all, all it really is, is a XHR wrapper that does REST call

[2016-01-26 12:04] andersevenrud commented on #297
This was the first I looked at. This library expects you to run your own dav server on the *same host*. So it won't work in cases where you host your files remotely.

This looks kind of over-engineered for its purpose. I think I like webdavjs' simplicity better. After all, all it really is, is a XHR wrapper that does REST calls.

https://github.com/aslakhellesoy/webdavjs/blob/master/src/webdav.js

[2016-01-26 14:32] andersevenrud commented on #297
![webdavtest](https://cloud.githubusercontent.com/assets/161548/12583252/05c56da2-c442-11e5-941c-fea5ea80fa03.png)

It seems I don't even have to add any third party libraries. Works like a charm using OS.js internal XHR tools :)

[2016-01-26 15:36] RickGlimmer opened #300 "Changing style in core.sss and gui.css"
I wanted to change the body background color and did not find an easy way to do that without changing the core.css directly.
I would like the original css to be unchanged and add my styles (overruling the original styles) to it by using a separate file.

The solution i made is to create a os.js\dev\src\client\stylesheets directory and include it in the 200-compile.json file
[code]
The css file has

[2016-01-26 15:38] andersevenrud commented on #300
This is the "correct" way to do it.

[2016-01-26 15:38] #300 closed

[2016-01-26 15:40] andersevenrud commented on #300
Preferably, you'd want to create a custom file, and not modify the inluded ones. Ex, src/conf/900-mystuff.json

[code]

[2016-01-26 15:41] andersevenrud commented on #300
hmm. Come to think of it, ignore my previous comment! You cannot add items to the list like that.

[2016-01-26 15:48] andersevenrud commented on #300
Run `grunt dist-files` afterward to update 'dist-dev'.

If you use 'dist', run `grunt core`

[2016-01-26 16:00] andersevenrud commented on #297
I now have the beginnings of a WebDAV VFS module for OS.js :)

[2016-01-26 16:03] RickGlimmer commented on #300
I also added a WebAPI handler (for a IIS WebAPI .NET backend) and noticed that a 900-custom.json file was added. I am not familiar with Grunt so i am a bit on a treasure hunt :) how everything is tied together.
For my use i would also need to change other parts that are a bit deeper in the source. The login page for instance i would need to add a 'Companyname' field as that is how my authenticatio

[2016-01-26 16:06] andersevenrud commented on #300
the 900-custom.json file appears whenever you do `grunt config:set:something:orother`.

You want to create a custom `dist` distribution. Copy `src/templates/dist/default` and rename it to your liking. Then `grunt config:set:dist.template:mynewname`. You can now customize the login screen without modifying the provided files.

The interaction with the login form all happens in a `handler`. So you p

[2016-01-26 16:07] junland commented on #256
@eraffaelli Ohhhhhhh yesssss that sounds good.

[2016-01-26 16:08] andersevenrud commented on #300
`grunt dist-files` rebuilds your dist directory to the forementioned template you made

[2016-01-26 16:12] RickGlimmer commented on #300
Ah. Got it!. Thanks.

[2016-01-26 18:47] RickGlimmer commented on #86
I am currently busy writing a VFS for IIS and i would probably use something like file history. The locking is very error prone so just storing each modification would at least prevent data being lost.

[2016-01-26 18:52] RickGlimmer commented on #94
I am busy making it run on IIS. I use a main website that points to the dist folder and two 'Applications' that run under that website (API and FS). This isolates the client (static) part.
Works pretty ok and is easy to maintain. If there is interest i will post my code.

[2016-01-26 20:05] corbinu commented on #297
Cool sounds good

[2016-01-26 20:42] RickGlimmer opened #301 "[VFS] Saving does a write twice when file exists and overwrites even when cancel the overwrite dialog."
When overwriting a file (Textpad, writer and probably others) it will send four! requests to the server.
1. scandir (this will get the current folders contents)
2. **write** ( **this will actually overwrite the file**)
3. exists (this gives true and prompts the overwrite dialog)
4. write (when confirming **OR cancelling the overwrite**)

When saving a file with a new name
1. scandir
2. exists
3. w

[2016-01-26 20:45] andersevenrud commented on #301
Nice catch! Investegating

[2016-01-26 20:50] #301 closed

[2016-01-26 20:50] andersevenrud commented on #301
A missing `return false` statement Oo.

[2016-01-26 21:00] RickGlimmer commented on #301
Yes that fixed it.
I would like to see a 'overwrite' : 'true' added to prevent the backend overwriting a file without clear permission. I'll make a new issue for a improvement.

[2016-01-26 21:17] andersevenrud commented on #301
Ok. I'll just duplicate what happens in upload function (it has `overwrite`)

[2016-01-26 21:22] RickGlimmer opened #302 "[Server] Improvements to API calls"
Currently a write to the VFS has nested methods and argument:
[code]
The URL is http://osjsv2.0o.no/API

My suggestion is to change that url to http://osjsv2.0o.no/FS/write and the following payload:
[code]
On the backend a MVC/WebAPI/REST style can be used.
FS would be the controller and write the action. The body would then have a very simple payload with meaningful properties that does not need

[2016-01-26 21:34] andersevenrud commented on #302
This is pretty much a goal for the beta :)

Just gotta find time for it. It would involve:

- Refactor the [node and php] HTTP request handling a bit to look up method from URL
- Refactor the [node and php] VFS modules
- Refactor the [client] VFS wrapper
- Refactor the [client] VFS modules and helpers
- Update unit tests (which is very handy in this situation for server)

[2016-01-26 21:41] andersevenrud commented on #297
It is now possible to mount WebDAV (Tested with OwnCloud):

[code]

Next step is to make a dialog for actually doing this via GUI.

[2016-01-26 21:42] RickGlimmer commented on #302
I am not very familiar with node.js and never used php, so i can not be much help there.
I could do my part with the VFS wrapper, modules and helpers. I currently change everything in my handler so that the backend is already getting this format. Maybe others also have some suggestions so that it can be done at one time. Also some time to think this through might be good.

[2016-01-26 21:44] andersevenrud commented on #256
Some sort of "black hole" effect could work only using CSS. If the window was to "shatter" or something like that some kind of third party lib is required to make an "image" of a DOMElement and then manipulate it with `<canvas>` or something

[2016-01-26 21:47] andersevenrud commented on #302
I'll have this in the back of my head for a while to see how it developes. I already have a pretty clear picture over how this should be done, but would like it to mature a bit more :)

[2016-01-27 11:16] RickGlimmer opened #303 "[API] Handler VFS method call consistency"
At the moment _NullModule.read (in src\client\javascript\vfs\_null.js) is the only function that does not use the handler that is returned by OSjs.Core.getHandler(). I see that the .write has been changed to use the handler.
Would it not be possible to make a OSjs.VFS.internalCall so that i can process this in my custom handler?

[2016-01-27 12:35] andersevenrud commented on #303
Update for this is coming later today. There are some other changes coming relating to this coming :)

[2016-01-27 13:20] RickGlimmer commented on #303
:+1: Great!. I will concentrate on my backend first. :)

[2016-01-27 17:10] andersevenrud commented on #303
Hm. I've been working on the VFS today, and now I'm not sure what you're talking about.

My `Handler::onVFSRequest()` is triggering on all modules. It's the main wrapper for all VFS calls

https://github.com/os-js/OS.js/blob/f24f5aa8bd3ac7aadc71d259c55469130c980e98/src/client/javascript/vfs.js#L200

[2016-01-27 17:24] andersevenrud commented on #302
I'm going to start on this now, in a separate branch.

[2016-01-27 17:25] RickGlimmer commented on #303
it is this part:
[code]

[2016-01-27 17:33] RickGlimmer commented on #303
I see you moved some files. It is now in internal.js on line 93
internalTransport.read = function(item, callback, options) {

[2016-01-27 18:26] andersevenrud commented on #303
I just made some changed to properly name and split some sections. Functionality has not changed :)

That's because I use a XHR request that returns `ArrayBuffer`. This is best done with the browser API and not channel through the backend.

I can make it possible to customize this as well. Just have to think it out first.

[2016-01-27 18:28] andersevenrud commented on #302
@RickGlimmer New branch https://github.com/os-js/OS.js/tree/new-api-uris now has this pretty much done. Just gotta do a lot of testing (probably some bugs left) and refactor the PHP code as well :)

[2016-01-27 18:32] RickGlimmer commented on #303
If the 'write' goes through the handler i think the read should do the same. The handler could return an ArrayBuffer as well.
It will keep everything together which is more convenient. It took me some time to find this exception to the 'rule' and that makes maintaining/porting a bit more difficult.

[2016-01-27 18:36] sieira commented on #18
I'll do the es_ES as soon as I find some time

[2016-01-27 18:39] RickGlimmer commented on #302
Great! I will check it out.

[2016-01-27 18:54] andersevenrud commented on #303
This was added to the branch https://github.com/os-js/OS.js/tree/new-api-uris.

https://github.com/os-js/OS.js/blob/new-api-uris/src/client/javascript/handler.js#L341

You can now hook into them all:

- `_callNW()` for NW builds
- `_callAPI()` normal API and VFS calls
- `_callXHR()` this is the function you want to modify

[2016-01-27 18:54] andersevenrud commented on #303
I might change the name from `XHR` to `GET` or something like that instead

[2016-01-27 19:53] andersevenrud commented on #302
I think this is pretty much done now! :D

So now all api functions have respective URIs: `/API/function` and `/FS/function`

[2016-01-27 20:06] RickGlimmer commented on #302
You are fast! :) I will test it tomorrow as it is getting late here (03:00) :)
I screwed up my local copy and restoring from origin i seem to miss the file settings.js. And i can't seem to find it and a grunt does not create one. Any idea?

[2016-01-27 20:08] andersevenrud commented on #302
When I first get started, it sort of consumes me :)

Currently doing some other improvements for clarity purposes and consistency.

Someone else had this problem on Windows as well... hmm. Try removing dist and dist-dev then do `grunt checkout -- dist dist-dev` recreate symklinks and run `grunt`

[2016-01-27 20:25] andersevenrud commented on #303
Ok. So now the handler has these:

- `_callNW()` For NW.js builds
- `_callAPI()` For API and VFS calls
- `_callGET()` For VFS file reads/downloads
- `_callPOST()` For VFS [browser] file uploads

That should cover everything :)

[2016-01-27 20:32] RickGlimmer commented on #302
Unfortunately that did not work.
I also did the whole installation process from scratch and that did also not work which is weird as it worked before.
How is settings.js created?

[2016-01-27 20:33] andersevenrud commented on #302
`grunt config`. Syntax error in one of your src/conf files ?

[2016-01-27 20:34] RickGlimmer commented on #303
Maybe even split _callAPI into _callAPI and _callVFS. Then everything has its own.

[2016-01-27 20:37] RickGlimmer commented on #302
i got an error. This is from a fresh clone of your os.js here on github?????

[TypeError: str.replace is not a function] 'TypeError: str.replace is not a func
tion\n    at fixWinPath (F:\\os.js\\src\\build.js:252:18)\n    at F:\\os.js\\src
\\build.js:802:33\n    at Array.forEach (native)\n    at buildServer (F:\\os.js\
\src\\build.js:801:37)\n    at Object.createConfigurationFiles (F:\\os.js\\src\

[2016-01-27 20:41] andersevenrud commented on #302
oh. goddamn windows! Fixing now

[2016-01-27 20:44] andersevenrud commented on #302
There

[2016-01-27 20:46] RickGlimmer commented on #302
I undid commit d190c81a2133a761b04c32b0de9e626c2f6ddcdc, then it worked again.

[2016-01-27 20:47] andersevenrud commented on #302
I know.I forgot about the windows spesific path workaround that did not take that into account

[2016-01-27 20:50] RickGlimmer commented on #302
At least i can go to sleep now as i got it working again. :) Tomorrow i will test your new branch.

[2016-01-27 20:51] andersevenrud commented on #302
nitenite :)

[2016-01-27 21:36] andersevenrud commented on #303
- `__callXHR()` Setup for all general browser API/VFS calls
- `__callGET()` Setup for reads/downloads
- `__callPOST()` Setup for browser file uploads
- `_callAPI()` Wrapper API calls
- `_callVFS()` Wrapper VFS calls

[2016-01-27 21:44] andersevenrud opened #304 "[Core] General API/VFS and base Applications"
Before hitting an eventual *beta*, OS.js needs to nail down API and VFS "backend" methods and client integration.

Recently I've gotten some really good feeback that has *finally* initiated this process.

## Core

- [ ] **Add composition to handler to avoid duplicate code**
- [x] User Management for Handlers (#383)
- [ ] Look into making an Express supported middleware layer (#470)

## Packages

-

[2016-01-27 22:00] andersevenrud commented on #304
@RickGlimmer This issue now superseeds #302 and #303.

[2016-01-27 22:00] andersevenrud commented on #303
Superseeded by #304

[2016-01-27 22:00] #303 closed

[2016-01-27 22:00] andersevenrud commented on #302
Superseeded by #304

[2016-01-27 22:00] #302 closed

[2016-01-27 22:28] andersevenrud commented on #304
FYI: I am merging this into `master` as we speak :)

[2016-01-27 23:32] andersevenrud commented on #297
Ref: #304

[2016-01-28 10:53] myliu1999 opened #306 "a bug?"
An unexpected error occured, maybe a bug.

[code]

[2016-01-28 12:34] eraffaelli commented on #306
What were you doing when this occurred?
From what I can read, you were in settings, but did you do something specific?

[2016-01-28 13:01] Kirkhammetz commented on #18
Updated it_IT following #289, PR coming soon

[2016-01-28 15:49] andersevenrud commented on #306
I'm guessing this is something that happened after an async event and something was detached.

[2016-01-28 15:50] #306 closed

[2016-01-28 17:26] andersevenrud commented on #304
@RickGlimmer Thoughts on the changes ? :)

[2016-01-28 17:28] andersevenrud commented on #291
#304 superseeds this

[2016-01-28 17:28] #291 closed

[2016-01-28 17:35] RickGlimmer commented on #304
I am testing them right now. :) It is a lot easier to work with that is for sure! :+1:

[2016-01-28 18:13] RickGlimmer commented on #304
The write could be a bit easier. :)
It is now:
{ data: "data:image/png;base64,iVBOR...."
path: "home:////New file.png" }

If you can split the data it would be great. Maybe like this:
{ path: "home:///New files.png", mime: "image/png", encoding: "base64", data: "iVBOR....."

[2016-01-28 18:42] andersevenrud commented on #304
The "problem" is that the `data` is made with the browser APIs and comes with full data uri. Relevant: https://developer.mozilla.org/en-US/docs/Web/HTTP/data_URIs

I don't want to perform any string-type operations on this in the client (effectively doubles the needed ram usage).

The server assumes that `write` comes with base64 unless the `raw` options flag is set (binary).

[2016-01-28 20:10] andersevenrud commented on #304
@RickGlimmer This problem can somewhat be "solved" another way. Instead of relying on `write` function on the server, it is possible to simply use the browser upload functinality. That way the transport is always arraybuffer.

It's something I'm considering.

But as you said, this made it a bit easier to work with, and avoid confusions with nested JSON to the APIs. Also debugging is a bit better i

[2016-01-28 20:25] andersevenrud commented on #181
The docs are up here btw: http://os.js.org/doc/server/ :)

[2016-01-28 21:10] piranna commented on #181
That's cool! :-D And seems pretty simple :-) Could it be possible in a future version to change the HTTP File Requests to use a pure WebDAV server instead of a custom protocol? This would left the backend server fairly minimal, just for the applications management :-)

[2016-01-28 21:16] junland commented on #304
+1 for group permissions :)

[2016-01-28 21:17] andersevenrud commented on #181
Yeah, it is really simple!

WebDAV is supported by the client :)

The custom server-side file handling is made this way to allow multiple types of endpoints with minimal configuration. This way you don't have to rely on only (ex) WebDAV for file access (pretty vaguely explained... but hope you get the idea)

[2016-01-28 21:36] piranna commented on #181
Ok, so the client can be configured to use WebDAV as file backend the same way it's able to use GDrive or Dropbox, isn't it?

But is it needed the OS.js file server to have access to the files from the client, or is optional?

I think I'll need an arrows-and-boxes graph to understand the architecture of OS.js... :-P

[2016-01-28 21:41] andersevenrud commented on #181
Yep :)

It is completely optional!

I had one, but it is now very outdated. Another one in the works! I will notify you when done :)

[2016-01-28 21:51] piranna commented on #181
Ok! I'll need to get some time to learn how to get this working :-P

Yeah, I'll need one of these... :-P

[2016-01-28 21:57] piranna commented on #297
Just to drop by :-P I implemented [Davius](https://github.com/piranna/Davius), my own static HTTP/WebDAV server, if you are interested :-) I'm planning to use it to serve the static content and manage the file operations on NodeOS (that's why I asked about WebDAV support :-P ).

[2016-01-28 22:05] andersevenrud commented on #297
@piranna I'll have a look :)

[2016-01-28 22:14] piranna commented on #297
Cool :-)

[2016-01-28 22:26] andersevenrud opened #313 "[Core] Resizing south and west moves window"
After window hits minimum width/height and you keep resizing the window will move in the current direction.

This only occurs West- and Southwards

[2016-01-28 23:31] andersevenrud commented on #105
Superseeded by #304

[2016-01-28 23:31] #105 closed

[2016-01-29 05:35] RickGlimmer commented on #304
I am not a fan of datauris because once they start to get bigger they slow down things considerably and they can be easily abused. I am not sure if getting a bytearray from a canvas (draw app) is possible so it might be the only way to do it. Converting base64 to bytearray is costly and any conversion should be avoided when possible.

My requirements are a bit out of the ordinary and i am very hap

[2016-01-29 10:38] RickGlimmer commented on #304
Found a small discrepancy in naming
[code]
Wondering if it would be better if xhr is changed into get.

I also found that when i load a user application (menu->System->Test), like on the demo, the request for the .js and .css files do not go through the handler. In my case that results in not being able to load that file. It is a request with this url: http://mydomain.com/FS/get/home:///.packages/

[2016-01-29 11:43] TRoskop commented on #254
Hi Guys!
I'm now finished the app. And it passed the certrification kit.
You can see here, how the first version looks like.

![screenshot 21](https://cloud.githubusercontent.com/assets/13079737/12674724/436824e8-c685-11e5-857d-6fc04c54ab09.png)
![screenshot 22](https://cloud.githubusercontent.com/assets/13079737/12674723/4366f15e-c685-11e5-9d6c-e66443ce9548.png)
![screenshot 23](https://cloud.git

[2016-01-29 12:09] andersevenrud commented on #304
Not a fan either, but

GET is used for resource loading, how are you supposed to get around this ?  Oo

Yeah, I realised this a bit to late. It should be changed, for sure.

[2016-01-29 13:05] eraffaelli commented on #254
I will be able to test it (I have win10) so maybe I can make feedback once available ;)

[2016-01-29 13:09] TRoskop commented on #254
@eraffaelli  I can send you the appx-file which allows you to install it by side-loading.
See here how to do: http://www.howtogeek.com/219651/windows-10-allows-you-to-sideload-universal-apps-just-like-android-does/

[2016-01-29 13:25] TRoskop commented on #254
@eraffaelli  This would be very nice. I'm hoping to publish it soon.

[2016-01-29 14:35] RickGlimmer commented on #304
If there is a get in the osjs that is not in home/shared/os.js folders then it just passes the handler. I don't need to stop gets that just load a css file or a script only when they are in those directories as i need to keep user data absolutely separated. Also shared folder is only between users of the same organisation. The handler stuffs a authorizationtoken in the request and the backend make

[2016-01-29 14:59] andersevenrud commented on #304
So you're doing permission based VFS ?

[2016-01-29 15:01] andersevenrud commented on #304
Not sure what you mean by this

[2016-01-29 15:15] RickGlimmer commented on #304
I already have a working backend with users. Each user has its own private folder and a shared folder that is shared between users from the same company/organization. Those folders are protected against access with a token. To prevent users copy/pasting URLs all requests for data in those folders is through a POST which contains a token in the body or header. Once a users logs in he gets a token t

[2016-01-29 15:21] andersevenrud commented on #304
It sounds like you're doing permission based VFS, yes. I started working on group-based permissions yesterday, and plan to finish it today. Tokens is probably something I'll look into later (for *all* requests. This can be done for GET requests by hooking into the transport path() function and append the token to the URL).

[2016-01-29 15:26] RickGlimmer commented on #304
Just as some info, this is how the request looks like for a scandir:
Request URL:http://mydomain.com/FS/scandir
Request Method:POST
Status Code:200 OK
Remote Address:10.10.10.10:80
Response Headers
Cache-Control:no-cache
Content-Length:345
Content-Type:application/json; charset=utf-8
Date:Fri, 29 Jan 2016 15:20:36 GMT
Expires:-1
Pragma:no-cache
Server:Microsoft-IIS/8.5
X-AspNet-Version:4.0.30319
X

[2016-01-29 15:27] andersevenrud commented on #304
Yeah. That's how I imagined it :)

[2016-01-29 15:31] RickGlimmer commented on #304
When i click on a menu item of a application (test1) that is installed in the home directory of the user i do not get that request in the custom handler. Sofar that is the only exception i have found. There might be some others but i did not encounter them.

[2016-01-29 15:33] andersevenrud commented on #304
User Installed applications is something that is not finished yet, so I'll add that as a task above :)

[2016-01-29 15:57] andersevenrud commented on #254
I'm wondering how the Microsoft Store actually works and how people will be able to locate this app there. I don-t have any experience, but I've heard vey worrying things :/

[2016-01-29 16:03] khoaakt commented on #254
@andersevenrud Easy man! As I see nothing much to worry about that.
From a windows-fan :smile:

[2016-01-29 16:06] andersevenrud commented on #254
But how will people that *dont know about OS.js* find it without hearing about it. Will it appear in a feed at random, or is it just searchable. How good is the search, and how much control do you have over metadata ?

[2016-01-29 16:13] TRoskop commented on #254
@andersevenrud
Of course the app will not appear as the top-most one in the store. But you can find it under the specific category. It works like the Google Play Store.
Moreover, you can define keywords and so on.

Let's give it a try. We can't lose anything. And who knows, if this works as I hope, it would be good.
So, calm don't and publish :smile:

[2016-01-29 16:15] andersevenrud commented on #254
No, that much I figured.

I'm just wondering how people would normally find it. If it works like the Play Store and those it might be a bit hard if you're not spesifically looking for it :)

But yeah, there's nothing to lose. I'm just curious

[2016-01-29 16:16] TRoskop commented on #254
Do you, @andersevenrud , have Windows 10 (or a virtual machine of it)? Because then I could send you the first stable build to side-load it (No Visual Studio IDE needed).

[2016-01-29 16:18] khoaakt commented on #254
@andersevenrud

@TRoskop
Maybe a winform app looks great for testing on non-Windows 10! After build, the app will automatic start to testing... Right?

[2016-01-29 16:24] andersevenrud commented on #254
@TRoskop Nope. Maybe I can use the MS provided browser VM test images. https://dev.windows.com/en-us/microsoft-edge/tools/vms/windows/

[2016-01-29 16:24] TRoskop commented on #254
@khoaakt

I'm sorry, but you can't convert/build a windows 10 app (WUP Windows universal platform) on non-windows 10 systems. It's because of the new WinRT (Windows Runtime).
However, those apps are realy not compareable to winform-apps. They are more like Software written in WPF for the desktop.
You need Win10.

[2016-01-29 16:26] TRoskop commented on #254
@andersevenrud I will upload the image (which you can install in just a few clicks) to you later. How can I send you a private message with the download-link?

[2016-01-29 16:27] khoaakt commented on #254
@TRoskop
I means write an new winform app. Not convert :smile: !
Maybe in my vacation (2 days later), i'll write it...

[2016-01-29 16:33] TRoskop commented on #254
@khoaakt
I planned to implement some extended JavaScript-API for os.js in my app (and I also created already two ones).
Would you like to say me when starting, so I can give you the APIs so we have the same ones so os.js can use them??

[2016-01-29 16:37] TRoskop commented on #254
@andersevenrud
Instead of downloading those IE-versions, just download the windows 10 ISO and use it as the demo version (30 day trials). This might be more helpful.

[2016-01-29 17:11] andersevenrud commented on #254
@TRoskop Good old email is probably easiest, or just a dropbox link. Gitter has private chatting

[2016-01-29 17:21] khoaakt commented on #254
@TRoskop
 I'll make an issue when start.

[2016-01-29 17:23] andersevenrud commented on #254
@khoaakt These applications are not a part of this repository, hence should not be created here. You can use this issue if you like, or put up your own repository and link it here.

[2016-01-29 17:23] TRoskop commented on #254
@khoaakt: Please could you notify me by email in this case. Because I do not regulary look on this issues.
t.roskop@hotmail.de

[2016-01-29 17:29] RickGlimmer commented on #304
A gotcha on a windows server running IIS is that some characters are not allowed in a URL. It can be modified but it is there for a reason.
The characters are <,>,*,%,:,&
As you are using a ":" as part of the url the request is being killed on a very early moment in the pipeline, even before it reaches asp.net code. It is not catchable.
a url like this:
http://mydomain.com/FS/get/home:///.packages

[2016-01-29 17:30] TRoskop commented on #254
@andersevenrud
I just send you the email.

[2016-01-29 17:38] khoaakt commented on #254
@TRoskop @andersevenrud
OK, guys :smile:

[2016-01-29 17:40] andersevenrud commented on #304
Remember, OS.js is designed to run on the Node server. I already maintain a working PHP server, which is a pain. If someone wants to run it on anything else (like you did) it is pretty much outside the "official support zone" or whatever you'd call it.

The best way to solve it is to simply change the path to a escaped query parameter instead of a path.

Another thing... if someone is already cust

[2016-01-29 17:45] RickGlimmer commented on #304
I understand. It is not that big of a deal as it is solvable.
However this is probably something like 99% of people working on IIS do not know and it is a pain to get it allowed. Even if they find the solution it is often forbidden by IT or even hosts.

My request is if the ":" can be dropped or maybe changed into a character that is allowed. You would then have no future questions why it is not r

[2016-01-29 17:49] andersevenrud commented on #304
I just did a google search on the error and the first link had the solution. Hehe.

Would it work if I used:

[code]

?

That is the simplest solution

[2016-01-29 17:57] RickGlimmer commented on #304
It is more these kind of requests:
http://osjsv2.0o.no/FS/get/home:///.packages/Test/main.js

They are not going through the custom handler ( i expected that first).
I saw that this particular case is a bit more difficult as it is used for the src attribute of a script tag that is added to the page.

If your intention is to let that request go through the handler then it is easy to solve.
However

[2016-01-29 18:08] andersevenrud commented on #304
But you did not answer my question :p

This is what I meant by "resources" earlier. Images, scripts and stylesheets all do this.

This is really not an option at the moment (I think). With the Node and PHP server you can pass resources through your scripts -- so this is not an issue there.

[2016-01-29 18:10] andersevenrud commented on #304
Can't you do that in ISS ? Like proxy all requests through your server code ?

[2016-01-29 18:11] andersevenrud commented on #304
Can't you do that in ISS ? Like proxy/redirect all requests through your server code ? (mod_rewrite)

[2016-01-29 18:27] RickGlimmer commented on #304
[code]
This would be fine.

An alternative, and maybe even easier would be to allow the handler to modify the url.
The handler is the one that talks to the backend and in my opinion each request (certainly the ones that uses a users folders) should go through it.

[2016-01-29 18:28] andersevenrud commented on #304
I will plug this in... It's an obviously better choice actually :)

[2016-01-29 18:38] RickGlimmer commented on #304
Great!

[2016-01-29 19:02] andersevenrud commented on #304
Allright, mr @RickGlimmer . Handler now has `::getVFSPath()` :)

https://github.com/os-js/OS.js/blob/master/src/client/javascript/handler.js#L296

[2016-01-29 19:03] andersevenrud commented on #304
Let me know if that name sucks... it was the first that came to mind (naming is *hard*)

[2016-01-29 19:08] andersevenrud commented on #304
Also changed `FS:xhr` to `FS:get`

[2016-01-29 19:13] RickGlimmer commented on #304
Thanks! The name seems fine, but i reserve the right to change my mind. :)

[2016-01-30 06:05] maekawatoshiki opened #318 "slice bug"
An unexpected error occured, maybe a bug.

[code]

[2016-01-30 23:07] andersevenrud commented on #318
This seems to be a bug with Ace editor (which is a third-party editor).

Probably fixed in a later version. The demo server is running an outdated version :)

[2016-01-30 23:07] #318 closed

[2016-01-31 00:17] andersevenrud commented on #181
This is the first draft of how the Server APIs work :P

![dia-server-api](https://cloud.githubusercontent.com/assets/161548/12699349/5f74b0f0-c7b8-11e5-84c5-65409945e34c.png)

[2016-01-31 06:49] lite20 commented on #181
Clean interface. Clean drawing. I love it :stuck_out_tongue: What sort of extensions are you referring to? (Like, what sort of operations could they perform/alter)

[2016-01-31 10:20] piranna commented on #181
That's a bit more clear, thank you :-) On the scheme I propose for NodeOS
the Filesystem and Resource servers are the same one, and by following the
WebDAV protocol it can be shared by all the apps, that's why I created
Davius. This way, the only one required server is the one for the API
operations :-)
El 31/1/2016 7:49, "Lite McFish" <notifications@github.com> escribió:

[2016-01-31 11:27] khoaakt commented on #254
Well, I began to developing this. I think it would be better to make an IDE (can code, can change setting, change build config, build and testing...) for Windows. @TRoskop  @andersevenrud
![untitled](https://cloud.githubusercontent.com/assets/6000592/12701803/34db65e2-c848-11e5-954d-9f980450d33c.png)

[2016-02-01 19:56] #313 closed

[2016-02-02 15:10] TRoskop commented on #254
I published the app and it has been accepted.
Here is the link to the app: https://www.microsoft.com/store/apps/9nblggh5p91g
[Note: It might need a few hours until the app can be downloaded.]

[2016-02-02 20:07] andersevenrud commented on #254
:+1:

[2016-02-03 05:46] TRoskop commented on #254
They gave me a New link   https://www.microsoft.com/store/apps/9NBLGGH5P91G.

[2016-02-03 09:16] lordloh opened #320 "An error occured while trying to launch: CoreWM"
I get the an error in a dialog box while I try to launch the application in my browser. The console does not give any indication of error.

then

How do I fix these?

[2016-02-03 13:15] TRoskop commented on #254
Please give me feedback and suggestions for improving. I also accept them by email: t.roskop@hotmail.de
I'll work on it and I'll later publish the source code. :+1:

[2016-02-03 14:00] Corak667 opened #322 "Google Drive cannot be accessed - 405"
Проихошла непредвиденная ошибка, возможно баг.

[code]

[2016-02-03 14:01] Corak667 opened #323 "Google Drive cannot be accessed - 405 2"
Проихошла непредвиденная ошибка, возможно баг.

[code]

[2016-02-03 14:06] joaofraga commented on #320
:+1: same here

[2016-02-03 14:25] andersevenrud commented on #322
Duplicate of #185

[2016-02-03 14:25] #322 closed

[2016-02-03 14:26] andersevenrud commented on #320
Did you build OS.js correctly ?

[2016-02-03 15:18] Corak667 opened #324 "Audioplayer: error on session time end"
window::onerror()
Filename: http://osjsv2.0o.no/packages/default/MusicPlayer/combined.js
Line: 353:undefined
Message: InvalidStateError: An attempt was made to use an object that is not, or is no longer, usable

[2016-02-03 15:33] Corak667 opened #325 "Audioplayer: conflict with "selectlikeaboss" selection Firefox addon"
window::onerror()
Filename: chrome://selectlikeaboss/content/script.js
Line: 53:undefined
Message: IndexSizeError: Index or size is negative or greater than the allowed amount

[2016-02-03 15:36] andersevenrud commented on #325
How did you trigger this ? I've never heard or *selectlikeaboss*... what is it ?

[2016-02-03 15:38] Corak667 commented on #325
@andersevenrud it's a Opera legacy styled methods of selections.
https://addons.mozilla.org/ru/firefox/addon/select-like-a-boss/
Triggered just once (seems cannot repeat more)  in audioplayer when tried to scrolls/rewind some song. Maybe it can be triggered again. But inner bugreport window opened, so it wrote here.

[2016-02-03 16:34] andersevenrud commented on #325
Okay. This issue has been noted. There's a single-fire bug on the timeline scroll thing

[2016-02-03 16:34] andersevenrud commented on #325
Duplicate of #324

[2016-02-03 16:34] #325 closed

[2016-02-03 16:37] Corak667 commented on #325
@andersevenrud  nope, not duplicate.
The other are seems when session time was ended.

[2016-02-03 16:44] MrSchism commented on #325
I'm unable to reproduce.  Moreover, the behavior that plugin describes doesn't seem to differ from my default Firefox behavior.

Can you elaborate on what exactly it's supposed to as opposed to the default behavior?  This may help me be able to determine how to approach reproduction of the error.

[2016-02-03 16:46] junland commented on #320
@lordloh Was it the dist version or the dist-dev version?

[2016-02-03 17:04] joaofraga commented on #320
@andersevenrud I have builded using auto install. Should I try build it?

[2016-02-03 17:06] andersevenrud commented on #320
@joaofraga Do you know how to use the Network Monitor and Console in the browser ? I'm very interested in finding out why this happens

[2016-02-03 17:07] joaofraga commented on #320
@andersevenrud Yes, I'll try to debug it. Do you want some specific information?

[2016-02-03 17:21] Corak667 commented on #325
Hm.. Yes. Seems duplicate still. Uploaded some music in Home:///Mus/ Dynamically added on player.  And tried to scroll. Got again
window::onerror()
Filename: http://osjsv2.0o.no/packages/default/MusicPlayer/combined.js
Line: 353:undefined
Message: InvalidStateError: An attempt was made to use an object that is not, or is no longer, usable

[2016-02-03 17:32] andersevenrud commented on #320
I am aware of this and know the reason. I will fix this today

[2016-02-03 17:56] #320 closed

[2016-02-03 17:58] andersevenrud commented on #320
Should be resolved now. Thanks for reporting in!

[2016-02-03 18:35] lordloh commented on #320
:-) Wow. The issue got fixed while I was sleeping through the night :-)

[2016-02-03 22:27] artf opened #326 ""Launching..." window remains pendant after 'Test' app launch"
Firefox 43.0.4 on OSX Yosemite 10.10

![ss-test-app](https://cloud.githubusercontent.com/assets/11614725/12799137/8f78b89c-cacd-11e5-9f62-3f59d8da024d.png)

OT: Thanks for doing such amazing software

[2016-02-03 22:32] andersevenrud commented on #326
This application has not been updated to use the latest APIs, hence why the loading stays.

Will be fixed in another repo: https://github.com/os-js/OS.js-store/tree/master/packages

[2016-02-03 22:32] #326 closed

[2016-02-04 10:49] eraffaelli commented on #254
I've try for two or three minutes on mobile but it's not responsive so... xD
I'll try this weekend on desktop

[2016-02-04 19:37] andersevenrud commented on #304
This all made it into the Arduino branch! Total win, because next update will have all these updates

[2016-02-04 19:38] andersevenrud commented on #323
Do you use AdBlock or somthing similar?

405 errors come from Google and not OS.js

[2016-02-04 19:46] Corak667 commented on #323
Nope. Even when disabled everything alike (safescript, hosts) - same error. Google Drive easly accessable.
http://files.leraux.ru/Corak/Temp/scr/145462599583_kiss_157kb.png

[2016-02-04 19:47] andersevenrud commented on #323
OK. I will investegate this

[2016-02-04 19:49] Corak667 commented on #323
@andersevenrud this was error on Chrome.

On firefox another error:

[code]

[2016-02-04 19:50] andersevenrud commented on #323
This is the same problem, only slightly different error message.

It seems it fails to load oauth via google for you. It works just fine for my accounts -- i will have to dig deeper

[2016-02-04 19:59] #324 closed

[2016-02-04 20:20] Corak667 commented on #323
@andersevenrud found core of this problem. It's seems regional block. I'm in Crimea, and the're google are blocks everyone with Crimean ip because of "territorial disputes" (Ukraine vs Russia). When i used openvpn with inner Russian ip - seems all worked but files are clean.

[2016-02-04 20:35] andersevenrud commented on #323
Aha. That explains it pretty well!

Thank you for looking into it and reporting back with such detail!

I will add a notification that triggers on errors like this, so the user know what's going on (or at least one of the reasons).

I don't think there is a way around this from my side (except for proxying, which I cannot do on my demo server for bandwidth and security reasons)

[2016-02-04 20:46] Corak667 commented on #323
Proxying aneeded only for accessing oauth2 server authorization, all googledrive access are accessed normally without proxying. So it will not be a big bandwidth problem

[2016-02-04 20:53] andersevenrud commented on #323
I could look into adding server-side oauth's yeah. I'll add it to my list of things :)

[2016-02-04 20:57] Corak667 commented on #323
Thanks alot! That would be great.

[2016-02-04 21:23] andersevenrud commented on #181
@lite20 `Extensions` is a pretty generic term... there's lots of different types :P But you can add/modify API and VFS methods with them.

@piranna You can route Resources over the general Filesystem (VFS) if you want. This graph is only showing the default setup.

I will look into Davius :D

[2016-02-04 21:50] piranna commented on #181
That's cool :-)

That's cooler! :-D

[2016-02-05 19:17] eraffaelli commented on #254
I've tried it but I didn't see anything wrong with what I do. Sorry if this doesn't help you much :/

[2016-02-05 21:01] andersevenrud commented on #326
This should be resolved now

[2016-02-06 23:05] andersevenrud opened #329 "[CoreWM] Desktop Environment/Window Manager"
The Window Manager and Desktop Environment could use some new features and improvements

- [x] Rework event handling in `Menu`
- [x] Better scaling support (#112)
- [x] Better touch support (#112)
- [ ] Resizable panels (#221) [blocked by browser bug. investegating]
- [ ] Add aspect-ratio resizing to windows (#136)
- [ ] Desktop Workspaces (#49)
- [ ] Sortable/Gridable desktop IconView (#49, #69)

[2016-02-06 23:07] andersevenrud commented on #49
Closing in favour of #329 #304

[2016-02-06 23:07] #49 closed

[2016-02-11 09:41] 00cpxxx opened #334 "[Applications] Calculator % does not work as expected"
It looks like the % does not work, if you type "100 - 10 % = " you should get 90 at least in a real calculator and in OSX calculator. The js calculator returns 99.9 as a result.

It looks like when I insert the second operand and press % it will convert the number to a decimal representing the value, so 10% becames 0.1. But when I press = it should do <first operand> - <first operand * second oper

[2016-02-11 13:11] andersevenrud commented on #334
The Calculator is going to be reworked. It's kind of crap at the moment :)

[2016-02-11 17:36] 00cpxxx commented on #334
It is actually very beautiful IMO, it does what calculators are supposed to do =)

[2016-02-11 20:09] corbinu commented on #297
@andersevenrud Sweet!

[2016-02-11 20:10] andersevenrud commented on #297
A connection dialog is soon complete (#304) so you don`t have to do it via console :P

[2016-02-11 21:14] webmst opened #335 "mysql-handler bugs"
Activating the mysql-handler I get 2 strange behaviours:

- using php as container, login works, but hovering the user icon reports 'signed in as: undefined'
- using apache2x as container, login always fails, reporting 'Login error AJAX/XHR Error: 404'

[2016-02-11 21:43] andersevenrud commented on #335
Thanks!

I will update this ASAP

[2016-02-11 21:48] andersevenrud commented on #335
The user information should now be correct.

If you get 404 on API functions you probably do not have "mod_rewrite" enabled. Check that first -- since I have no problems on my end atm.

[2016-02-11 21:49] andersevenrud commented on #335
Also make sure you have "allow override" in your vhost so Apache can read .htaccess

[2016-02-11 22:07] webmst commented on #335
mod_rewrite.so is loaded

'AllowOverride All'
'Require all granted'

are included.

But I haven't set the vhost yet, I'm using the 'osjs' alias to the 'dist' folder

[2016-02-11 22:23] webmst commented on #335
After the above said modification of handler.php, it shows "demo" instead of "undefined", without taking into account the given mysql user

[2016-02-11 22:31] andersevenrud commented on #335
Then the server is not running with the correct handler. I`m not having any problems with this locally and https://osjsv2.0o.no/ is running on Apache.

Did you change the handler according to the docs ? https://github.com/os-js/OS.js/blob/master/doc/mysql-handler.md

[2016-02-11 22:43] andersevenrud commented on #335
Just realized I had some typos in those docs -- fixed.

But, anyway. I just set up a fresh VM with PHP5 and Apache and used the docs to set up the mysql handler. I`m having no problems here :\

[2016-02-11 22:43] webmst commented on #335
Yes, as I wrote at the beginning of this issue, the mysql-handler has been set according to the docs and with a php container, it displays the login screen and allows signing in (only wrong user is reported).

[2016-02-11 22:46] webmst commented on #335
...but your modification to handler.php was on the 'demo' handler

[2016-02-11 22:49] andersevenrud commented on #335
Yeah. I remembered I forgot something that leads to the "undefined" problem, but that was only for demo handler, the mysql one has been updated by another user in the community and tested.

So the server is obviously using the wrong handler somehow -- a dead giveaway is that it says "demo" as username.

Sorry, but I cannot be of more assist at the moment -- I have to go to bed.

[2016-02-11 23:00] webmst commented on #335
Sure, good night. I'm not in a hurry.
We'll resume this next time.

[2016-02-12 08:40] webmst commented on #335
As you posited I'm using the wrong handler for my mysql setup (that behaves differently using apache, php or node as containers), I re-executed the handler setup checking for error messages, finding the following output when 'grunt config' was executed:

Running "config" task
Writing configuration files...
[TypeError: Cannot read property 'homes' of undefined] 'TypeError: Cannot read property \'ho

[2016-02-12 17:28] TRoskop commented on #254
@eraffaelli:
Could you explain what exacly is wrong? Because on my device (and emulator) it works perfect.
Give screenshots or something like this.

My Email: t.roskop@hotmail.de

[2016-02-12 20:23] andersevenrud commented on #335
It seems that it has some trouble reading the settings file. So my guess is there's something wrong with yours.

What do you get when doing `grunt config:get` ?

[2016-02-12 20:23] andersevenrud commented on #335
Or more spesifically `grunt config:get:server`

[2016-02-12 20:25] andersevenrud commented on #335
I'm thinking that your `src/conf/900-custom.json` file might be broken (which is the one generated when doing config via grunt) -- because I see no way of this happening on a clean setup.

[2016-02-12 21:49] webmst commented on #335
Here is what you asked:

    root@freenas:/usr/local/OS.js/doc # grunt config:get:server
    Running "config:get:server" (config) task
    Path: server
    Type: string
    handlers

    Done, without errors.

    Execution Time (2016-02-12 21:47:04 UTC)
    loading tasks       50ms  ââââ 8%
    config:get:server  536ms  âââââââââââââââââââââââââââââââââââââââ 90%
    Total 594ms

[2016-02-12 23:11] andersevenrud commented on #335
Your file is broken

This was probablyu because of the typo I had, as which I corrected :( Sorry about that!

You should have something like.

[code]

[2016-02-12 23:18] andersevenrud commented on #335
That would not help if the 900 file has the error in it :)

[2016-02-13 09:38] webmst commented on #335
I know, I did just to be sure there weren't any other modifications; your support can effective only if we are in sync

[2016-02-13 12:24] #335 closed

[2016-02-13 15:33] keikyoku opened #336 "ssh terminal bug ?"
i just wanted to launch ssh terminal and a pop-up with this message appeared
[code]

[2016-02-13 16:16] andersevenrud commented on #336
You cannot install these applications into your home directory. The "extras" repository is for system installation.

https://github.com/os-js/OS.js-extras/blob/master/Terminal/README.md

http://os.js.org/doc/manuals/man-package-manager.html

[2016-02-13 16:17] #336 closed

[2016-02-13 16:18] andersevenrud commented on #336
Oh. This is the demo site!

Sorry -- I will fix this. These packages do not belong there. Someone tried to install it -- but that will not work on that server :)

[2016-02-15 05:30] ht68 commented on #120
hi i'm active mysql handler, but show error message

APIUser::login()
Error: Cannot enqueue Query after fatal error.

[2016-02-15 15:14] aminmazi opened #338 "[Handler] mysql throws "Cannot enqueue Query after fatal error""
hi, i wanted to enable multi-user environment with mysql, i did everything same as tutorial [here ](https://github.com/os-js/OS.js/blob/master/doc/mysql-handler.md) but after trying to login with user,user an error dialog appears as:

[code]
how can i solve this problem?

[2016-02-15 16:26] andersevenrud commented on #338
@ht68 also got this. I will investegate this

[2016-02-15 18:24] andersevenrud commented on #338
I am not able to reproduce this. Are you on Windows ?

[2016-02-15 18:31] ht68 commented on #338
Yes, I'm work on Windows.

[2016-02-15 18:34] andersevenrud commented on #338
I'll have to set up a Windows Virtual Machine and find a workaround for this. I know what the problem *is*, but not exactly *why* (weird that it is platform spesific)

[2016-02-15 18:35] andersevenrud commented on #338
note-to-self: https://github.com/felixge/node-mysql#pooling-connections

[2016-02-15 18:40] aminmazi commented on #338
I'm on windows too,  using wamp server for MySQL and nodejs 32 bit for os.js backend server.
I will try on a Linux machine tomorrow.

[2016-02-15 18:41] andersevenrud commented on #338
OK. Thanks for the information. I don't think I have time to solve this today, but I will definately do it by tomorrow.

[2016-02-15 18:50] ht68 commented on #338
I'm try on centOS tomorrow too and state the feedbacks coming.

[2016-02-16 07:59] ht68 commented on #338
the problem is still exist on linux !

[code]

[2016-02-17 19:05] andersevenrud commented on #338
Sorry for not getting back to you guys, I've been extremely busy.

I have a possible solution for this in the works and will commit tomorrow

[2016-02-18 14:56] andersevenrud commented on #338
Allright boys! I've updated the codebase with a possible fix. Could you test it ? :)

[2016-02-19 07:53] aminmazi commented on #338
OK, I will test it tomorrow :)

[2016-02-20 11:29] aminmazi commented on #338
the log in works and the error is gone, but multi-user features does not work and current user is still "demo"! (even after logging in with admin admin)
for example I logged in with admin and create a file on home directory, but the new file was created in "demo" folder in vfs.

[2016-02-20 12:14] andersevenrud commented on #338
@aminmazi Then it sounds like a broken configuration file. Could you please give me the contents of your `src/conf/900-custom.json` file?

This happened in #335 as well. To summarize: I made a mistake in the documentation, leading to misconfigured file (the 900-custom file is generated when you do `grunt:config:set`).

So the easiest way to fix this problem is to remove that file and re-do the con

[2016-02-20 12:57] andersevenrud commented on #338
@ht68 Can you test this as well ? :)

[2016-02-20 13:22] aminmazi commented on #338
the problem was solved but there are two considerations:
1) if mysql service does not work (not started for example) the log in page doesn't show any error and enters with demo user.(in my last [problem](https://github.com/os-js/OS.js/issues/338#issuecomment-186575931) I have forgotten to start mysql service )

2) if mysql password has been set as a number  (for example 123456) an error occurred w

[2016-02-20 13:32] andersevenrud commented on #338
@aminmazi

1) The login will return error message if the mysql service is not started/runninig or operating properly. I have just tested this.

If you get the "logged in as demo" problem, the client config is broken (which I explained) and it uses the wrong handler. Which probably means your `src/conf/900-custom.json` is messed up.

https://github.com/os-js/OS.js/issues/335#issuecomment-183521506

[2016-02-20 13:38] aminmazi commented on #338
:+1:

[2016-02-20 13:39] andersevenrud commented on #338
@anmonteiro I just realized something..... If you are using `dist` and getting "logged in as demo" even when running the mysql handler, then maybe you forgot to run `grunt core` to update the client properly. If you encounter this problem again, please let me know.

But nice that you got it working at least :)

[2016-02-20 13:39] #338 closed

[2016-02-20 13:53] ht68 commented on #338
@andersevenrud yes it's solved :+1:

[2016-02-20 13:53] andersevenrud commented on #338
Great! :)

[2016-02-22 18:52] andersevenrud commented on #240
It seems that the Chromium people solved this in the Chrome browser itself. Gravity now seems to behave normally! :)

[2016-02-22 20:48] andersevenrud commented on #185
This has been solved in a recent commit. Turns out it was due to the touch input handler which is being worked on as we speak! :)

[2016-02-24 03:44] junland opened #344 "Reference Error"
## Expected behavior
Should not display an error?

## Actual behavior
Really shouldn't display an error...

I don't think anyone has tried using a 3rd party css file within a regular GUI application so that's why I submitted this issue. :)

Error that was displayed:

[code]

## Steps to reproduce the error
Build a sample app and place a button using `Materialize` front-end CSS.
* `materialize.min.

[2016-02-24 10:19] andersevenrud commented on #344
Are you trying to use jQuery ? :)

[2016-02-24 10:34] andersevenrud commented on #344
[code]

This is a bit redundant. You already load them from metadata.json file :)

[2016-02-24 10:51] webmst opened #345 "Unable to logon because of activation of encryption with MYSQL authentication"
Hi Anders,
After a `git pull` I realize you've just introduced encryption in mysql logon (I agree), resulting in me being unable to logon using already preset clear-text password.

To be able to logon again, **I had to manually set the default hash for all the users** in the mysql table as you showed in the updated mysql instructions.

Now, this is the question: as I cannot easily customize the pa

[2016-02-24 10:53] andersevenrud commented on #345
I'm making a CLI tool to set/modify the mysql handler users. It will be added today when I get back from work :)

[2016-02-24 10:53] andersevenrud commented on #345
Also, GUI utilities for stuff like this is something in the works as well. (Not only user management, but lots of system tools)

[2016-02-24 10:56] webmst commented on #345
Congratulations for your outstanding commitment... I'm looking forward to test!

[2016-02-24 12:33] #345 closed

[2016-02-24 12:33] andersevenrud commented on #345
You can now do:

[code]

[2016-02-24 13:38] junland commented on #344
I guess so, I think jQuery is embedded into `.js` file

Yea, I wasn't sure if there was any difference. I loaded it from the `scheme` then tested it out. Come to find out that it doesn't work. So I loaded it into the  `metadata.json` file and just forget to to remove the `scheme.html` is there a conflict with having jquery like that or is there a conflict with how I loaded the materialize files?

[2016-02-24 13:40] andersevenrud commented on #344
Just took a peek in the docs, and it says: "One last thing to note is that you have to import jQuery before importing materialize.js!", so you have to add that too to your meta :)

You won't get any conflicts here. OS.js has no dependencies to begin with in the client, so you can mix and mash however you want.

[2016-02-24 13:44] junland commented on #344
Whoops, guess well I did do this before going to be and I was really tired. :/

Ah okay! Good to know!

[2016-02-24 13:44] #344 closed

[2016-02-24 16:12] webmst commented on #345
`node bin/mysql-user.js pwd admin` gives:

module.js:340
    throw err;
          ^
    Error: Cannot find module 'mysql'
        at Function.Module._resolveFilename (module.js:338:15)
        at Function.Module._load (module.js:280:25)
        at Module.require (module.js:364:17)
        at require (module.js:380:17)
        at Object.<anonymous> (/usr/local/OS.js/bin/mysql-user.js:160:25)

[2016-02-24 16:12] andersevenrud commented on #345
Seems like you don't have the required modules installed ;)

https://github.com/os-js/OS.js/blob/master/doc/mysql-handler.md

[2016-02-24 16:14] webmst commented on #345
Can they have been lost?
I was already using mysql til you activated encryption

[2016-02-24 16:14] andersevenrud commented on #345
Are you using the PHP server ?

[2016-02-24 16:18] webmst commented on #345
No, apache 2.4, as in your demo server

[2016-02-24 16:19] andersevenrud commented on #345
Then you-re using the PHP server. That explains why you get "cannot find module" -- you never installed them, as they are not required for the PHP server to run, but is for Node (and the CLI tool)

[2016-02-24 16:21] webmst commented on #345
I don't understand what you mean.
My mysql setup was perfectly working til you activated encryption (that I get via `git pull),` I haven't started another container, I'm still using apache.

[2016-02-24 16:22] webmst commented on #345
I had already installed mysql and bcryptjs modules

[2016-02-24 16:25] andersevenrud commented on #345
You're using Apache, which means you are using the PHP OS.js Server.

Maybe you installed them in the wrong directory ? You would not have noticed, because the PHP server does not care about these at all.

---

Install them in the root directory of OS.js installation: `npm install mysql bcryptjs` and try using the utility again

[2016-02-24 16:31] andersevenrud commented on #345
`bin/mysql-user.js` is a utility written in node, so it requires the npm modules to run. So my guess is that you did not install them correctly the first time around :)

[2016-02-24 16:32] webmst commented on #345
Now I understand what you meant, please note that for me it meant I had started OS.js using a separate service PHP instance (container), as you documented, e.g.:
`cd dist; php -S 0.0.0.0:8000 ../src/server/php/server.php`

`Install them in the root directory of OS.js installation:  npm install mysql bcryptjs  and try using the utility again`

Tried again the installation , but same results.

[2016-02-24 16:33] andersevenrud commented on #345
And the module is not here `/path/to/osjs/node_modules/mysql` ?

[2016-02-24 16:34] webmst commented on #345
Well, there is a `node-mysql`, not a `mysql`

[2016-02-24 16:35] andersevenrud commented on #345
Aha! Remove the  `node-mysql` one and try install again.  I think the package has changed name over time and it is a "collision" or something.

[2016-02-24 16:38] andersevenrud commented on #345
Either that, or the dependency was changed.

You're absolutely sure youre installing from `/path/to/osjs` right, and not some subfolder ?

[2016-02-24 16:44] webmst commented on #345
Yup, it works deleting node-sql and performing `npm install mysql` again.
Eventually I was able to change all the user password as I needed.

[2016-02-24 16:44] andersevenrud commented on #345
Good to hear! :)

[2016-02-24 21:04] andersevenrud commented on #334
This should now be fixed! :)

NB: Demo server has not been updated, so don't expect it to work there

[2016-02-24 21:04] #334 closed

[2016-02-24 21:36] #256 closed

[2016-02-24 21:37] andersevenrud commented on #256
Just for now I added a little animation that sort of resembles a black hole sucking the calculator into it. I'll have some more fun with this later, but for now I am closing this :)

[2016-02-25 03:26] junland opened #346 "Touch Menu Touch Up's"
Need to fix some of the scaling with the touch menu.
![screenshot from 2016-02-24 21-24-25](https://cloud.githubusercontent.com/assets/9792545/13308892/1bc06140-db3d-11e5-8c55-b76abd220afb.png)

[2016-02-25 10:38] andersevenrud commented on #346
This whole thing is going to be reworked. Not sure about the design though ... gotta give it a think,

[2016-02-25 10:38] andersevenrud commented on #346
Any changes will be noted in #329 :)

[2016-02-25 10:38] #346 closed

[2016-02-25 13:38] junland commented on #346
Will do :) You could just exclude the text and just have the icons.

[2016-02-25 16:47] 00cpxxx commented on #334
Thank you very much for the quick fix.

[2016-02-25 17:49] andersevenrud commented on #346
![embiggen](https://cloud.githubusercontent.com/assets/161548/13328696/63536940-dbf0-11e5-98df-5e76bd3aaf5c.png)

I've embiggened the size of the entries... so at least that helps; a bit :)

[2016-02-25 18:40] junland commented on #346
This my be out of the scope of how OS.js is themed, but maybe for the touch menu could be something like this below? (Click the button in the center.)

http://swart.in/LaunchPad/#

Just a thought, thinking in terms of phones / tablets. It's cool because it has a search feature for apps.

[2016-02-25 18:41] andersevenrud commented on #346
Something like that is the plan for this :)

[2016-02-25 18:42] junland commented on #346
Ahhhhhhhhhhhhh. :)

[2016-02-26 20:32] andersevenrud commented on #344
Derp!

I just now realized that you cannot include third-party stuff via manifest in iframe applications. They are completely isolated, and anything you "preload" is loaded into the OS.js "side"....

I've updated the tutorials now... so it mentiones this briefly: http://os.js.org/doc/tutorials/iframe-application.html

[2016-02-26 20:47] andersevenrud commented on #346
On devices <=800px the menu now goes "full screen" and has scroll when all entries does not fit :)

Also, on these devices Windows are always fullscreen and the panel has a "minimized" version applied to it.

I've started making the Scaled UI stuff, so this was the first step :)

[2016-02-27 18:40] TRoskop commented on #254
For everyone who wants to see the Apps Source Code:
https://onedrive.live.com/redir?resid=6B9D453976CAFCF!18973&authkey=!AJLdvSrT11Apv1M&ithint=file%2czip

License: Public Domain (all Parts, only this Build)

[2016-02-28 21:08] junland commented on #344
I'm not using a iframe par say, I just used the regulars OS.js and stripped the OS.js GUI out and just added custom CSS / HTML

[2016-02-28 21:44] junland commented on #344
Yea, I placed Jquery into the metadata file and it worked :)

[2016-02-28 22:21] andersevenrud commented on #254
@TRoskop It'd be nice if you could upload the sources to your Github profile, so that the "os-js" organization could fork it and have it featured in the feed(s) :)

[2016-02-28 23:39] andersevenrud commented on #344
:+1:

[2016-03-06 01:05] ahmadomar opened #348 "open os from blackberry 10"
An unexpected error occured, maybe a bug.

[code]

[2016-03-06 13:57] andersevenrud commented on #348
Duplicate of #185

[2016-03-06 13:57] #348 closed

[2016-03-08 10:55] cartozamis opened #350 "Probleme lors de l'import d'un fichier"
Une erreur inconnue est survenue, peut-être un bug.

[code]

[2016-03-08 16:15] andersevenrud commented on #350
I can't solve this without any information on how to reprodue it

[2016-03-09 18:17] andersevenrud commented on #350
Could you provide reproduction description ? :)

[2016-03-09 19:49] andersevenrud opened #351 "[Build] Replace Grunt with custom system"
Grunt is great and all, but what really grinds my gears is that the plugins usually don't have a good record when it comes to keeping dependencies up-to-date.

There's open PRs and Issues on some of these cases; 3+ months old!

So, I think the best solution is simply to go back to a custom task script like I had before switching over to Grunt. All of the build code is located in `src/build.js` as

[2016-03-10 07:03] TitanNano commented on #82
the up-coming `backdrop-filter` css property will give you the functionality you need here :)

[2016-03-10 08:32] muka commented on #351
Hello,
I had a good  dev experience with webpack for optimization and production build (has plenty of plugin to handle js but css and html fragment too)

Best

[2016-03-10 12:43] andersevenrud commented on #351
@muka OS.js actually has its own build system that simply consists of concatenation and [optional] "uglification". It's pretty solid.

This issue was more aimed at the CLI, not the actual build process, but appreciate the input :)

[2016-03-11 12:55] muka opened #352 "Extending the Settings panel"
Hi,
I've started working with OS.js from a while and I'm really happy about it. Great work!

Back to the issue, I would like to start working on a network manager by integrating it to the DBus system.
For now, I've started working on a standalone application with its own UI.

I would like to suggest (as feature request) to extend the current Settings application in order to allow pluggable compone

[2016-03-11 13:00] andersevenrud commented on #352
Hi muka,

Thanks for the kind words!

You might be interested in https://github.com/os-js/OS.js-system

I'm also working on integrations like this (only not DBUS at the moment).

Yes. This is basically the plan for the future Settings application. It should behave more like a control-panel as you said.

If you want to take a stab at it, then I don't mind at all :)

[2016-03-11 13:05] muka commented on #352
Ok great :+1:  better for me to jump on os-js/OS.js-system and try hack there :)

[2016-03-11 13:10] andersevenrud commented on #352
To use the system packjages you need to install the `wireless-tools` npm package.. I think I have not noted that anywhere. Just FYI install it in the os.js folder with  `npm install wireless-tools`

[2016-03-12 18:39] #352 closed

[2016-03-13 22:14] webmst opened #353 "Apache container no more supported?"
Hi folks,
after the last `git pull`, my working OS.js installation - _running in a apache2.4 container already configured as per instructions_ - is not working anymore.

When trying to access, I get the following message:

`You don't have permission to access / on this server.`

I suppose it is something introduced in the last week.

Any suggestions?

[2016-03-13 22:16] andersevenrud commented on #353
Hey!

Try running `grunt dist-files apache-htaccess` to see if that fixes it.

Some files were removed from the dist/ dirs by default, and needs to be generated.

[2016-03-13 22:21] webmst commented on #353
Hi Anders,
thank you very much.

`grunt dist-files apache-htaccess` fixed the issue.

You'd better update the documentation accordingly.

[2016-03-13 22:27] andersevenrud commented on #353
I just updated https://github.com/os-js/OS.js/blob/master/doc/server-php.md#apache . Thanks!

The `dist-files` task is a part of the default build process, so new users will not suffer from this problem. And just running `grunt` after updating your source is something you should do :)

I'm in the process of making a FAQ on http://community.os.js.org/ , where I will also announce any changes and up

[2016-03-13 22:27] #353 closed

[2016-03-19 22:30] andersevenrud commented on #82
@TitanNano Sorry for very late response, but it went way over my head -- because this issue was closed!

I'll definately look into that. I didn't even know of it -- thanks! :)

[2016-03-21 23:12] andersevenrud commented on #350
I'm closing this now because I have no way to replicate this.

Feel free to re-open this again if you have some more feedback about this issue

[2016-03-21 23:12] #350 closed

[2016-03-21 23:14] andersevenrud commented on #134
I am closing this issue now because there is a working version in https://github.com/os-js/OS.js-development that you can now use. It's not finished, but you can design your UI with it :)

[2016-03-21 23:14] #134 closed

[2016-03-21 23:23] andersevenrud commented on #351
Seems that the plugin developers finally stepped ut their game. I managed to initiate an update process on some of the repos, so now all the critical ones have been solved! :D

I've thought about this for a while, and I think I will simply change the syntax of some of the operations to make this all prettier. I don't want to manage anymore build-related code -- there's already way too much stuff i

[2016-03-21 23:23] #351 closed

[2016-03-21 23:29] andersevenrud commented on #122
I am closing this issue in favour of #329.

Just FYI: I've started on an implementation on this that uses a `<canvas>` based system (so everything scales correctly). So it will not be long until you finally can do this -- but for progress, se #329 :)

[2016-03-21 23:29] #122 closed

[2016-03-21 23:32] andersevenrud commented on #112
I am closing this issue in favour of #329.

This is something that will receive closer attention in the coming months (and I even have someone to help me this time), so look in #329 if you're interested in following the progress :)

[2016-03-21 23:32] #112 closed

[2016-03-22 22:56] andersevenrud commented on #134
For anyone interested, here is a demo: https://www.youtube.com/watch?v=qPhBpkbeZBU

[2016-03-25 07:08] xiaoxi-- opened #355 "Expected behaviour"
## Expected behaviour

## Actual behaviour

## Steps to reproduce the error

## (Optinal) Browser and OS information

[2016-03-25 10:24] rodrigoselau opened #357 "An unexpected error occured, maybe a bug. PTY Terminal Application"
An unexpected error occured, maybe a bug.

[code]

[2016-03-25 12:06] andersevenrud commented on #357
This means that you don't have the dependencies install properly. `Terminal` should be a gobal object

[2016-03-25 12:06] #357 closed

[2016-03-25 12:28] rodrigoselau commented on #357
aah, so sorry, thank your help

[2016-03-25 15:24] AntonDmitrievich opened #358 "https://osjsv2.0o.no/"
An unexpected error occured, maybe a bug.

[code]

[2016-03-25 16:51] sarsanaee opened #359 "ApplicationGmail problem to load"
An error occurred while trying to launch: ApplicationGmail

It happened just one time and unfortunately, I couldn't repeat it again.

[2016-03-25 16:53] andersevenrud commented on #359
The webserver probably had some problems serving you the file in that instance -- seems to happen once in a while. It could simply have been a connection issue. Thanks for reporting though! :)

[2016-03-25 16:53] #359 closed

[2016-03-25 16:55] andersevenrud commented on #358
This comes from the Strophe library which is maintained by someone else. I'm pretty sure that it has been fixed it's just that I'm running an old version. Will update!

[2016-03-25 16:55] #358 closed

[2016-03-25 16:55] #355 closed

[2016-03-25 16:56] andersevenrud commented on #355
Did you have any problems ?

[2016-03-25 16:56] andersevenrud commented on #357
Don't be sorry, man :)

[2016-03-26 05:11] icocos opened #360 "bug"
发生未知异常, 也许是个BUG.

[code]

[2016-03-26 14:00] #360 closed

[2016-03-26 14:00] andersevenrud commented on #360
Should be fixed now (but demo server has not been updated). Thanks :)

[2016-03-26 14:27] rodrigoselau opened #361 "[Application/IDE] An unexpected error occured on application launch"
An unexpected error occured, maybe a bug.

[code]

![screenshot from 2016-03-26 11 24 40](https://cloud.githubusercontent.com/assets/5107680/14060509/79fb8256-f345-11e5-81e5-21eead5e1b29.png)

[2016-03-26 14:34] andersevenrud commented on #361
It seems that you have an outdated codebase. Do a `git pull` in both the OS.js install and the "developer" packages repo (or download latest zips), then run `grunt`

Ref: in https://github.com/os-js/OS.js/commit/bb71a3bd372a0d1ca654a0f65fd871e0dd5cb05a

Also, is that Firefox ? Because it does not work there, just FYI.

[2016-03-26 14:34] #361 closed

[2016-03-26 14:37] rodrigoselau commented on #361
I do not use firefox, I midori or chrome use downloaded the code yesterday and finished installing today I will try to reinstall

[2016-03-26 14:37] rodrigoselau commented on #361
thanks

[2016-03-26 14:39] andersevenrud commented on #361
Mindori should work fine since it uses Webkit :)

This change occured *March 23*, so it's kind of weird that you should have this problem if it was downloaded yesterday. You downloaded from Github, right ?

[2016-03-26 15:35] rodrigoselau commented on #361
yes

[2016-03-26 15:37] rodrigoselau commented on #361
manually install not occur this outdated code problem, very strange happens

[2016-03-26 15:55] andersevenrud commented on #361
There is no technical differences between the linux automated installer and when you do it manually, actually. So that is very strange.

But you don't have the problem anymore, right ?

[2016-03-26 16:04] rodrigoselau commented on #361
not, the principle is so with this application which I thought was very strange not to the declared function error as shown in the picture

[2016-03-26 16:06] andersevenrud commented on #361
Sorry, but I do not understand what you wrote there.

Was it a "no" ?

[2016-03-26 16:18] rodrigoselau commented on #361
sorry i'm from brazil and don't write inglish very well, but my only problem with this application is that

[2016-03-26 16:29] andersevenrud commented on #361
If you still have this error, then your codebase is simply not up-to-date. This change was made earlier this week and the IDE was updated at the same time.

I am not able to replicate this on my own computer(s), so the problem must be on your end. I actually just tried to set up a clean VM, run the installer (and manually) to test this -- and dit not have any problems at all.

[2016-03-26 22:07] rodrigoselau commented on #361
ok, thanks this is now it works, but now mysql handler this with the following error "Uncaught RangeError: Maximum call stack size exceeded", have any idea what it is?

[2016-03-26 22:14] andersevenrud commented on #361
If you update your codebase again this issue should be resolved :)

[2016-03-26 22:27] rodrigoselau commented on #361
ok, thanks ;)

[2016-03-29 12:47] black-star-dust opened #362 "hmm"
An error occured while trying to launch: ApplicationTerminal

[2016-03-29 12:58] andersevenrud commented on #362
Was this on the demo server ?

[2016-03-29 13:49] andersevenrud commented on #362
If this was on your local setup, make sure you follow the instructions properly

To me it looks like either:

1. You have not built everything correct
2. Had a temporary connection issue

[2016-04-02 22:17] andersevenrud commented on #362
Closing due to inactivity

[2016-04-02 22:17] #362 closed

[2016-04-03 10:13] ht68 opened #364 "file upload error in file manager application"
I tried to upload a file from file manager application, after browsing for file this error occurred
[code]
[code]
what should I do?
thanks

[2016-04-03 13:06] #364 closed

[2016-04-03 13:06] andersevenrud commented on #364
Just update your codebase :)

[2016-04-03 15:34] khoaakt commented on #304
Ahem, long time do not feedback for osjs :smile:
I will talk about the desktop. Now, it's just support 'Shortcut' and can't copy or create file or folder on it. So, turn desktop into a folder like other operating systems!

[2016-04-06 12:11] eslamtech opened #365 "Tetris game"

[2016-04-06 18:07] andersevenrud commented on #365
This should be fixed in https://github.com/os-js/OS.js-games/commit/695fd310ee0af905886223eda9404fa389655985

Demo-server will be updated this weekend.

Thanks!

[2016-04-06 18:07] #365 closed

[2016-04-09 17:00] andersevenrud commented on #304
@khoaakt I'll look into that, but the current desktop icon view was designed to work as shortcuts.

I can maybe provide both solutions and have it in Settings

[2016-04-09 19:45] junland commented on #329
@andersevenrud I was wondering if this might be possible, but when I wanted to create a new icon set using font-awesome, I saw that there was so many categories and icons in `/src/client/themes/icons/` that it would almost be impossible to replace the current icon set with a custom one. (Maybe there a grunt command that I'm missing or something.) Anyways, was wondering if it would be possible to j

[2016-04-09 19:55] andersevenrud commented on #329
@junland OS.js uses GTK (Gnome) icon themes, hence the directory structure and the name of the icons. There's a plethora of icon packs, hence why I chose it.

Currently all icons used are PNG, but SVG is coming soon.

Something like this would be nice. I could make icon themes have a "parent" attribute, so that it builds it like you described when running the grunt [theme] command(s).

---

To get

[2016-04-09 20:01] andersevenrud commented on #329
@junland Updated the script and list so the output is sorted -- may be a bit easier on the eyes.

[2016-04-09 20:16] andersevenrud commented on #329
@junland You can now do this in your theme metadata file to use a parent.

[code]

Also, you can now run `grunt themes:icons` to build icon packs.

[2016-04-10 13:36] pringles49 opened #366 "[Applications] Applications created with the IDE can not be opened twice"
Une erreur inconnue est survenue, peut-être un bug.

[code]

`closing app`
![sans_ti_34_tre](https://cloud.githubusercontent.com/assets/18288140/14410433/bd095474-ff2f-11e5-89b5-8412ecfeeed2.jpg)
`opening app`
![sans_titre](https://cloud.githubusercontent.com/assets/18288140/14410500/49c85990-ff31-11e5-89a5-27412743367e.jpg)

`the message appear`
![4](https://cloud.githubusercontent.com/assets/182

[2016-04-10 15:45] andersevenrud commented on #366
Thanks!

Confirmed -- looking into it :)

[2016-04-10 15:59] #366 closed

[2016-04-10 15:59] andersevenrud commented on #366
Allright mr. @pringles49. This issue has been resolved :)

[2016-04-11 13:07] junland commented on #329
Yes, however I know the material theme has to within material guide lines, and if people were to use the material theme by default and want a cohesive UI they would have to swap out the default icons with the correct material icons (Which google provides.). :)

Nice I'll have to look at it :)

[2016-04-11 13:12] andersevenrud commented on #329
@junland If you find the time to make a material (or font awesome) icon pack, then please, go ahead.

There's a project that is reminiscent of googles design, but fits better on desktop: https://snwh.org/paper/icons

[2016-04-11 13:16] junland commented on #329
@andersevenrud I was thinking about doing that just haven't had the time to go and do it :)

[2016-04-11 14:46] davidpaulrosser opened #367 "Cannot save a text file to the VFS"
## Expected behaviour

1. Open textpad
2. Enter some text
3. Save file to /User
4. File saved

## Actual behaviour

1. Open textpad
2. Enter some text
3. Save file to /User
4. File Dialog error: You need to select a file or enter new filename!

## Steps to reproduce the error

1. Open textpad
2. Enter some text
3. Save file to /User
4. File Dialog error: You need to select a file or enter new file